{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans "Account activated" %}{% endblock %}
 	
{% block content %}
<div class="grid_8">
    <h2>{% trans "Account activated" %}</h2>
    {% if account %}
    {% url index as login_url %}
    <p>{% trans 'Thanks for signing up! Now you can <a href="{{ login_url }}">log in</a>.' %}</p>
    {% else %}
    <p>
        {% blocktrans %}<strong>Sorry, it didn't work.</strong> Either your activation link was incorrect, or
        the activation key for your account has expired; activation keys are
        only valid for {{ expiration_days }} days after
        registration.{% endblocktrans %}
    </p>
    {% endif %}
</div>
{% endblock %}