{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block extra_stylesheets %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/base.css{% endblock %}" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% load adminmedia %}{% admin_media_prefix %}css/ie.css{% endblock %}" /><![endif]-->
<style type="text/css" media="screen">
	fieldset { border: 1px solid #eee; padding: 1em; margin-bottom: 1.5em; }
	legend { font-size: 1em; font-weight: bold; }
	
    label { width: 100px; float:left; }
	
    input[type=text],
    input[type=password] { width: 300px; }
</style>
{% endblock %}

{% block content %}
<div>

    <form method="post" action="?next={{ next|default:"/" }}">
        {% csrf_token %}
        <h2>{% trans "Log in" %}</h2>
        <p>{% blocktrans %}If you don't have an account, you can <a href="/accounts/register/">sign up for one here</a>.{% endblocktrans %}</p>
    	<fieldset id="login">
            <legend>{% trans "Log in" %}</legend>
            {{ form.as_p }}
       </fieldset>
		<p><input type="submit" value="{% trans "Log in" %}" /></p>
    </form>
</div>
{% endblock %}
