{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Log out" %}{% endblock %}



{% block content %}
<div class="grid_8">
    <h2>{% trans "You've been logged out" %}</h2>
    {% url auth_login as index_url %} 
    <p>{% blocktrans %}Thanks for stopping by; when you come back, don't forget to <a href="{{ index_url }}">log in again</a>.{% endblocktrans %}</p>
</div>
{% endblock %}
