{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset successful' %}{% endblock %}

{% block content %}
<div class="grid_8 one-column ">
    <h2>{% trans 'Password reset successful' %}</h2>

    <p>{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}</p>
    {% include "redir_to_index_js.html" %}
</div>
{% endblock %}
