{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}
    <div class="grid_8 one-column">
        <h2>{% trans 'Password reset complete' %}</h2>
        <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
        {% comment %}
        <p><a href="{% url index %}"><strong>{% trans 'Log in' %} &raquo;</strong></a></p>
        {% endcomment %}
        {% include "redir_to_index_js.html" %}
    </div>
{% endblock %}
