{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password change successful' %}{% endblock %}

{% block content %}
<div class="grid_8">
    <h2>{% trans 'Password change successful' %}</h2>
    <p>{% trans 'Your password was changed.' %}</p>
</div>
{% endblock %}
