{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<style type="text/css" media="screen">
    form .fieldWrapper input {
        width: 271px;
        padding: 6px 2px;
    }

</style>
<div class="one-column">
    <h2>{% trans "Password reset" %}</h2>
    {% if form.errors %}
    <ul class="system_messages">
        <li>{% trans "Some information was not submitted correctly. Please refer below for details." %}</li>
    </ul>
    {% endif %}
    <div class="grid_8">

        <form action="{% url django.contrib.auth.views.password_reset %}" method="post">
            {% csrf_token %}
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
            <div class="fieldWrapper">
                <label for="id_email">{% trans 'E-mail address' %}</label>
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <p class="submit"><input class="button" type="submit" value="{% trans 'Reset my password' %}" /></p>
        </form>
    </div>
</div>
{% endblock %}
