{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
<style type="text/css" media="screen">
    table input {
        width: 271px;
        padding: 6px 2px;
    }
    table th {
        width: 100px;
    }

</style>
<div class="grid_8 one-column">
{% if validlink %}
    <h2>{% trans 'Enter new password' %}</h2>

    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        {% comment %}
        <!--
        <fieldset>
            <legend>{% trans "Your new password" %}</legend>
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            <div class="fieldWrapper">
                <label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}
                {{ form.new_password1.errors }}
            </div>
            <div class="fieldWrapper">        
                <label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}
                {{ form.new_password2.errors }}
            </div>
        </fieldset>
        --!>
        {% endcomment %}
        <p class="submit"><input class="button" type="submit" value="{% trans 'Change my password' %}" /></p>
</form>

{% else %}

    <h2>{% trans 'Password reset unsuccessful' %}</h2>
    <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
</div>
{% endblock %}
