{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sign up" %}{% endblock %}

{% block content %}
<div class="grid_16"><h2>{% trans "Sign up" %}</h2></div>
<div class="grid_8">
    <ol>
        <li>{% trans "Fill out and submit the form (all fields are required)" %}</li>
        <li>{% trans "Your account will be created; you'll be sent an email with instructions on how to activate your account" %}</li>
        <li>{% trans "Log in" %}</li>
    </ol>
    <p><strong>{% trans "We'll only use your email to send you signup instructions. We hate spam as much as you do." %}</strong></p>
    <h3>{% trans "And then?" %}</h3>
    <p>{% trans "It's free to sign up and evaluate the service, but to [...] you'll have to make a payment." %}</p>
</div>
<div class="grid_8">
    <form method="post" action="{% url registration_register %}">        
        {% csrf_token %}
        <fieldset>
            <legend>{% trans "Choose your username and password " %}</legend>
            {# comment  {{ form.as_p }}  endcomment #}
            <div class="fieldWrapper">
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.email.errors }}
            </div>
            <div class="fieldWrapper">
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {{ form.password1.errors }}
            </div>
            <div class="fieldWrapper">
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {{ form.password2.errors }}
            </div>
        </fieldset>

        <fieldset>
            <legend>{% trans "Terms of service" %}</legend>
            <h4>{% trans "Most important stuff from below" %}</h4>
            <div class="scrollable terms_of_service">
            </div>
            <div class="fieldWrapper checkbox">
                <div>{{ form.tos }} {{ form.tos.label_tag }}</div>
                {{ form.tos.errors }}
            </div>
        </fieldset>
        
        <p class="submit"><input type="submit" value="{% trans "Register" %}" /></p>
    </form>
</div>
{% endblock %}
