{% extends "base.html" %}
{% block content %}
<script type="text/javascript">
                $(document).ready(function() {
                    $("#matches-all").addClass("ui-tabs-hide");
                    $('a[href="#requested-all"]').click(function() {
                        if ($(".big-tab-left-generic").hasClass("ui-tabs-selected ui-state-active") == false)
                            {
                                $(".big-tab-left-generic").addClass("ui-tabs-selected ui-state-active");
                                $(".big-tab-right-generic").removeClass("ui-tabs-selected ui-state-active");
                                $("#requested-all").removeClass("ui-tabs-hide");
                                $("#matches-all").addClass("ui-tabs-hide");
                            };
                             return false;
                    });
                    
                    $('a[href="#requests-all"]').click(function() {
                        if ($(".big-tab-right-generic").hasClass("ui-tabs-selected ui-state-active") == false)
                            {
                                $(".big-tab-left-generic").removeClass("ui-tabs-selected ui-state-active");
                                $(".big-tab-right-generic").addClass("ui-tabs-selected ui-state-active");
                                $("#matches-all").removeClass("ui-tabs-hide");
                                $("#requested-all").addClass("ui-tabs-hide");
                            };
                              return false;
                    });
                });
</script>
<div class="tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="big-tab-left-generic ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
            <a href="#requested-all">You Like</a>
        </li>
        <li class="big-tab-right-generic ui-state-default ui-corner-top">
            <a href="#requests-all">Likes You</a>
        </li>
    </ul>
    <div id="matches-all" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        <div id="yw0" class="list-view endless_page_template">
             {% include "likes/likes_you_all_page.html" %}
        </div>
    </div>
    <div id="requested-all" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
        <div id="yw2" class="list-view endless_page_template">
            {% include "likes/you_likes_all_page.html" %}
        </div>
    </div>
</div>
{% endblock %}
