<script type="text/javascript">
  $(document).ready(function() {
                    $('#tab2').hide();
                    $('a[href="#matches"]').click(function() {
                        if ($("#matchesPanel ul .small-tab-left").hasClass("ui-tabs-selected ui-state-active") == false)
                            {
                                $("#matchesPanel ul .small-tab-left").addClass("ui-tabs-selected ui-state-active");
                                $("#matchesPanel ul .small-tab-right").removeClass("ui-tabs-selected ui-state-active");
                                $("#matches").removeClass("ui-tabs-hide");
                                $("#ui-tabs-2").addClass("ui-tabs-hide");
                                };
                                $('#tab1').show();
                                $('#tab2').hide();
                                return false;
                    });
                    $('a[href="#ui-tabs-2"]').click(function() {
                        if ($("#matchesPanel ul .small-tab-right").hasClass("ui-tabs-selected ui-state-active") == false)
                            {
                                $("#matchesPanel ul .small-tab-left").removeClass("ui-tabs-selected ui-state-active");
                                $("#matchesPanel ul .small-tab-right").addClass("ui-tabs-selected ui-state-active");
                                $("#ui-tabs-2").removeClass("ui-tabs-hide");
                                $("#matches").addClass("ui-tabs-hide");
                                };
                                $('#tab2').show();
                                $('#tab1').hide();
                                return false;
                    });
                });
</script>
<div class="tabs container ui-tabs ui-widget ui-widget-content ui-corner-all" id="matchesPanel">
<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
    <li class="small-tab-left ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
      <a href="#matches">You Like</a>
      <a href="{{ linktoall }}" id="tab1" class="show-all">Show all »</a>
    </li>
    <li class="small-tab-right ui-state-default ui-corner-top">
      <a href="#ui-tabs-2">Likes You</a>
      <a href="{{ linktoall }}" id="tab2" class="show-all">Show all »</a>

    </li>
</ul>
<div id="matches" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
    <div id="youLikeWidget" class="list-view endless_page_template">
        {% include "likes/likes_you_widget_page.html" %}
    </div>
</div>
<div id="ui-tabs-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
    <div id="likesYouWidget" class="list-view endless_page_template">
        {% include "likes/you_likes_widget_page.html" %}
    </div>
</div>
</div>


