{% load endless statis_pagin thumbnail %}
{% load user_safe_mode %}
{% paginate numitem likesyou using "all_likes_you" %}
<ul class="profiles list-view-all">
    {% for like in likesyou %}
    <li class="profile-onlineMembers-info">
    <a href="{% if like.user %}{% url view_profile slug=like.user.slug %}{% endif %}" class="img-lnk">
            <span>
                <!-- IE --> </span>
            {% if like.get_avatar %}
            {% thumbnail like.user|if_safe:request.user "150x150" crop="center" as small_ava %}
            <img src="{{ small_ava.url }}" width="150" height="150">
            {% empty %}
            <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_looking_for_display|lower }}_150.png" width="150" height="150">
            {% endthumbnail %}
            {% else %}
            <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_looking_for_display|lower }}_150.png" width="150" height="150">
            {% endif %}
      
            {% if like.user.is_paid %}
            <span class="premium">
                <!-- IE --> </span>
            {% endif %}
        </a>
        <div class="info name">
            <a href="{% if like.user %}{% url view_profile slug=like.user.slug %}{% endif %}" class="name">
                <span class="name">{{ like.user }}</span>
                {% if like.user.is_online_now %}
                <span class="online">
                    <!-- IE --> </span>
                {% endif %}
         
            </a>

        </div>
        <div class="location">{{ like.user.location }}</div>
    </li>
    {% endfor %}
</ul>
<div class="clear"></div>
{% get_pages %}
<div class="pagination">
    <ul class id="yw3">{% set_pagin pages numpag %}</ul>
</div>
