{% load endless statis_pagin thumbnail %}
{% load user_safe_mode %}
{% paginate numitem youlikes using "all_you_likes" %}
<ul class="profiles list-view-all">
{% for like in youlikes %}
    <li class="profile-onlineMembers-info">
    <a href="{% if like.like %}{% url view_profile slug=like.like.slug %}{% endif %}" class="img-lnk">
            <span>
                <!-- IE --> </span>
            {% if like.like.get_avatar %}
                {% thumbnail like.like|if_safe:request.user "150x150" crop="center" as small_ava %}
                    <img src="{{ small_ava.url }}" width="150" height="150">
                {% empty %}
                    <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_looking_for_display|lower }}_150.png" width="150" height="150">
                {% endthumbnail %}
            {% else %}
                <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_looking_for_display|lower }}_150.png" width="150" height="150">
            {% endif %}
            {% if like.like.is_paid %}
            <span class="premium">
                <!-- IE --> </span>
            {% endif %}
        </a>
        <div class="info name">
            <a href="{% if like %}{% url view_profile slug=like.like.slug %}{% endif %}" class="name">
                <span class="name">{{ like.like }}</span>
        {% if like.like.is_online_now  %}
                <span class="online">
                    <!-- IE --> </span>
        {% endif %}
            </a>

        </div>
        <div class="location">{{ like.like.location }}</div>
    </li>
{% endfor %}
</ul>
<div class="clear"></div>
{% get_pages %}
<div class="pagination">
    <ul class id="yw3">
    {% set_pagin pages numpag %}
    </ul>
</div>
