{% load endless statis_pagin thumbnail %}
{% load user_safe_mode %}
{% paginate numitem usersOnline using "widget_online_all" %}
<ul class="profiles list-view-all">
    {% for profile in usersOnline %}
    <li class="profile-onlineMembers-info">
        <a href="/profile/view/{{ profile.user.slug }}" class="img-lnk">
            <span>
                <!-- IE --> </span>
            {% if profile.get_avatar %}
            {% thumbnail profile|if_safe:user "150x150" crop="center" as small_ava %}
            <img src="{{ small_ava.url }}" width="150" height="150">
            {% empty %}
            <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_looking_for_display|lower }}_150.png" width="150" height="150">
            {% endthumbnail %}
            {% else %}
            <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_looking_for_display|lower }}_150.png" width="150" height="150">
            {% endif %}
            <span class="premium">
                <!-- IE --> </span>
        </a>
        <div class="info name">
            <a href="/profile/view/{{ profile.slug }}" class="name">
                <span class="name">{{ profile.username }}</span>
                {% if profile.is_paid %}
                <span class="online">
                    <!-- IE --> </span>
                {% endif %}
            </a>

        </div>
        <div class="location">{{ profile.location }}</div>
    </li>
    {% endfor %}
</ul>
<div class="clear"></div>
{% get_pages %}
<div class="pagination">
    <ul class id="yw3">
    {% set_pagin pages numpag %}
    </ul>
</div>

