{% extends "base.html" %}
{% block content %}
<style type="text/css">
    div.online_div {
        -webkit-background-clip: border-box;
        -webkit-background-origin: padding-box;
        -webkit-background-size: auto;
        -webkit-border-image: none;
        -webkit-font-smoothing: subpixel-antialiased;
        -webkit-transition-delay: 0s;
        -webkit-transition-duration: 0.30000001192092896s;
        -webkit-transition-property: color;
        -webkit-transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
        background-attachment: scroll;
        background-clip: border-box;
        background-color: white;
        background-image: none;
        background-origin: padding-box;
        background-size: auto;
        border-bottom-color: black;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-style: none;
        border-bottom-width: 0px;
        border-left-color: black;
        border-left-style: none;
        border-left-width: 0px;
        border-right-color: black;
        border-right-style: none;
        border-right-width: 0px;
        border-top-color: black;
        border-top-style: none;
        border-top-width: 0px;
        color: black;
        display: block;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 13px;
        font-style: normal;
        font-weight: normal;
        height: 406px;
        line-height: 19px;
        margin-bottom: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 0px;
        outline-color: black;
        outline-style: none;
        outline-width: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        text-decoration: none;
        text-rendering: optimizelegibility;
        text-shadow: white 0px 1px 0px;
        vertical-align: baseline;
        width: 970px;
        word-wrap: break-word;
    }
</style>
<div id="online-all" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
    <div id="online-all2" class="list-view endless_page_template online_div">
        {% include "viewed/online_widget_all.html" %}
    </div>
</div>

{% endblock %}
