{% load endless statis_pagin thumbnail %}
{% load user_safe_mode %}
{% paginate numitem users_registered using "registered_widget_all" %}
<style type="text/css">
    div.name_div{}

	     
	     </style>
<ul class="profiles list-view-all">
    {% for profile in users_registered %}
    <li class="profile-onlineMembers-info">
        <a href="/profile/view/{{ profile.user.slug }}" class="img-lnk">
            <span>
                <!-- IE --> </span>
            {% if profile.get_avatar %}
            {% thumbnail profile|if_safe:user "150x150" crop="center" as small_ava %}
            <img src="{{ small_ava.url }}" width="150" height="150">
            {% empty %}
            <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_looking_for_display|lower }}_150.png" width="150" height="150">
            {% endthumbnail %}
            {% else %}
            <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_looking_for_display|lower }}_150.png" width="150" height="150">
            {% endif %}
            {% if profile.is_paid %}           
            <span class="premium">
                <!-- IE --> </span>
            {% endif %}
        </a>
        <div class="info name">
            <a href="/profile/view/{{ profile.slug }}" class="name">
                <span class="name name_div">{{ profile.username }}</span>
                </a>

        </div>


        <div class="location">{{ profile.location }}</div>
    </li>
    {% endfor %}
</ul>
<div class="clear"></div>
{% get_pages %}
<div class="pagination">
    <ul class id="yw3">
    {% set_pagin pages numpag %}
    </ul>
</div>

