<script type="text/javascript">
  $(document).ready(function() {
                    $('#tab4').hide();
                    $('a[href="#youViewed"]').click(function() {
                        if ($("#profileViewPanel ul .small-tab-left").hasClass("ui-tabs-selected ui-state-active") == false)
                            {
                                $("#profileViewPanel ul .small-tab-left").addClass("ui-tabs-selected ui-state-active");
                                $("#profileViewPanel ul .small-tab-right").removeClass("ui-tabs-selected ui-state-active");
                                $("#youViewed").removeClass("ui-tabs-hide");
                                $("#viewedYou").addClass("ui-tabs-hide");
                                };
                                $('#tab3').show();
                                $('#tab4').hide();
                                return false;
                    });
                    $('a[href="#viewedYou"]').click(function() {
                        if ($("#profileViewPanel ul .small-tab-right").hasClass("ui-tabs-selected ui-state-active") == false)
                            {
                                $("#profileViewPanel ul .small-tab-left").removeClass("ui-tabs-selected ui-state-active");
                                $("#profileViewPanel ul .small-tab-right").addClass("ui-tabs-selected ui-state-active");
                                $("#viewedYou").removeClass("ui-tabs-hide");
                                $("#youViewed").addClass("ui-tabs-hide");
                                };
                                $('#tab4').show();
                                $('#tab3').hide();

                                return false;
                    });
                });
</script>
<div class="tabs container ui-tabs ui-widget ui-widget-content ui-corner-all" id="profileViewPanel">
    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
        <li class="small-tab-left ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
        <a href="#youViewed">You Viewed</a>
        <a href="{{ linktoall }}" id="tab3" class="show-all">Show all »</a>
        </li>
        <li class="small-tab-right ui-state-default ui-corner-top">
        <a href="#viewedYou">Viewed You</a>
        <a href="{{ linktoall }}" id="tab4" class="show-all">Show all »</a>
        </li>
    </ul>
    <div id="youViewed" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
        <div id="youViewedWidget" class="list-view endless_page_template">
                {% include "viewed/you_viewed_widget_page.html" %}
        </div>
    </div>
    <div id="viewedYou" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
        <div id="viewedYouWidget" class="list-view endless_page_template">
                {% include "viewed/viewed_you_widget_page.html" %}
        </div>
    </div>
</div>

