{% load endless statis_pagin thumbnail %}
{% load user_safe_mode %}
{% paginate numitem youviewed using "all_you_viewed" %}
<ul class="profiles list-view-all">
    {% for profile in youviewed %}
    <li class="profile-onlineMembers-info">
        <a href="/profile/view/{{ profile.user.slug }}" class="img-lnk">
            <span>
                <!-- IE --> </span>
            {% if profile.get_avatar %}
            {% thumbnail profile.user|if_safe:user "150x150" crop="center" as small_ava %}
            <img src="{{ small_ava.url }}" width="150" height="150">
            {% empty %}
            <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_looking_for_display|lower }}_150.png" width="150" height="150">
            {% endthumbnail %}
            {% else %}
            <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_looking_for_display|lower }}_150.png" width="150" height="150">
            {% endif %}
            {% if profile.user.is_paid %}           
            <span class="premium">
                <!-- IE --> </span>
            {% endif %}
        </a>
        <div class="info name">
            <a href="/profile/view/{{ profile.user.slug }}" class="name">
                <span class="name">{{ profile.user }}</span>
                {% if profile.user.is_authenticated %}
                <span class="online">
                    <!-- IE --> </span>
                {% endif %}
            </a>

        </div>
        <div class="location">{{ profile.user.location }}</div>
    </li>
    {% endfor %}
</ul>
<div class="clear"></div>
{% get_pages %}
<div class="pagination">
    <ul class id="yw3">
        {% set_pagin pages numpag %}
    </ul>
</div>
