{% extends "base.html" %}
{% load static %}
{% load thumbnail %}
{% load user_safe_mode %}
{% get_static_prefix as STATIC_PREFIX %}
{% block header_tabs %}
  {% with "messages" as tab %}{% include "_tabs.html" %}{% endwith %}
{% endblock header_tabs %}
{% block css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}datingCenter.css" media="screen, projection">
{% endblock css %}
{% block content %}
<div id="wrapper">
	<div class="left-side">
	<div class="tabs container ui-tabs ui-widget ui-widget-content ui-corner-all">
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			<li class="ui-state-default ui-corner-top" id="big-tab-dashboard-updates">
				<a href="#updates">Updates</a>
			</li>
			<li class="ui-state-default ui-corner-top ui-state-inactive ui-tabs-selected ui-state-active" id="big-tab-dashboard-messages">
				<a data-update="/event/updateLastViewedMessagesTab" href="#messages">Messages								</a>
			</li>
			<li class="ui-state-default ui-corner-top ui-state-inactive" id="mutual-likes-tab">
				<a data-update="/event/updateLastViewedMatchesTab" href="#mutual-likes">Matches								</a>
			</li>
		</ul>
		<div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="updates">
			<div class="updates-list">
				<ul id="dashboard-updates-list">
			<li class="write">
				<div class="image">
					<img width="48" height="48" src="http://images.xdating.com/internal/no_photo_man_48.png">
									</div>
				<div class="message update-input">
					<textarea title="Write something..." style="overflow-y: hidden; position: absolute; top: 0px; left: -9999px; height: 33px; width: 420px; line-height: 16px; text-decoration: none; letter-spacing: normal;" tabindex="-1">Write something...</textarea><textarea title="Write something..." id="messageBody" style="overflow-y: hidden;">Write something...</textarea>
				</div>
				<div class="message-footer update-input-footer">
				</div>
				<div class="other">
					<button id="sendUpdate" class="btn ">Send</button>
				</div>
				<div class="left-chars-counter">
					140				</div>
				<div class="clear"></div>
                </li>
            </ul>
            <ul>
                <li class="show-more-messages">
			<a rel="2" href="" id="showMoreUpdatesDashboard">
				<span>
					Show More				</span>
			</a>
            </li>
            </ul>







		
			</div>
			<div class="clear"></div>
		</div>
		<div class="ui-tabs-panel ui-widget-content ui-corner-bottom" id="messages">
			<div class="messages-list">
                <ul id="dashboard-messages-list">


<li class="show-more-messages">
	<a rel="1" href="" id="showMorePrivateMessagesDashboard">
		<span>
			Show More		</span>
	</a>
</li></ul>
			</div>
			<div class="clear"></div>
		</div>
		<div class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide" id="mutual-likes">
			<a class="show-all" href="/userList/likes#matches-all">Show all »</a>
			<div class="matches-list">
				<ul id="dashboard-matches-list"><li class="no-matches">
	<p class="no-matches-message">You have no matches yet.</p>
	<p class="no-matches-info-text">Start liking users now and if they like you back you will become a match.</p>
	<p class="no-matches-search-link"><a title="Start your search now!" href="/search">Search for your first match!</a></p>
	<p class="no-matches-dashboard-photo-female"><!-- IE --></p>
</li></ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>
	<div class="right-side">

	


	</div>
</div>


<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
          $('textarea').keyup(function() {
          var letters = 140 - $(this).val().length;
          $("div .left-chars-counter").html(letters);
          });

          $('#showMoreUpdatesDashboard').click(function(){
              var cur_items = $('.update-type-1').size();
              var item = 'update';
              $.get('/get_more/', {cur_items: cur_items, item:item}, onUpdateMore);
              return false;
              });
          function onUpdateMore(data){
          $("#dashboard-updates-list").append(data)};
            


          $('.show-more-messages').click(function(){
              var cur_items = $('.message_li').size();
              var item = 'message';
              $.get('/get_more/', {cur_items: cur_items, item:item}, onMessageMore);
              return false;
              });
          function onMessageMore(data){
                $(".left-side .messages-list ul li").append(data)};
                




          $.get('/getUpdateData/',{},onUpdateSuccess).pipe(
              function(){
                console.log('1');
                $.get('/getMessageData/',{},onMessageSuccess)
                }).pipe(
                function(){
                        console.log('2');
                        $.get('/getviewed/',{},onViewedWidgetSuccess)
                        }).pipe(
                            function(){
                                console.log('3');
                                $.get('/getlikes/',{},onLikesWidgetSuccess)
                                }).pipe(
                                    function(){
                                        console.log('4');
                                        $.get('/getonline/',{},onOnlineWidgetSuccess)
                                        }).pipe(
                                            function(){
                                                console.log('5');
                                                $.get('/getlast/',{},onRegisteredWidgetSuccess)
                                                }).pipe(
                                                    function() {
                                                        console.log('6');
                                                        $(".ui-dialog").css({"top":"-1580px"});
                                                        $(".ui-widget-overlay").hide();
                                                        })
                                        
              
            
            function onUpdateSuccess(data){
            $("#dashboard-updates-list").append(data)};
            function onMessageSuccess(data){
            $(".left-side .messages-list ul").prepend(data)};
            function onViewedWidgetSuccess(data){
            $(".right-side").append(data)};
            function onLikesWidgetSuccess(data){
            $(".right-side").append(data)};
            function onOnlineWidgetSuccess(data){
            $(".right-side").append(data)};
            function onRegisteredWidgetSuccess(data){
            $(".right-side").append(data)};

            $(".delete").live("click", function(){
                    var url = $(this).attr('href');
                    var element = $(this);
                    $.ajax({
                        method: 'GET',
                        url: url,
                        dataType: 'json',
                        success: function(data) {
                            element.parents('.message_li').remove();
                            },
                        });
                    return false;
                    });






            $("#messageBody").focus(function() {
                    if ($(this).val()=='Write something...'){
                        $(this).val('');
                    };
                    });
            $("#messageBody").focusout(function() {
                        if ($(this).val()==''){
                            $(this).val('Write something...');
                        };
                    });     

            $("#sendUpdate").click(function(){
                $.get('/check_payment/', {}, postUpdateData);
                });
            
            function postUpdateData(data){
                console.log(data);
                if (data == '1') {
                    var updateText = $("#messageBody").val();
                    $.post('/postupdate/', {update: updateText}, clearData);
                } else {
                    alert("You need to subscribe... We will redirect you to the subscribe page.");
                    window.location.href = "{% url subscribe %}";
                };
            };
            function clearData(data){
                $("#messageBody").val('Write something...');
                $(".left-side .updates-list ul li:eq(1)").prepend(data);

            };

    })
</script>
{% endblock %}


