/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

html{
	font-size:100.01%;
}
body{
	font-family:'Helvetica Neue',Helvetica, Arial, sans-serif;
	background:#ECECEC;
	padding:0;
	margin:0;
	font-size:12px;
	text-rendering: optimizeLegibility;
}

*{
	-moz-outline-style: none;
	outline:none;
	-webkit-font-smoothing: subpixel-antialiased;
	text-decoration:none;
	word-wrap:break-word;
	-webkit-transition: color 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out;
	-moz-transition-property: color 0.3s ease-in-out;
}

*:focus{
	-moz-outline-style: none;
	outline:none;
}

.clear {
	clear: both;
}

.center {
	text-align: center;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:24px;line-height:1;margin-bottom:5px;}
h2 {font-size:20px;margin-bottom:8px;}
h3 {font-size:15px;line-height:1;margin-bottom:12px;}
h4 {font-size:12px;line-height:1.25;margin-bottom:12px;}
h5 {font-size:12px;font-weight:bold;margin-bottom:15px;}
h6 {font-size:12px;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 15px;}
p img.left {float:left;margin:15px 15px 15px 0;padding:0;}
p img.right {float:right;margin:15px 0 15px 15px;}
a:focus, a:hover {color:#000;}
a {color:#EC2282;text-decoration:none;}
blockquote {margin:15px;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 15px;font-style:italic;}
del {color:#666;}
pre {margin:15px 0;white-space:pre;}
pre, code, tt {font:12px 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 15px 15px 0;padding-left:30px;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {}
dl dt {}
dd {}
table {margin-bottom:14px;width:100%;}
th {font-weight:bold;}
thead th {background:#c3d9ff;}
th, td, caption {padding:4px 10px 4px 5px;}
tr.even td {background:#e5ecf9;}
tfoot {font-style:italic;}
caption {background:#eee;}
hr {height: 0px; border-top:1px solid #ccc; background: #fff;}
.small {font-size:8px;margin-bottom:18px;line-height:18px;}
.large {font-size:12px;line-height:25px;margin-bottom:12px;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}
.error-msg {background:none repeat scroll 0 0 #FBE3E4; border:2px solid #FBC2C4; color:#8A1F11; margin-bottom:12px; padding:4px;}

input {
	font-family:'Helvetica Neue',Helvetica, Arial, sans-serif;
	font-size:12px;
	-moz-box-shadow:1px 2px 1px #ECECEC inset;
	border:1px solid #D8D8D8;
	}

input:focus {
	border-color:#F70073;
	}

button:focus {
	outline: none;
}

button::-moz-focus-inner { border: 0; }

textarea {
	font-family:'Helvetica Neue',Helvetica, Arial, sans-serif;font-size: 12px;
}

textarea.expanded {
	height: 66px !important;
}

a img {
	border:1px solid rgba(255,255,255,0);
}

a img:hover {
	border:1px solid #f70073;
	border-color:rgba(247,0,115,0.65);
}

a:focus, a:active{
	outline:none;
}

ul, form, textarea, select, input{
	margin:0;
	padding:0;
}

img {
	-webkit-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	-moz-transition-property: opacity 0.3s ease-out;
}

img:hover {
	opacity:0.90;
}

.clear{
	clear:both;
}

.fleft{
	float:left;
}

.fright{
	float:right;
}

.ajax-loading, .ui-dialog.ajax-loading, .list-view.loading, .ui-dialog .ui-dialog-content.ajax-loading {
	min-height:100px;
	min-width:100px;
	background:transparent url(/static/ajax_loader.gif) center center no-repeat;
}

h1,h2,h3,h4,h5,h6 { font-weight: normal; color: #111; }

h1 { font-size: 24px; line-height: 1; margin-bottom: 5px; }
h2 { font-size: 20px; margin-bottom: 8px; }
h3 { font-size: 15px; line-height: 1; margin-bottom: 12px; }
h4 { font-size: 12px; line-height: 1.25; margin-bottom: 13px; }
h5 { font-size: 12px; font-weight: bold; margin-bottom: 15px; }
h6 { font-size: 12px; font-weight: bold; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
	margin: 0;
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

/*button{
	color:#000;
	text-shadow:0 1px #fff;
	height:28px;
	line-height:28px;
	font-size:12px;
	font-weight:700;
	margin:0;
	padding:0;
	background:url(/static/btn_bg.png) top left repeat-x;
	border:none;
	border-right:1px solid #bcbcbc;
	border-left:1px solid #bcbcbc;
	padding:0 15px;
	cursor:pointer;
	outline:none;
}

button:active, button:focus, button::-moz-focus-inner{
	outline: none;
	-moz-outline-style: none;
}*/



button,a.button,input.button {
	font-family:'Helvetica Neue',Helvetica, Arial, sans-serif;
	display: inline-block;
	min-height: 35px;
	margin: 5px;
	padding: 7px 12px;
	border: 1px solid #b60056;
	border-bottom-color: #940046;
	color: white;
	font-size: 12px;
	text-align: center;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
	text-decoration: none;

	/*Border radius*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	/*Background*/
	background: url('/static/btn_generic_bg.png') repeat-x #c1005b;
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #ff81bd),
					color-stop(1, #c1005b)
				);
	background: -moz-linear-gradient(
					center top,
					#ff81bd 20%,
					#c1005b 100%
				);
	background: gradient(
					center top,
					#ff81bd 20%,
					#c1005b 100%
				);

	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/,
						inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/,
						0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/,
					inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/,
					0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/,
				inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/,
				0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
}

button:hover,
button.hover,
button.active,
a.button:hover,
input.button:hover {
	/*Background*/
	background: #d91471; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #ee569e),
					color-stop(1, #a5004e)
				);
	background: -moz-linear-gradient(
					center top,
					#ee569e 20%,
					#a5004e 100%
				);
	cursor:pointer;
}

button:active,
button.active
a.button:active,
input.button:active {
	border-color: #940046;

	/*Box shadow*/
	-webkit-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
						0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	-moz-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
					0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
				0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
}

button.inactive,
a.button.inactive,
input.button.inactive {
	border: 1px solid #d5d5d5;
	border-bottom-color: #e6e2e2;
	color: #aeaeae;
	text-shadow: 0 1px 0 white;

	/*Background*/
	background: #e6e6e6; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #f3f3f3),
					color-stop(1, #e6e6e6)
				);
	background: -moz-linear-gradient(
					center top,
					#f3f3f3 20%,
					#e6e6e6 100%
				);

	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/,
						inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/,
						0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/,
					inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/,
					0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/,
					inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/,
					0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
}

button.disabled
a.button.disabled
input.button.disabled {
	color:hsla(0,0%,100%,.7);
}

textarea.message{
	font-size:14px;
	padding:5px;
	border:1px solid #D8D8D8;
	background:url("/static/shadow_textbox.png") repeat-x scroll left top transparent;
}

textarea.abuse {
	height:150px;
	width:467px;
	font-size: 12px;
}

.abuse button.send {
	float:left;
	margin-left:0;
}

.abuse button.cancel-window {
	float:left;
}


textarea.message.empty, textarea.empty{
	color:#ccc;
	font-weight:700;
}

:focus { -moz-outline-style: none; }

.delete{
	/*background:url(/static/delete_normal.png) top left no-repeat;*/
	background:url(/static/general_sprite.png) -606px -684px no-repeat;
	height:22px;
	width:22px;
	display:block;
	text-indent:-9999px;
}

.delete:hover, .delete.hover{
	/*background:url(/static/delete_hover.png) top left no-repeat;*/
	background:url(/static/general_sprite.png) no-repeat -606px -532px;
	cursor:pointer;
	display:block;
	height:22px;
	width:22px;
}

.ui-tabs-hide {display:none}

.ui-dialog.no-close-button .ui-dialog-titlebar {
	display:none;
}

.ui-dialog .ui-dialog-content.default-content {
	padding-top:25px;
	text-align:center;
}

#container{
	width:990px;
	margin:10px auto;
	padding:0;
}

#header {
	height:60px;
	/*background:url('/static/header_bg.png') no-repeat scroll left top transparent;*/
	background:#000 url('/static/general_sprite.png') no-repeat -606px -1292px;
	width:978px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #000;
}

#header .logo {
	float:left;
	margin-left:18px;
}

#header .logo a {
	display:block;
	text-indent:-9999px;
	/*background:url(/static/logo.png) top left no-repeat;*/
	background:url(/static/general_sprite.png) no-repeat -606px -1468px;
	width:133px;
	height:60px;
}

@media only screen and (max-device-width: 480px) {
	#header .logo a {
		background:url(/static/logo.png) no-repeat;
	}
	#header {
		background:#000 url('/static/header_bg.png') no-repeat;
	}
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px){
	#header .logo a{
		background:url(/static/logo.png) no-repeat;
		border-top:solid 1px #000;
		margin-top:-1px;
	}
	#header {
		background:#000 url('/static/header_bg.png') no-repeat;
	}
}

#header .user-info{
	float:left;
	height:40px;
	margin:10px 0 0 35px;
}

#header .user-info .image{
	float:left;
}

#header .user-info .edit{
	float:left;
	color:#fff;
	text-shadow:0 -1px #000;
	margin-left:10px;
}

#header .user-info .edit span{
	font-size:12px;
	font-weight:normal;
}

#header .user-info .edit a{
	font-size:18px;
	font-weight:normal;
	color:#fff;
	display:block;
}

#header .menu{
	float:right;
}

#header .menu ul{
	list-style-type:none;
}

#header .menu ul li{
	float:left;
	padding:0;
	margin:15px 0 5px 5px;
}

#header .menu ul li.last{
	background:none;
	padding-right:0;
}

#header .menu ul li a {
	color:#fff;
	font-size:13px;
	line-height:32px;
	padding:0 6px 4px;
	display:block;
	text-shadow:#000 0 -1px;
	height: 30px;
}

#header .menu ul li a.last {
	margin-right:5px;
}

#header .menu ul li a:hover, #header .menu ul li a.current {
	background: #c1005b; /*Fallback*/
	background:#EC6BA6 url('/static/bg_menu_selected.png') repeat-x;
	text-shadow:#bb0058 0 -1px;
   	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#header .menu ul li.last a:hover, #header .menu ul li.last a.current {
}

#header .menu ul li a.current{

}

#header #sign-out-link {
	font-size: 12px;
	font-weight: normal;
	display:inline
}

#header #editProfile {
	display: inline;
}

#header #profile-upgrade-link-comma {
	display: inline;
	color: #AAA;
}

#header .user-info .edit #profile-upgrade-link {
	display: inline-block;
	background:url('/static/general_sprite.png') no-repeat -665px -1632px;
	padding:20px 70px 0 0;
}

#header .user-info .edit #profile-upgrade-link:hover {
	color:#EC2282;
}

#header .user-info .edit #profile-upgrade-link span {
	display:none;
}


.pagination {
	margin: 0 0 1px 0;
	clear:both;
}

#matches-all .pagination {
	margin:0 10px 10px 10px;
}

#requested-all .pagination {
	margin:0 10px 10px 10px;
}

#requests-all .pagination {
	margin:0 10px 10px 10px;
}


#youViewed-all .pagination {
	margin:0 10px 20px 10px;
}

.pagination ul {
	width:100%;
	text-align:center;
	min-height:21px;
}

.pagination ul li {
	display:inline-block;
}

.pagination ul li.first {
	display:none;
}

.pagination ul li.last {
	display:none;
}

.pagination ul li a {
	display:inline-block;
	height:14px;
	min-width:15px;
	line-height:20px;
	background:#f3f3f3;
	text-align:center;
	color:#000;
	font-weight:700;
	margin:0 2px;
	padding:0 2px 3px;
	border:1px solid #999;
}

.pagination ul li a:hover {
	background: #ddd;
	border-color: #666;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	position: relative;
}


.pagination ul li.previous {
	float:left;
}

.pagination ul li.previous a {
	width:auto;
	border:none;
	color:#000;
	text-shadow:0 1px #f3f3f3;
	background:url(/static/prevnext_img.png) left -13px no-repeat;
	padding-left:15px;
	margin-right:8px;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.pagination ul li.previous a:hover {
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}

.pagination ul li.next {
	float:right;
}

.pagination ul li.next a {
	background:url(/static/prevnext_img.png) right 4px no-repeat;
	margin-right:8px;
	padding-right:15px;
	width:auto;
	border:none;
	color:#000;
	text-shadow: 0 1px #f3f3f3;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}

.pagination ul li.next a:hover {
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}

.pagination ul li.previous.hidden a {
	background-position:left -48px;
	text-shadow:0 1px #e9e9e9;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	border:none;
	color:#c4c4c4;
}

.pagination ul li.previous.hidden a:hover {
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}

.pagination ul li.next.hidden a {
	background-position:right -30px;
	text-shadow:0 1px #e9e9e9;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	border:none;
	color:#c4c4c4;
}

.pagination ul li.selected {

}

.pagination ul li.selected a {
	background:none;
	color:#000;
	text-shadow:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	border:none;
}

.pagination ul li.selected a:hover {
	-webkit-transform: none;
	-moz-transform: none;
	transform: none;
}


#wrapper{
	background:#222;
	margin-top:5px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius:6px;
	padding:5px;
	overflow:hidden;
}

#wrapper h1{
	margin:0;
	padding:0;
	font-size:18px;
	color:#fff;
	float:left;
	margin-bottom:17px;
}

#wrapper .one-column {
	background: #fff url('/static/box_generic_bg.png') bottom repeat-x;
	padding:10px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	float:left;
	min-height: 200px;
	width:950px;
}

#wrapper .one-column h1{
	color:#000;
	width:100%;
}

#wrapper .left-side{
	width:532px;
	float:left;
	margin:0;
}

#wrapper .left-side .ui-tabs .ui-widget-content{
	padding:10px 10px 8px 10px;
	min-height:881px;
	background: #fff url('/static/box_generic_bg.png') bottom repeat-x;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.featuredProfiles {
	background: #fffbdf;
	border: 1px solid #ffdf1d;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.profilesList {
	font-size: 13px;
}

.profilesList a span.name {
	font-size: 16px;
	display: block;
	color:#EC2282;
}

.profilesList a span.name:hover {
	color:#000;
}

.profilesList span.no-pictures {
	display: inline-block;
	/*background: url('/static/icon_photo.png') no-repeat 4px -1px;*/
	background: url('/static/general_sprite.png') no-repeat -602px -1403px;
	color:#9e9e9e;
	font-size: 11px;
	float:right;
	text-align: right;
	width: 30px;
	font-weight: 700;
	line-height: 1.5;
}

.profilesList ul li.profile-search-info {
	display: inline-block;
	width: 150px;
	padding: 6px 15px 8px 14px;
	margin:0 9px 10px 0;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	-border-radius:6px;
}

.profilesList ul li.profile-search-info:hover {
	-webkit-box-shadow: 0 0 10px #c5c5c5;
	-moz-box-shadow: 0 0 10px #c5c5c5;
	box-shadow: 0 0 10px #c5c5c5;
}

.profilesList ul li.profile-search-info.last,
.profilesList ul li.profile-search-info.featured.last
{
	margin:0;
}


.profilesList ul li.profile-search-info .short-info {
	font-size: 11px;
	margin:0 0 5px 0;
}

.profilesList ul li.profile-search-info .short-info .online {
	background: #29da11;
	float:right;
	height:6px;
	width: 6px;
	border:1px solid #44f72c;
	border-bottom:1px solid #15a302;
	border-right:1px solid #15a302;
	margin-top:9px;
}

.profilesList .profiles {

}

#wrapper .featuredPage .featuredProfilesContainer {
	background: #FFFBDF !important;
	border: 1px solid #FFDF1D;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding-bottom: 10px;
}

#wrapper .featuredPage .featuredProfilesContainer #featuredTitle {
	font-size: 1.7em;
	margin: 10px 10px 0;
}

#wrapper .featuredPage .featuredProfilesContainer #getFeatured {
	background: url('/static/featured_button_small.png') no-repeat;
	border: none;
	box-shadow: none;
	width: auto;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	height: 30px;
	line-height: 30px;
	padding: 0;
	text-align: center;
	width: 140px;
}

#wrapper .featuredPage .featuredProfilesContainer li.previous {
	margin-left: 8px;
}

#wrapper .featuredPage .featuredProfilesContainer #profileSearchList .profiles .featured .short-info span.no-pictures {
	background: url("/static/noPicturesGold.png") no-repeat scroll center center transparent;
}

#wrapper .featuredPage .featuredProfilesContainer #profileSearchList .profiles .featured .location {
	color: #c4a600;
}

#skipGetFeatured {
	color: #B6B6B6;
	text-decoration: underline;
	margin-top: 10px;
	display: block;
	font-size: 14px;
}

.profile-icon-new-flag {
	width:34px;
	background:#f70073;
	display:block;
	float:left;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #fff;
	text-align: center;
	font-weight: 700;
	font-size: 11px;
	text-shadow:none;
	position:absolute;
	margin:3px 0 0 3px;
	z-index:999;
}

#profile-search-form {
	font-size: 12px;
	background: #fff;
	padding:10px 10px 0 10px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

#profile-search-form #searchContainer {
	background: #f8f8f8;
	border:1px solid #d7d7d7;
	padding: 6px 10px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
}

#profile-search-form #searchContainer li {
	height: 50px;
	min-height: 50px;
	border-right:1px solid #d7d7d7;
	padding:0 24px 0 0;
	margin:0 8px 0 0;
}

#profile-search-form #searchContainer li select,input {
	margin:0 0 5px 0;
}

#profile-search-form #searchContainer li label {
	display: inline-block;
	width: 58px;
	line-height: 1.5;
}

#profile-search-form #searchContainer li label.title {
	font-weight: 700;
}

#profile-search-form #searchContainer li.search-i-am {
	padding-left: 8px;
	padding-right: 15px;
}

#profile-search-form #searchContainer li.search-i-am label.title {
	width: 37px;
	line-height: 12px;
}

#profile-search-form #searchContainer li.search-i-am #SearchForm_gender {
	margin-left: 2px;
}

#profile-search-form #searchContainer li.search-looking-for {
	padding: 0 20px 0 5px;
}

#profile-search-form #searchContainer li.search-in label.title {
	width: 34px;
}

#profile-search-form #searchContainer li.search-in #where_country{
	width: 149px;
}

#profile-search-form #searchContainer li.search-in #where_city{
	width: 145px;
	padding: 2px;
}

#profile-search-form #searchContainer li.search-looking-for label {
	width: 38px;
	white-space: nowrap;
}

#profile-search-form #searchContainer li.search-looking-for label.title {
	width: 70px;
}

#profile-search-form #searchContainer li.search-looking-for span.checkboxList {
	display: inline-block;
	margin-left: 2px;
}

#profile-search-form #searchContainer li.search-ages label {
	width: 34px;
}

#profile-search-form #searchContainer li.search-who-are {
	padding-right: 10px;
}

#profile-search-form #searchContainer li.search-who-are label {
	width: 70px;
}

#profile-search-form #searchContainer li.search-who-are label.title {
	width: 50px;
	margin-right: 5px;
}

#profile-search-form #searchContainer li.search-button {
	border-right:none;
	padding:0 0 0 10px;
	margin:0;
}

.profilesList li div.location {
	font-size:12px;
	color: #aaaaaa;
	margin-top:5px;
}

.profilesList .profile-newMembers-info {
	float:left;
	text-align: center;
	margin:0 7px 10px 0;
}

.profilesList .profile-newMembers-info div.image a {
	display: block;
}

.profilesList .profile-newMembers-info span.name {
	display: inline;
	margin-right:3px;
}

.profilesList .profile-newMembers-info .online {
	background: #29da11;
	height:6px;
	width: 6px;
	border:1px solid #44f72c;
	border-bottom:1px solid #15a302;
	border-right:1px solid #15a302;
	margin-top:9px;
	display: inline-block;
}

.profilesList .profile-newMembers-info.last {
	margin:0;
}

.profilesList .profile-onlineMembers-info {
	float:left;
	text-align: center;
	margin:0 7px 10px 0;
}

.profilesList .profile-onlineMembers-info div.image a {
	display: block;
}

.profilesList .profile-onlineMembers-info span.name {
	display: inline;
	margin-right:3px;
}

.profilesList .profile-onlineMembers-info .online {
	background: #29da11;
	height:6px;
	width: 6px;
	border:1px solid #44f72c;
	border-bottom:1px solid #15a302;
	border-right:1px solid #15a302;
	margin-top:9px;
	display: inline-block;
}

.profilesList .profile-onlineMembers-info.last {
	margin:0;
}

.messages-list{
	margin:0;
	float:left;
}

.messages-list ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

.messages-list ul li{
	margin-bottom:5px;
	overflow:hidden;
	width:100%;
}

.messages-list li.loading{
	background:url(/static/ajax_loader.gif) center center no-repeat;
	height: 200px;
	width: 530px;
}

.widget-loading {
	background:url(/static/ajax_loader.gif) center center no-repeat;
	height: 313px;
	width: 423px;
}

.messages-list ul li .image {
	float:left;
	height:102px;
	width:102px;
}

.messages-list ul li .image a {
	display: block;
	height: 102px;
	width: 102px;
}

.messages-list ul li .message {
	/*background:transparent url(/static/bubbles.png) no-repeat 0 -250px;*/
	background:transparent url(/static/general_sprite.png) no-repeat 0 -539px;
	float:right;
	margin-left:-1px;
	width:369px;
	font-size:12px;
	text-shadow:none;
	line-height:1.4;
	padding: 4px 10px 3px 18px;
}

.messages-list ul li .message.dashboard {
	min-height:90px;
	cursor: pointer;
}

.messages-list ul li .message.new {
	background-position:0 -289px;
}

.messages-list ul li .message-footer {
	/*background:transparent url(/static/bubbles.png) no-repeat left bottom;*/
	background:transparent url(/static/general_sprite.png) no-repeat 0 -785px;
	width:397px;
	height:4px;
	float:right;
}

.messages-list ul li .message-footer.new {
	background-position:0 -535px;
}

.messages-list ul li .message .header{

}

.messages-list ul li .message .header .name {
	color:#ec2282;
	font-size: 12px;
}

.messages-list ul li .message .header .name:hover {
	color: #000;
}

.messages-list ul li .message .header .info {
	color:#aaaaaa;
	font-size:12px;
}

.messages-list ul li .message .header .report-user{
	margin-left:5px;
	font-size:12px;
	font-weight:normal;
}

.messages-list ul li .message .header .report-user a{
	color:#b8b8b8;
}

.messages-list ul li .message .header .when{
	float:right;
	color:#b8b8b8;
	font-size:12px;
	font-weight:normal;
	margin:1px 0 0 0;
}

.messages-list ul li .message .header .delete{
	position:relative;
	float:right;
	margin:0 -5px 0 5px;
}

.messages-list ul li .message .content{
	font-size:12px;
	font-weight:normal;
	line-height:1.3;
}

.messages-list ul li .message .content p{
	margin:0;
	padding:0;
}

.messages-list ul li .message .content .show-more a{
	font-weight:700;
	font-size: 11px;
}

.messages-list ul li .message .content .message-read-more {
	font-weight:700;
}

.messages-list ul li .message .content .message-read-more:hover {
	color:#ec2282;
}

.messages-list ul li .message .content .message-new-flag {
	width:34px;
	background:#f70073;
	display:block;
	margin-top:37px;
	float:right;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	opacity:1;
	color: #fff;
	text-align: center;
	font-weight: 700;
	font-size: 11px;
}

.messages-list ul li .ww-message .header {
	padding:10px 10px 0 10px;
}

.messages-list ul li .message .ww-content {

}

.messages-list ul li .message .ww-content p a {
	text-decoration: underline;
}

.messages-list ul li .message .ww-content a.message-read-more {
	margin-top:10px;
}

.messages-list ul li .message .ww-content p a:hover {
	text-decoration: none;
}

.messages-list ul li .message .ww-content h2 {
	padding: 15px 0 0px 10px;
	font-size: 18px;
	margin: 0;
}

.messages-list ul li .message .ww-content .ww-upload {
	background:transparent url(/static/welcome_img1.png) no-repeat;
	height: 40px;
	padding: 30px 0 0 100px;
	margin-top: 5px;
}

.messages-list ul li .message .ww-content .ww-edit {
	background:transparent url(/static/welcome_img2.png) no-repeat;
	height: 40px;
	padding: 30px 0 0 100px;
}

.messages-list ul li .message .ww-content .ww-search {
	background:transparent url(/static/welcome_img3.png) no-repeat;
	height: 40px;
	padding: 30px 0 0 280px;
}

.messages-list ul li .message .ww-content .ww-help {
	padding: 10px;
}

.messages-list ul li .message .ww-content .ww-intro {
	height: 40px;
	padding: 10px 0 0 10px;
}

.messages-list ul li .message .ww-content .ww-username {
	font-weight: bold;
	padding: 5px 10px 10px 10px;
}

.messages-list ul li .message .free-upgrade-content {

}

.messages-list ul li .message .free-upgrade-content p {
	line-height: 1.5;
	margin-bottom: 10px;
}

.messages-list ul li .message .free-upgrade-content h2 {
	font-size: 16px;
	margin: 5px 0 10px 0;
}

.messages-list ul li .message .free-upgrade-content a {
	color: #EC2282;
}

.messages-list ul li .message textarea{
	font-family:'Helvetica Neue',Helvetica, Arial, sans-serif;
	font-size:12px;
	border:none;
	background:transparent !important;
	width:100%;
	padding:0;
	overflow:visible;
	display:block;
	height:35px;
}

.messages-list ul li .message textarea.expanded {
	height:150px !important;
}

.messages-list ul li.show-more-messages button{
	width:100%;
	margin-top:10px;
	background:url(/static/btn_bg_2.png) top left repeat-x;
	height:38px;
	font-size:12px;
}

.messages-list ul li.show-more-messages button.loading{
	background:url(/static/ajax.gif) center center no-repeat;
	border:1px solid #BCBCBC;
	text-indent:-9999px;
}

.messages-list ul li.write .image{
	/*background:url(/static/tooltip_conversation_shadow.png) right 10px no-repeat;*/
}

.messages-list ul li.write .message{
	/*background:url(/static/shadow_textbox.png) top left repeat-x; */
	padding:7px 10px 3px 18px;
}

.messages-list ul li .other{
	float:left;
	clear:left;
	margin:5px 0 15px 65px;
}

.messages-list .no-messages {
	text-align: center;
	width: 510px;
	margin:20px 0 0 0;
}

.messages-list .no-messages {
	font-size: 16px;
}

/* Updates dashboard */

.updates-list{
	margin:0;
	float:left;
}

.updates-list ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

.updates-list ul li{
	margin-bottom:5px;
	overflow:hidden;
	width:100%;
}

.updates-list ul li{
	margin-bottom:5px;
	overflow:hidden;
	width:100%;
}

.updates-list ul li .image {
	float:left;
	height:50px;
	width:50px;
}

.updates-list ul li .message{
	/*background:transparent url(/static/bubbles_updates.png) no-repeat 0 -250px;*/
	background:transparent url(/static/general_sprite.png) no-repeat 0 -1939px;
	float:right;
	margin-left:-1px;
	width:420px;
	font-size:12px;
	text-shadow:none;
	line-height:1.4;
	padding: 5px 10px 3px 18px;
}

.updates-list ul li .message.new {
	background-position:0 0;
}

.updates-list ul li .message-footer {
	/*background:transparent url(/static/bubbles_updates.png) no-repeat left bottom;*/
	background:transparent url(/static/general_sprite.png) no-repeat 0 -2185px;
	width:448px;
	height:4px;
	float:right;
}

.updates-list ul li .update-input {
	/*background:transparent url(/static/bubbles_updates_input.png) no-repeat;*/
	background:transparent url(/static/general_sprite.png) no-repeat -606px 0px;
}

.updates-list ul li .update-input-footer {
	/*background:transparent url(/static/bubbles_updates_input.png) no-repeat left bottom;*/
	background:transparent url(/static/general_sprite.png) no-repeat -606px -246px;
}

.updates-list ul li .message-footer.new {
	background-position:0 -246px;
}

.updates-list ul li .message .header{
	height:19px;
}

.updates-list ul li .message .header .name {
	color:#ec2282;
	font-size: 12px;
}

.updates-list ul li .message .header .name:hover {
	color: #000;
}

.updates-list ul li .message .header .info {
	color:#aaaaaa;
	font-size:12px;
}

.updates-list ul li .message .header .report-user{
	margin-left:5px;
	font-size:12px;
	font-weight:normal;
}

.updates-list ul li .message .header .report-user a{
	color:#b8b8b8;
}
.ui-tabs .ui-tabs-nav li {
    border-bottom: 0 none !important;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 1px;
    white-space: nowrap;
}
.updates-list ul li .message .header .when{
	float:right;
	color:#b8b8b8;
	font-size:12px;
	font-weight:normal;
	margin:1px 0 0 0;
}

.updates-list ul li .message .header .delete{
	position:relative;
	float:right;
	margin:0 -5px 0 5px;
}

.updates-list ul li .message .content{
	margin:1px 0;
	font-size:12px;
	font-weight:normal;
	line-height:1.3;
}

.updates-list ul li .message .content p{
	margin:0;
	padding:0;
}

.updates-list ul li .message .content .show-more a{
	font-weight:700;
	font-size: 11px;
}

.updates-list ul li .message .content .message-read-more {
	font-weight:700;
}

.updates-list ul li .message .content .message-read-more:hover {
	color:#ec2282;
}

.updates-list ul li .message .content .message-new-flag {
	width:34px;
	background:#f70073;
	display:block;
	margin-top:37px;
	float:right;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	opacity:1;
	color: #fff;
	text-align: center;
	font-weight: 700;
	font-size: 11px;
}

.updates-list ul li .message textarea{
	font-family:'Helvetica Neue',Helvetica, Arial, sans-serif;
	font-size:12px;
	border:none;
	background:transparent !important;
	width:100%;
	padding:0;
	overflow:visible;
	display:block;
	margin-top:5px;
	height: 33px;
}

.updates-list ul li.show-more-messages button{
	width:100%;
	margin-top:10px;
	background:url(/static/btn_bg_2.png) top left repeat-x;
	height:38px;
	font-size:12px;
}

.updates-list ul li.show-more-messages button.loading{
	background:url(/static/ajax.gif) center center no-repeat;
	border:1px solid #BCBCBC;
	text-indent:-9999px;
}

.updates-list ul li.write .image{
	/*background:url(/static/tooltip_conversation_shadow.png) right 10px no-repeat;*/
}

.updates-list ul li.write .message{
	/*background:url(/static/shadow_textbox.png) top left repeat-x; */
}

.updates-list ul li .other{
	float:left;
	margin:5px 0 15px 67px;
}

.left-chars-counter {
	float:right;
	margin:15px 0 0 0;
	font-weight:bold;
	font-size:18px;
	color: #ccc;
	font-family: Georgia;
}

.left-chars-counter.counter-error-length {
	color:#EC2282;
}

.updates-list .no-messages {
	text-align: center;
	width: 510px;
	margin:20px 0 0 0;
}

.updates-list .no-messages {
	font-size: 16px;
}

/* End updates dashboard */


/* Matches dashboard */

.matches-list{
	margin:0;
	float:left;
}

.matches-list ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

.matches-list li.loading {
	background:url(/static/ajax_loader.gif) center center no-repeat;
	height: 200px;
	width: 530px;
}

.matches-list ul li{
	margin-bottom:5px;
	overflow:hidden;
	width:100%;
}

.matches-list ul li{
	margin-bottom:5px;
	overflow:hidden;
	width:100%;
}

.matches-list ul li .image {
	float:left;
	height:102px;
	width:102px;
}

.matches-list ul li .image a {
	display: block;
	height: 102px;
	width: 102px;
}

.matches-list ul li .match {
	/*background:transparent url(/static/bubbles.png) no-repeat 0 -250px;*/
	background:transparent url(/static/general_sprite.png) no-repeat 0 -539px;
	float:right;
	margin-left:-1px;
	width:369px;
	font-size:12px;
	text-shadow:none;
	line-height:1.4;
	padding: 4px 10px 3px 18px;
}

.matches-list ul li .match.dashboard {
	min-height:90px;
}

.matches-list ul li .match-footer {
	/*background:transparent url(/static/bubbles.png) no-repeat left bottom;*/
	background:transparent url(/static/general_sprite.png) no-repeat 0 -785px;
	width:397px;
	height:4px;
	float:right;
}

.matches-list ul li .match .header{

}

.matches-list ul li .match .header .name {
	color:#ec2282;
	font-size: 12px;
}

.matches-list ul li .match .header .name:hover {
	color: #000;
}

.matches-list ul li .match .header .info {
	color:#aaaaaa;
	font-size:12px;
}

.matches-list ul li .match .header .report-user{
	margin-left:5px;
	font-size:12px;
	font-weight:normal;
}

.matches-list ul li .match .content{
	font-size:12px;
	font-weight:normal;
	line-height:1.6;
	padding-top:5px;
}

.matches-list ul li .match .content p{
	margin:0;
	padding:0;
}

.matches-list .no-matches {
	width: 510px;
	margin:10px 0 0 0;
	font-size: 16px;
}

.matches-list .no-matches p {
	margin:0;
}

.matches-list .no-matches .no-matches-message {
	font-weight: bold;
}

.matches-list .no-matches .no-matches-info-text {
	font-size:14px;
}

.matches-list .no-matches .no-matches-search-link {
	padding: 10px 0 0 0;
}

.matches-list .no-matches .no-matches-search-link a {
	color:#EC2282;
	text-decoration:underline;
	font-size: 18px;
	font-weight: bold;
}

.matches-list .no-matches .no-matches-dashboard-photo-male {
	background:transparent url(/static/no_matches_dashboard_male.png) no-repeat center center;
	height: 484px;
	margin: 15px 0 0 0;
}

.matches-list .no-matches .no-matches-dashboard-photo-female {
	background:transparent url(/static/no_matches_dashboard_female.png) no-repeat center center;
	height: 484px;
	margin: 15px 0 0 0;
}

.matches-list .match-aditional-photos {

}

.matches-list .match-days-ago {

}

.matches-list .match-contact-match {
	color:#EC2282;
	font-weight: 700;
}

#mutual-likes {
	padding:0 10px 0 10px;
	background:url("/static/box_generic_bg.png") repeat-x scroll center bottom #FFFFFF;
	margin-bottom:10px;
	text-shadow: none;
}

#mutual-likes .show-all {
	font-size:12px;
	font-weight:700;
	margin-right:10px;
	margin-top:0;
	position:absolute;
	z-index:100;
	color:#B6B6B6;
	margin:-40px 0 0 -62px;
	text-shadow:none;
}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	#mutual-likes .show-all {
		margin:0px 0 0 450px;
	}
}

#mutualLikes {
	background: #fff;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

/* End matches dashboard */


.wide-messages ul li .image {
	width:50px;
	height:50px;
}

.wide-messages ul li .message {
	width:528px;
	/*background:transparent url(/static/bubbles_profile.png) no-repeat 0 -250px;*/
	background:transparent url(/static/general_sprite.png) no-repeat 0 -2239px;
	min-height:35px;
}

.wide-messages ul li .message-footer {
	width:556px;
	/*background:transparent url(/static/bubbles_profile.png) no-repeat left bottom;*/
	background:transparent url(/static/general_sprite.png) no-repeat 0 -1335px;
}

.messages-list ul li .message-input {
	/*background:transparent url(/static/bubbles_profile_input.png) no-repeat;*/
	background:transparent url(/static/general_sprite.png) no-repeat 0 -1389px;
}

.messages-list ul li .message-input-footer {
	/*background:transparent url(/static/bubbles_profile_input.png) no-repeat left bottom;*/
	background:transparent url(/static/general_sprite.png) no-repeat 0 -1335px;
}

#wrapper .right-side{
	float:right;
	margin:0 0 0 5px;
	width:428px;
}

#wrapper .right-side .container{
	margin-bottom:10px;
}

#wrapper .right-side .container .ui-widget-content{
	padding:5px;
	padding-right:0;
	background: #fff url('/static/box_generic_bg.png') bottom repeat-x;
	min-height: 184px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#wrapper .right-side .container ul.profiles{
	margin:0;
	padding:0;
	list-style-type:none;
}

#wrapper .right-side .container ul.profiles li{
	float:left;
	margin-right:3px;
	margin-bottom:8px;
	width:102px;
	height:138px;
	overflow:hidden;
}

#wrapper .top-side ul.profiles li{
	float:left;
	margin-right:5px;
	margin-bottom:8px;
}

#wrapper .right-side .container ul.profiles li a {
	display:block;
	width:100px;
	min-height:100px;
}


#wrapper .right-side .container ul.profiles li .name{
	text-align:center;
	display:block;
	color: #ec2282;
	font-size: 12px;
	-webkit-transition: color 0.3s ease-out;
	-o-transition: color 0.3s ease-out;
	-moz-transition-property: color 0.3s ease-out;
}

#wrapper .right-side .container ul.profiles li .name:hover {
	color:#000;
}

#wrapper .right-side .container ul.profiles li .info {
	font-weight: normal;
	color:#aaaaaa;
	font-size:12px;
}

#wrapper .right-side .container ul.profiles li .info:hover {
	color:#aaaaaa;
}

#wrapper .right-side .container ul.profiles li span.online{
	/*background:url(/static/online.png) top left no-repeat;*/
	background:url(/static/general_sprite.png) no-repeat -606px -1578px;
	display:block;
	text-indent:-9999px;
	float:left;
}

#wrapper .right-side .simple{
	background: #fff url('/static/box_generic_bg.png') bottom repeat-x;
	-moz-border-radius:6px 6px 0 0;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	border-radius:6px 6px 0 0;
	padding:5px;
	padding-right:0;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

#wrapper .right-side .simple .header{
	width:100%;
	height:40px;
	line-height:40px;
}

#wrapper .right-side .simple .header h3.title{
	font-size: 18px;
	text-shadow:none;
	margin: 10px 0 0 5px;
	padding:0;
	float:left;
	margin-left:5px;
}

#wrapper .right-side .show-all{
	float:right;
	margin: -43px 0 0 11em;
	margin-right:10px;
	color:#000;
  width:auto;
	font-weight:700;
	font-size: 12px;
	position:absolute;
	z-index:100;
}
#wrapper .right-side .show-all11{
	float:right;
	margin-right:10px;
	color:#000;
	font-weight:700;
	font-size: 12px;
	z-index:100;
}

#wrapper .right-side .header .show-all {
	position:relative;
}

#wrapper .right-side .tabs .show-all{
	color:#b6b6b6;
	text-shadow:none;
}

#wrapper #youViewed .show-all{
	float:left;
	margin-left:140px;
}

#wrapper #matches .show-all{
	float:left;
	margin-left:140px;
}

#footer{
	margin:10px 0 15px 0;
	width:auto;
	text-align:center;
}

#footer .menu{
	margin-bottom:10px;
}

#footer .menu ul{
	list-style-type:none;
	margin:0;
	padding:0;
	left:50%;
	position:relative;
	float:left;
}

#footer .menu ul li{
	display:block;
	float:left;
	position:relative;
	right:50%;
	margin:0 5px;
}

#footer .menu ul li a{
	color:#61605c;
	font-weight:700;
	text-shadow:#fff 0 1px;
	display:block;
	text-align:center;
	font-size:12px;
}

#footer .copyright{
	color:#AFAFAF;
	text-shadow:#fff 0 1px;
	font-size:12px;
	margin-bottom:5px;
}

#footer .legal-notice{
	color:#AFAFAF;
	text-shadow:#fff 0 1px;
	font-size:12px;
}

#footer .legal-notice a {
	color: #61605C;
	font-weight: 700;
	text-align: center;
	text-shadow: 0 1px #FFFFFF;
}


::-moz-selection {
	color: #fff;
	color: rgba(255,255,255,.85);
	background: #ec2282;
	}
::selection {
	color: #fff;
	color: rgba(255,255,255,.85);
	background: #ec2282;
	}

.match-message-text {
	font-size:16px;
	position: relative;
	margin-top:14px;
	display:block;
}

.mutual-like {
	margin-top:15px;
	margin-bottom:10px;
	font-size:18px;
	color:#F80072;
}

.ignored {
	margin-top:14px;
	margin-bottom:10px;
	font-size:18px;
}

.receiver-text {
	margin-top: -4px;
}


/* Search */

#searchContainer {background:#fff;overflow:hidden}
#searchContainer li {display:inline-block;padding:3px;vertical-align:text-top}
#searchContainer .title {line-height:20px;vertical-align:text-bottom}
/*#searchContainer .search-looking-for {}
#searchContainer .search-looking-for label {}
#searchContainer .search-looking-for input {}
#searchContainer .search-looking-for span {float:right; display: block;}*/
#searchContainer .search-who-are span {float:right; display: block;}
/*#searchContainer .search-in select {width:140px}
#searchContainer .search-near input {width:140px}*/
#searchContainer .search-ages label {display:inline-block;min-width:25px}
#searchContainer .search-ages select {}

#searchContainer li span {}
#searchContainer li span.bold {font-weight: 700;vertical-align: top;}

#wrapper .one-column div.no-results {text-align: center;}
#wrapper .one-column div.no-results span {font-size: 18px; font-weight: 700;}

/* Registration */

#registerForm {
	}

#registerForm button, #signinForm button {
	margin: 0;
	margin-top:10px;
	}

#registerForm dt, #signinForm dt {
	font-size: 12px;
	}

#registerForm input, #signinForm input {
	font-size: 16px;
	font-weight: 700;
	}

#registerForm input.email-address, input.password {
	width: 271px;
	padding: 6px 2px;
	}

#signinForm input.username, input.password {
	width: 271px;
	padding: 6px 2px;
}

#registerForm input.birthday {
	width: 96px;
	padding: 6px 2px;
}

#registerForm p.error-msg, #signinForm p.error-msg {
	padding:4px;
	margin-bottom:12px;
	border:2px solid #FBC2C4;
	background:#FBE3E4;
	color:#8a1f11;
}

#registerForm a.terms {
	border-bottom: 1px solid #ccc;
}

#registerForm a.terms:hover {
	text-decoration: none;
	color: #F70073;
}

#registerForm dt.birthday {
	margin-top:5px;
}

#registerForm dt.agree {
	margin:20px 0 10px 0;
}

#requestPasswordResetForm div.submit {
	padding-top:5px;
}

#sign-up-special-text {
	display:none;
}

.landing-search-login #registerForm input,
.landing-search-login  #signinForm input,
.landing-search-login #requestPasswordResetForm input {
	font-size: 14px;
	padding: 6px 8px;
}

.landing-search-login #registerForm input.email-address, .landing-search-login input.password {
	padding: 6px 8px
}

.landing-search-login #registerForm .captcha-container {
	margin: 0 auto;
	width: 290px;
}

.landing-search-login #registerForm .captcha-container input {
	width: 140px;
	margin-right: 10px;
}

.landing-search-login #registerForm .captcha-help {
	margin: 0 auto;
	width: 290px;
}

.landing-search-login, .landing-search-login #User_Register, .landing-search-login #User_Sign_In {
	border-radius:5px 5px 5px 5px;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	background-color:#FFFFFF;
	border:5px solid #939393;
}

.landing-search-login ul, .register-box-footer-link {
	display:none;
}

.landing-search-login .registration-special-title {
	display: block;
}

.registration-special-title {
	text-align: center;
	display:none;
}

.landing-search-login #sign-up-special-teaser {
	font-size:14px;
}

.landing-search-login #sign-up-special-title {
	display:block;
	padding-top: 5px;
}

.landing-search-login #sign-up-special-title b {
	color:#EC2282;
}

.landing-search-login .register-box-footer-link {
	display:block;
	margin-top:15px;
	color:#999;
}

.landing-search-login #requestPasswordResetForm dl, .landing-search-login #registerForm dl, .landing-search-login #signinForm dl, .landing-search-login #registerForm div.submit, .landing-search-login #signinForm  div.submit, .landing-search-login #requestPasswordResetForm div.submit {
	text-align:center;
}

.landing-search-login .error-msg {
	width: 276px;
	margin: auto;
}

#registration-special-submit-text {
	display: none;
}

.landing-search-login button span {
	display:none;
}

.landing-search-login button #registration-special-submit-text {
	display:inline;
}

/* Matches -> Show all, Requests -> Show all */
#matches-all ul.profiles, #requests-all ul.profiles, #requested-all ul.profiles {
	padding:10px 0 0 12px;
}

#matches-all ul.profiles li, #requests-all ul.profiles li, #requested-all ul.profiles li {
	float:left;
	margin:0 7px 10px 0;
}

#matches-all .info, #requests-all .info, #requested-all .info {
	text-align:center;
}

#matches-all a.name, #requests-all a.name, #requested-all a.name {
	color:#EC2282;
	font-size:16px;
}

#matches-all a .online, #requests-all a .online, #requested-all a .online {
	background:none repeat scroll 0 0 #29DA11;
	border-color:#44F72C #15A302 #15A302 #44F72C;
	border-style:solid;
	border-width:1px;
	display:inline-block;
	height:6px;
	margin-top:9px;
	width:6px;
}

#matches-all .location, #requests-all .location, #requested-all .location {
	text-align:center;
}


/* You viewed -> Show all, Viewed you -> Show all */
#youViewed-all ul.profiles, #viewedYou-all ul.profiles {
	padding:10px 0 0 12px;
}

#youViewed-all ul.profiles li, #viewedYou-all ul.profiles li {
	float:left;
	margin:0 7px 10px 0;
}

#youViewed-all .info, #viewedYou-all .info {
	text-align:center;
}

#youViewed-all a.name, #viewedYou-all a.name {
	color:#EC2282;
	font-size:16px;
}

#youViewed-all a .online, #viewedYou-all a .online {
	background:none repeat scroll 0 0 #29DA11;
	border-color:#44F72C #15A302 #15A302 #44F72C;
	border-style:solid;
	border-width:1px;
	display:inline-block;
	height:6px;
	margin-top:9px;
	width:6px;
}

#youViewed-all .location, #viewedYou-all .location {
	text-align:center;
}



.cancel-window {
	float:left;
	color:#aaa !important;
	font-size:12px;
	display:block;
}

.cancel-window.simple {
	float:right;
	margin:20px 5px 0 0;
}

.cancel-window:hover {
	color:#666 !important;
}

li.show-more-messages {
	background: url(/static/btn_bg_2.png) repeat-x;
	border:1px solid #ccc;
	height:36px;
	font-weight: 700;
	font-size:12px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

li.show-more-messages:active {
	background: url(/static/btn_bg_2_active.png) repeat-x;
	border-top:1px solid #999;
	border-bottom:1px solid #EEE;
	-webkit-box-shadow: inset 0 0 2px hsla(0,0%,0%,.3) /*Shine*/,
						0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	-moz-box-shadow: inset 0 0 2px hsla(0,0%,0%,.3) /*Shine*/,
					0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	box-shadow: inset 0 0 2px hsla(0,0%,0%,.3) /*Shine*/,
				0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
}

li.show-more-messages a {
	display:block;
	text-align:center;
	padding:10px;
}

li.show-more-messages a.loading span {
	display:none;
}

li.show-more-messages a.loading {
	display:block;
	background: url(/static/ajax.gif) no-repeat center 10px;
	height:28px;
}

li.update-type-1 {
}

li.update-type-2 {
}

li.update-type-3 {
}

.sign-up-header {
	font-size:14px;
	color:#fff;
	margin:9px 0 0 20px;
	float:left;
}

.sign-up-header a {
	color: #fff;
	text-decoration: underline;
}

.sign-up-header a:hover {
	color: #ccc;
}

.sign-up-header a.button {
	min-height: 10px !important;
	font-size: 12px;
}

.sign-up-header #sign-up-button {
	text-decoration: none;
}

#feedback-badge {
	display:none;
	/*background: url('/static/feedback.png') no-repeat;*/
	background: url('/static/general_sprite.png') no-repeat -606px -1118px;
	width:62px;
	height: 124px;
	margin-left:-25px;
}

#feedback-badge:hover {
	margin-left:-23px;
}

#feedback-badge:active {
	margin-left:-27px;
}

#feedback-badge span {
	display: none;
}

#feedbackForm h4 {
	font-size: 12px;
	font-weight: 700;
	margin-top:2px;
}

#feedbackForm .feedback-msg {
	margin-bottom:5px;
	font-size: 12px;
}

#feedbackForm .email-address {
	font-size: 12px;
	width:200px;
	height: 25px;
	padding: 0 0 0 5px;
}

#feedbackForm textarea {
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-size: 12px;
	width:417px;
	height:130px;
	margin-bottom: 5px;
}

#feedbackForm textarea:focus {
	border-color:#F70073;
}

#feedbackForm .send {
	float:left;
	margin-left:0;
}

#feedbackForm h1.help {
	font-size:24px;
	text-shadow: none;
	font-weight: normal;
}

#feedbackForm div.form-container {
	clear:left;
	font-size:12px;
}

#feedbackForm div.form-container .title {
	margin:5px 0;
}

#feedbackForm div.form-container button {
	margin:0;
}

#wrapper .helpContainer {
	width: 412px;
	font-size:12px;
	text-align: center;
	margin: 0 auto;
}

#wrapper .helpContainer h1 {
	font-size:18px;
	text-shadow: none;
	font-weight: normal;
	margin-bottom: 10px;
}

#wrapper .helpContainer p.intro {
	clear:left;
	font-size:12px;
}

#wrapper .helpContainer textarea.message {
	width:400px;
	height: 150px;
}

#wrapper .helpContainer input.email-address {
	width:402px;
	height: 24px;
	padding:2px 4px;
}

#wrapper .helpContainer button {
	margin-left:0;
}

#wrapper .helpAnswer {
	border: 2px solid #E5E5E5;
	padding:  20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#wrapper .helpAnswer h2 {
	color: #EC2282;
}


#wrapper .helpQuestions {
	margin-bottom: 15px;
	padding: 10px 0;
}

#wrapper .helpQuestions ul {
	list-style-type: square;
	list-style-position: inside;
}

#wrapper .helpQuestions ul li {
	width: 50%;
	float: left;
	padding: 0 0 15px 0;
}

#wrapper .helpQuestions ul li a{
	font-size: 14px;
	color: #000;
}

#wrapper .helpQuestions ul li a:hover, #wrapper .helpQuestions ul li a.active {
	color: #EC2282;
}

#wrapper .helpQuestions .left {
	float: left;
}

#wrapper .helpQuestions .right {
	float: right;
}


#helpForm {
	width:510px;
	margin: 10px 0 0 0;
}

#helpForm dt {
	font-size:14px;
}

#helpForm .email-address {
	width: 325px;
	height: 28px;
	padding: 0 0 0 5px;
	font-weight: bold;
	font-size: 14px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

#helpForm .message {
	width: 320px;
	height: 140px;
	font-size: 14px;
	resize: none;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

#helpForm .message:focus {
	border: 1px solid #F70073;
}

#helpForm .explain {
	padding: 0 0 10px 0;
}

.popup-feedback-box {
	min-height: 250px;
	min-width: 450px;
}

#wrapper .left-side .ui-tabs .ui-widget-content.ui-widget-content-non-registered {
	height:760px;
	min-height:760px;
}

#wrapper .right-side .non-registered {
	height:814px;
	min-height:814px;
}

#wrapper.non-registered {
	padding-bottom:0px;
}

#wrapper.non-registered .right-side .container ul.profiles li {
	height: 121px;
}

.popup-just-registered-box .ui-dialog-titlebar {
	display: none;
}

#just-registered-profile-box h4 {
	margin: 10px 0 15px 0;
	font-size: 18px;
	font-weight: bold;
}


#justRegisteredForm button {
	margin-right:0;
	font-size: 12px;
	float:right;
}

#justRegisteredForm dt {
	float:left;
	clear:left;
	margin:5px 10px 5px 0;
}

#justRegisteredForm dd {
	float:left;
	margin:5px 0;
}

#justRegisteredForm .submit {
	clear:both;
}

#justRegisteredForm dt.location {
	font-weight: 700;
	margin:10px 0 0 0;
}

#justRegisteredForm dd.location {
	clear:both;
}

#justRegisteredForm dd.location input.ac_input {
	font-size: 14px;
	width: 205px;
	padding: 2px;
}

#justRegisteredForm dt.looking-for {
	clear:none;
	margin:5px 10px 5px 10px;
}

#justRegisteredForm #where_country {
	width: 150px;
	margin: 0 10px 0 0;
}

#justRegisteredForm #where_city {
	width: 200px;
	padding:3px 4px;
}

#justRegisteredForm dd.cnt-suggested-username #suggested-username-input {
	font-size: 14px;
	padding: 2px;
	margin-top: -2px
}

#justRegisteredForm dd.cnt-suggested-username p.error-msg {
	margin-left: -140px;
}

#justRegisteredForm dd.padding p.error-msg {
	margin-left: -270px;
	margin-top: 5px;
}

#JustRegisteredForm_location {
	width:213px
}

#email-just-became-invalid-box h4 {
	margin: 10px 0 5px 0;
}

#email-just-became-invalid-box dd input {
		height:25px;
		margin:5px 0;
		padding-top:5px;
		width:99.2%;
}

#email-just-became-invalid-box .submit {
	clear:both;
}

#email-just-became-invalid-box .submit button {
	height:30px;
		margin:5px 0;
}

#request-password-lnk {
	margin: 10px 0 0 0;
	display:block;
}

#requestPasswordResetForm dt {
	font-size:12px;
}

#requestPasswordResetForm input {
	padding:6px 2px;
	width:271px;
	font-size:16px;
	font-weight:700;
}

#requestPasswordResetForm button {
	margin:0;
}

#resetPasswordForm dl {
	font-size: 12px;
}

#resetPasswordForm input {
	padding:6px 2px;
	width:271px;
}

#resetPasswordForm button {
	margin-left:0;
}

#report-abuse-box {
	font-size: 12px;
}

#report-abuse-box h4 {
	font-size: 14px;
}

#report-abuse-message-ok {
	text-align: justify !important;
}

.messageBoxButtons {
	font-size: 12px;
}

.messageBoxButtons button {

}

#editSettingsForm {}
#editSettingsForm dt {float:left;clear:left;font-size: 12px;padding: 6px 2px;width:170px;}
#editSettingsForm dd {float:left;font-size: 12px;}
#editSettingsForm dt.email-digest-title {font-weight: bold;margin-top:10px;}
#editSettingsForm dt.email-digest-check {width:14px;float:left;clear:none;margin-top:13px;}
#editSettingsForm dt.email-digest-check input {width:15px;}
#editSettingsForm dd.email-digest-label {padding-top:7px;float:left;margin:10px 5px 0 5px;}
#editSettingsForm dt.billing-recurring-check {width:20px;}
#editSettingsForm dt.billing-recurring-check input {width:15px;}
#editSettingsForm dd.billing-recurring-label {padding-top:7px}
#editSettingsForm input {width: 271px;padding: 6px 2px;}
#editSettingsForm div.submit {float:left;clear:left}
#editSettingsForm span.settings-pass {margin-left:10px; display: inline-block; color:#999;}

span.premium {
	/*background:url(/static/premium_badge.png) top left no-repeat;*/
	background:url(/static/general_sprite.png) -606px -1636px no-repeat;
	display:inline-block;
	width:52px;
	height:16px;
	margin-left:5px;
}

#header span.featured {
	background:url(/static/featured_star_white.png) top left no-repeat !important;
	width: 20px;
	vertical-align:-5px;
}

span.featured {
	background:url(/static/featured_badge.png) top left no-repeat;
	display:inline-block;
	width: 54px;
	height: 15px;
	margin-left: 2px;
}

ul.profiles span.featured {
	background: url('/static/featured_banner.png') no-repeat top right;
	width: 18px;
	height: 30px;
	float: right;
	position: absolute;
	margin: 1px 0 0 125px;
	z-index: 100;
}

span.administrator {
	background:url(/static/admin_badge.png) top left no-repeat;
	/*background:url(/static/general_sprite.png) -606px -1636px no-repeat;*/
	display:inline-block;
	width:44px;
	height:18px;
	margin-left:5px;
}

.viewEditProfile span.premium {
	vertical-align:-3px;
}

.viewEditProfile span.featured {
	vertical-align: -3px;
}

ul.profiles span.premium {
	float:right;
	/*background:url(/static/premium_star.png) bottom left no-repeat;*/
	background:url(/static/general_sprite.png) -606px -1702px no-repeat;
	display:inline-block;
	width:23px;
	height:23px;
	position:relative;
	margin:-30px 3px 0 0;
}

a.img-lnk img {
	display: block;
}

a.img-lnk span.premium {
	position:absolute;
	margin:-35px 0 0 60px;
}

a.img-lnk span.featured {
	margin: 1px 0 0 60px;
}

#mutual-likes .matches-list span.premium {
	float:right;
	/*background:url(/static/premium_star.png) bottom left no-repeat;*/
	background:url(/static/general_sprite.png) -606px -1702px no-repeat;
	display:inline-block;
	width:23px;
	height:23px;
	position:relative;
	margin:-30px 3px 0 0;
}

.updates-list span.premium {
	float:right;
	/*background:url(/static/premium_star_small.png) bottom left no-repeat;*/
	background:url(/static/general_sprite.png) -606px -1775px no-repeat;
	display:inline-block;
	width:13px;
	height:13px;
	position:relative;
	margin:-21px 3px 0 0;
}

.updates-list .write span.premium {
	float:right;
	/*background:url(/static/premium_star_small.png) bottom left no-repeat;*/
	background:url(/static/general_sprite.png) -606px -1775px no-repeat;
	display:inline-block;
	width:13px;
	height:13px;
	position:relative;
	margin:-15px 3px 0 0;
}

#profileUpdates .messages-list span.premium {
	float:right;
	/*background:url(/static/premium_star_small.png) bottom left no-repeat;*/
	background:url(/static/general_sprite.png) -606px -1775px no-repeat;
	display:inline-block;
	width:13px;
	height:13px;
	position:absolute;
	margin:-15px 0 0 36px;
}

#profileUpdates div.image a {
	width:48px;
	height:48px;
}

#privateMessage .messages-list span.premium {
	float:right;
	/*background:url(/static/premium_star_small.png) bottom left no-repeat;*/
	background:url(/static/general_sprite.png) -606px -1775px no-repeat;
	display:inline-block;
	width:13px;
	height:13px;
	position:absolute;
	margin:-15px 0 0 34px;
}

#privateMessage div.image a {
	width:48px;
	height:48px;
}

#messages .messages-list span.premium {
	float:right;
	/*background:url(/static/premium_star.png) bottom left no-repeat;*/
	background:url(/static/general_sprite.png) -606px -1702px no-repeat;
	display:inline-block;
	width:23px;
	height:23px;
	position:relative;
	margin:-30px 3px 0 0;
}

#header span.premium {
	vertical-align:-5px;
}

#header .image span.premium {
	float:right;
	/*background:url(/static/premium_star.png) bottom left no-repeat;*/
	background:url("/static/general_sprite.png") -606px -1702px no-repeat;
	display:inline-block;
	width:23px;
	height:23px;
	position:absolute;
	margin:-28px 0 0 18px;
}

.list-view.loading ul.profiles {
	visibility:hidden;
}

#uploadImageForm button {
	min-width:80px;
	width: 80px;
}

#invite-to-search-tool-tip {
	background:none repeat scroll 0 0 transparent;
	padding:3px 10px;
	width:160px;
	z-index:1000;
}

#invite-to-search-tool-tip .doom-tooltip-text {
	background:url("/static/tooltip_bg_top.png") no-repeat scroll center top transparent;
	font-size:12px;
	line-height:1.4;
	padding:18px 10px 5px;
	text-align:center;
}

#invite-to-search-tool-tip .doom-tooltip-text span {
	font-weight: bold;
}

#invite-to-search-tool-tip .doom-tooltip-footer {
	background:transparent url(/static/tooltip_bg_bottom.png) bottom center no-repeat;
	height:5px;
	width:160px;
}


/* Profile photo request box */

#upload-photo-request-profile-box {
	text-align: center;
	padding:40px 20px 20px 20px;
	overflow: visible;
}

#upload-photo-request-profile-box h4 {
	color:#EC2282;
	font-size: 24px;
	padding-bottom: 0;
	margin-bottom: 0;
	font-weight:700;
}

#upload-photo-request-profile-box h4 .optional {
	font-size:12px;
}

#upload-photo-request-profile-box h5 {
	font-weight: normal;
	font-size:14px;
}

#upload-photo-request-profile-box #UserImageUploaded_file {
	border:none;
	font-size:12px;
}

#upload-photo-request-profile-box  #uploadImageForm {
	margin-bottom:20px;
}

#upload-photo-request-save-bt {
	margin:0;
}

#upload-photo-request-profile-box .cancel-window {
	float:none;
	display:inline;
}


/* Profile box step 3 */

#upload-photo-profile-box {
	text-align: center;
	padding:20px 20px 10px 20px;
	overflow: visible;
}

#upload-photo-profile-box h4 {
	color:#EC2282;
	font-size: 24px;
	padding-bottom: 0;
	margin-bottom: 0;
	font-weight:700;
}

#upload-photo-profile-box h4 .optional {
	font-size:12px;
}

#upload-photo-profile-box h5 {
	font-weight: normal;
	font-size:14px;
}

#upload-photo-profile-box #UserImageUploaded_file {
	border:none;
	font-size:12px;
}

#upload-photo-profile-box  #uploadImageForm {
	margin-bottom:20px;
}

#upload-photo-profile-box textarea {
	padding: 4px;
	border:1px solid #d8d8d8;
	-moz-box-shadow: inset 1px 2px 1px #ececec;
	-webkit-box-shadow: inset 1px 2px 1px #ececec;
	box-shadow: inset 1px 2px 1px #ececec;
	width:450px;
	height: 100px;
	margin:0 0 20px 0;
	font-size: 12px;
}

#upload-photo-profile-box textarea:focus {
	border:1px solid #f70073;
}

#upload-photo-description-save-bt {
	margin-left:80px;
	margin-bottom: 10px;
	margin-top: 0;
}

#upload-photo-profile-box.landing-from-users #upload-photo-description-save-bt {
	margin-left:auto;
}

#upload-photo-profile-box .cancel-window {
	text-decoration: underline;
	margin-top: 13px;
}

.notify-notice {
	background:#000;
	padding:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	width:970px;
	margin-top: 5px;
}

.notify-notice .notify-container {
	min-height:35px;
	height:35px;
	/*Background*/
	background:#ffd301;
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(0, #ffe35e),
					color-stop(1, #ffd301)
				);
	background: -moz-linear-gradient(
					center top,
					#ffe35e 0%,
					#ffd301 100%
				);
	background: gradient(
					center top,
					#ffe35e 0%,
					#ffd301 100%
				);
	padding:5px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	text-align: center;
}

.notify-notice .notify-message {
	font-size:18px;
	color:#000;
	text-shadow: 0 1px 0 #fff77b;
	vertical-align: bottom;
}

.notify-notice .notify-message a {
	text-decoration: underline;
	color:#000;
	font-weight: bold;
}

.notify-notice .notify-icon {
	background:url(/static/notify_info.png) no-repeat;
	display:inline-block;
	height:24px;
	width:24px;
	vertical-align: bottom;
	padding-right: 5px;
	margin-top: 6px;
}

.notify-notice .notify-close-bt {
	color:#a68a05;
	float:right;
	font-size:13px;
	font-weight:bold;
	margin-top: 6px;
	margin-right: 10px;
	text-align:right;
	text-decoration:underline;
}

.notify-notice .notify-close-bt-text {
	float: right;
}

#wrapper .blocked-user h1 {
	text-align: center;
	margin-top:10px;
	font-size:30px;
	font-weight:700;
	margin-bottom:10px;
}

#wrapper .blocked-user h2 {
	text-align: center;
	font-size:24px;
}

.blocked-user form {
	text-align: center;
	margin: 30px 0 30px 0;
	font-size:16px;
}

#wrapper .site-error h1 {
	text-align: center;
	margin-top:10px;
	font-size:30px;
	font-weight:700;
	margin-bottom:10px;
}

.site-error form {
	text-align: center;
	font-size:16px;
}

.site-error form button {
	margin-top:30px;
}

#header-safe-mode-switch-cnt {
	float:right;
	margin:11px 20px 0 0;
}

#header-safe-mode-switch-cnt label {
	color:#fff;
	padding:0 5px 0 0;
}

#header-safe-mode-switch-cnt .text-off {
	text-transform: uppercase;
	color: #484846;
	font-weight:bold;
	padding:0 5px 0 0;
}

#header-safe-mode-switch-cnt .text-on {
	text-transform: uppercase;
	color: #fff;
	font-weight:bold;
	padding:0 0 0 5px;
}

#safe-mode-switch {
	background:url(/static/safe_mode_switch_on.png) no-repeat;
	padding:0px 0 0 31px;
	line-height:4px;
	cursor:pointer;
}

#header-safe-mode-switch-cnt.mode-off #safe-mode-switch {
	background:url(/static/safe_mode_switch_off.png) no-repeat;
}

#header-safe-mode-switch-cnt .text-off {
	cursor:pointer;
}

#header-safe-mode-switch-cnt.mode-off .text-off {
	cursor:text;
}

#header-safe-mode-switch-cnt.mode-off .text-on {
	cursor:pointer;
}

#wrapper .help-wrapper {
	padding: 20px;
	font-size: 13px;
	width: 930px;
	min-height: 500px;
}

#wrapper .help-wrapper h1 {
	background:url(/static/icon_faq.png) no-repeat 0 -1px;
	padding: 0 0 0 38px;
	font-weight: bold;
	height: 23px;
	line-height: 1.2;
}

#wrapper .help-wrapper .otherQuestions {
	text-align: center;
	margin: 0 0 10px 0;
	font-size: 14px;
}

#wrapper .help-wrapper .otherQuestions p {
	font-weight: bold;
	margin: 0;
	line-height: 1.6;
}

#helpPopup {
	padding: 10px 40px;
	width: 510px !important;
	min-height: 250px !important;
	font-size: 14px;
	text-align: center;
}

#helpPopup .feedback .question {
	margin: 0 0 20px 0;
	font-size: 16px;
	font-weight: bold;
}

#helpPopup .feedback .answer {
	background:#ececec;
	border:1px dashed #ccc;
	color: #000;
	width: 400px;
	text-align: left;
	padding: 20px;
	margin: auto auto 20px auto;
	font-style: normal;
}

#helpPopup .feedback .answer a {
	color:#EC2282;
	text-decoration: underline;
	font-weight: bold;
}

#helpPopup .feedback .answer p {
	margin: 0;
}

#helpPopup .feedback .questionTitle {
	padding: 0;
	margin: 0;
	font-weight: bold;
}

#helpPopup .feedback .answerTitle {
	padding: 0;
	margin: 0;
	font-weight: bold;
}

#helpPopup .feedback .wasHelpful {
	font-weight: bold;
	margin: 15px 0 0 0;
}

#helpPopup .thankNo {
	margin: 60px 0 0 0;
}

#helpPopup .thankNo .thankyou {
	font-size: 22px;
	font-weight: bold;
}

#helpPopup .thankYes {
	margin: 60px 0 0 0;
}

#helpPopup .thankYes .thankyou {
	font-size: 22px;
	font-weight: bold;
}

#tos {
	font-size: 12px;
	text-align: justify;
}

#tos p.first {
	clear:both;
}

#tos h4 {
	margin:0 0 5px 0;
	font-weight: 700;
}

#tos ul {
	list-style-type: none;
	padding: 0 0 0 15px;
}

#report-abuse-box .error-msg {
	margin-top: -30px;
}

.word-verification {
	padding-top: 10px;
}

#word-verification-step2 {
	padding-top: 10px;
	display: block;
	float: left;
	width: 350px;
}

#word-verification-step2 span {
	margin-top: 5px;
	margin-right: 10px;
	font-size: 12px;
	display: inline;
	float: left;
	font-weight: bold;
}

#captcha-container-step2 {
	wifth: 250px;
	float: left;
}

#captcha-input-step2 {
	margin-top: 3px;
	margin-right: 10px;
	width: 75px;
	padding: 2px;
	height: 17.4px;
	line-height: 17.4px;
	float: left;
}

.submit-with-captcha {
	float: right;
	width: 120px;
	padding-top: 50px;
	margin-right: 10px;
	margin-bottom: 5px;
}

.captcha-input {
	width: 120px !important;
	float: left;
	padding: 6px 2px;
	margin-right: 20px;
}

.captcha-help, .captcha-help-step2 {
	display: block;
	width: 200px;
	font-size: 10px;
	color: #999;
	clear: both;
	margin: 0 auto;
}

.captcha-help-step2 {
	margin-bottom: 2px;
}

.captcha-container {
	overflow: hidden;
}

.captcha-container img {
	float: left;
}

.captcha-spacer {
	clear: both;
	display: block;
	width: 100%;
	height: 25px;
}

.ui-corner-all, .ui-corner-top, ui-corner-bottom{
}

.ui-dialog{
	border-radius:none;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border:5px solid #939393;
	background:#fff;
	overflow:inherit !important;
	padding:0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}

.ui-dialog .ui-dialog-titlebar{
	background:#fff;
	padding:0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding:5px 10px;
	border:none;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close{
	height:24px;
	width:24px;
	padding:0;
	margin:0;
	border:none;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon{
	margin:5px 0 0 -5px;
	padding:0;
	border:0;
	/*background:url(/static/close_dialog_normal.png) top left no-repeat;*/
	background:transparent url(/static/general_sprite.png) no-repeat -606px -458px;
	height:24px;
	width:24px;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-focus,
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover{
	background:none;
	border:none;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover .ui-icon{
	/*background:url(/static/close_dialog_hover.png) top left no-repeat;*/
	background:transparent url(/static/general_sprite.png) no-repeat -606px -384px;
	border:none;
}

.ui-dialog .ui-dialog-content{
	padding:5px 10px;
	font-size:12px;
	margin-top:-2px;
}

.ui-dialog .ui-dialog-buttonpane{
	padding:0 10px 10px;;
	border:none;
	text-align:center;
	margin:0;
	background:none;
}

.ui-dialog .ui-dialog-buttonpane button{
	float:none;
}

.ui-widget{
}

.ui-tabs{
	padding:0;
	margin:0;
	background:transparent;
	border:none;
	color:#000;
	text-shadow:0 1px 0 #fff;
}

.ui-tabs .ui-tabs-nav{
	padding:0;
	margin:0;
	background:none;
	border:none;
	color:#000;
	font-size: 18px;
}

.ui-tabs .ui-tabs-nav li.ui-corner-top{

}

.ui-tabs .ui-tabs-nav li {
	margin:0;
	padding:0;
	color:#000;
	border:none;
}

.ui-tabs .ui-tabs-nav li a{
	padding:0;
	text-shadow:none;
	color:#000;
	display:block;
}

.ui-tabs .ui-tabs-nav li a .new{
	position:absolute;
	background:#ff009c;
	color:#fff;
	font-size:11px;
	line-height:8px;
	padding:3px 4px;
	margin:16px 0 0 5px;
	text-shadow:none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.ui-tabs .ui-tabs-nav .ui-state-default {
	padding:0;
	height:44px;
	line-height:44px;
}

/*
.ui-tabs .ui-tabs-nav .ui-state-default:active {
	position: relative;
	top:2px;
}
*/

.ui-tabs .ui-tabs-nav .ui-state-default a {
	text-shadow:#fff 0 1px;
	padding: 0 0 0 12px;
}

/*
.ui-tabs .ui-tabs-nav .ui-state-default a:active {
	position: relative;
	top:2px;
}
*/

.ui-tabs .ui-tabs-nav .ui-state-default a .new{
	font-size: 11px;
	text-align: center;
}

.ui-tabs .ui-tabs-nav .ui-state-active {
	height:44px;
	line-height:44px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected{

}

.ui-tabs .ui-widget-content{
	background:#fff;
	padding:0;
	margin:0;
	
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;	
}

/* Tabs */
#big-tab-dashboard-messages {
    width:177px;
    margin:0;
    /*background:url(/static/tab_inactive_right.gif) top left no-repeat;*/
	background:#D0D0D0 url(/static/tabs_sprite.png) -361px -1px no-repeat;
}

/*
#big-tab-dashboard-messages:active {
	position: relative;
	top:2px;
}
*/

#big-tab-dashboard-messages.ui-state-active {
    /*background:url(/static/tab_active_right.gif) top left no-repeat;*/
	background:url(/static/tabs_sprite.png) -361px -47px no-repeat;
}

#big-tab-dashboard-messages.ui-state-active:active {
    top:1px;
}

#big-tab-dashboard-updates {
    width:177px;
    margin:0;
    /*background:url(/static/tab_inactive_left.gif) top left no-repeat;*/
	background:url(/static/tabs_sprite.png) -1px -1px no-repeat;
}

/*
#big-tab-dashboard-updates:active {
	position: relative;
	top:2px;
}
*/

#big-tab-dashboard-updates.ui-state-active {
    /*background:url(/static/tab_active_left.gif) top left no-repeat;*/
	background:#fff url(/static/tabs_sprite.png) -1px -47px no-repeat;
}

/*
#big-tab-dashboard-updates.ui-state-active:active {
    top:1px;
}
*/

#mutual-likes-tab {
    width:178px;
    margin:0;
    /*background:url(/static/tab_inactive_right.gif) top right no-repeat;*/
	background:#D0D0D0 url(/static/tabs_sprite.png) -181px -1px no-repeat;
}

#mutual-likes-tab.ui-state-active {
    /*background:url(/static/tab_active_right.gif) top right no-repeat;*/
	background:url(/static/tabs_sprite.png) -181px -47px no-repeat;
}

#big-tab-dashboard-messages a {
	width:100%;
}

#big-tab-dashboard-updates a {
	width:100%;
}

#mutual-likes-tab a {
	width:100%;
}

#profileViewPanel .small-tab-left, #matchesPanel .small-tab-left {
    width:214px;
    margin:0;
}

#profileViewPanel .small-tab-right, #matchesPanel .small-tab-right {
    width:214px;
    margin:0;
}

.small-tab-left.ui-state-default {
    /*background:url(/static/tab_inactive_left_short.gif) top left no-repeat;*/
	background:url(/static/tabs_sprite.png) -1px -93px no-repeat;
}

.small-tab-left.ui-state-active {
    /*background:url(/static/tab_active_left_short.gif) top left no-repeat;*/
	background:url(/static/tabs_sprite.png) -1px -139px no-repeat;
}
.small-tab-right.ui-state-default {
    /*background:url(/static/tab_inactive_right_short.gif) top left no-repeat;*/
	background:url(/static/tabs_sprite.png) -216px -93px no-repeat;
}

.small-tab-right.ui-state-active {
    /*background:url(/static/tab_active_right_short.gif) top left no-repeat;*/
	background:url(/static/tabs_sprite.png) -216px -139px no-repeat;
}

.small-tab-left.ui-state-default a {
    width:202px;
}

.small-tab-right.ui-state-default a {
    width:202px;
}

.small-tab-left.ui-state-active a {
    width:202px;
}

.small-tab-right.ui-state-active a {
    width:202px;
}

#big-tab-profile-messages {
    width:324px;
    margin:0;
    /*background:url(/static/tabs_inactive_left_profile.png) top left no-repeat;*/
	background:url(/static/tabs_sprite.png) -1px -461px no-repeat;
}

/*
#big-tab-profile-messages:active {
	position: relative;
	top:2px;
}
*/

#big-tab-profile-messages.ui-state-active {
    /*background:url(/static/tabs_active_left_profile.png) top left no-repeat;*/
	background:url(/static/tabs_sprite.png) -1px -507px no-repeat;
}

/*
#big-tab-profile-messages.ui-state-active:active {
    top:1px;
}
*/

#big-tab-profile-updates {
    width:324px;
    margin:0;
    /*background:url(/static/tabs_inactive_right_profile.png) top left no-repeat;*/
	background:url(/static/tabs_sprite.png) -326px -461px no-repeat;
}

#big-tab-profile-updates-large {
	width:648px;
	background: white;
	-moz-border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
	width: 100%;
}

/*
#big-tab-profile-updates:active {
	position: relative;
	top:2px;
}
*/

#big-tab-profile-updates.ui-state-active {
    /*background:url(/static/tabs_active_right_profile.png) top left no-repeat;*/
	background:url(/static/tabs_sprite.png) -326px -507px no-repeat;
}

/*
#big-tab-profile-updates.ui-state-active:active {
    top:1px;
}*/

#big-tab-profile-messages a {
	width:310px;
}

#big-tab-profile-updates a {
	width:310px;
}

#big-tab-profile-updates-large a{
	width:620px;
}

.ui-tabs .ui-tabs-nav li.one-small-tab {
	background:#fff;
	width:100%;
	-moz-border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
}

.one-small-tab a {
	-moz-border-radius:6px 6px 0 0;
	-webkit-border-radius:6px 6px 0 0;
	border-radius:6px 6px 0 0;
}

.one-small-tab.ui-state-default a {
	width:300px;
	background:#fff;
}

.one-small-tab.ui-state-active a {
    width:300px;
}

.popup-register-login {
	border:none;
	padding:0;
	width:300px;
	overflow:hidden;
	/*background:url(/static/box_generic_bg.png) repeat-x scroll center bottom;*/
	background:transparent;
}

.popup-register-login .ui-dialog-titlebar {
	display:none;
}

.popup-register-login .tabs {
	overflow:hidden;
	padding-bottom:5px;
}

#dialog-sign-up-button {
	padding:0;
	font-size:11px;
	overflow: visible;
}

.popup-register-login .ui-tabs .ui-tabs-nav li {
	margin:0;
}

.popup-register-login .ui-widget-content {
	background:transparent;
}

.popup-register-login .ui-tabs-panel {
	padding:10px 10px 15px 10px;
	background:url(/static/box_generic_bg.png) repeat-x scroll center bottom transparent;
}

.small-tab-left-generic {
	width:50%;
	margin:0;
}

.small-tab-right-generic {
	width:50%;
	margin:0;
}

.small-tab-left-generic.ui-state-default {
    /*background:url(/static/tabs.png) left -92px no-repeat;*/
	background:url(/static/tabs_sprite.png) -1px -369px no-repeat;
}

.small-tab-left-generic.ui-state-active {
    /*background:url(/static/tabs.png) left 0 no-repeat;*/
	background:url(/static/tabs_sprite.png) -1px -415px no-repeat;
}
.small-tab-right-generic.ui-state-default {
    /*background:url(/static/tabs.png) right -138px no-repeat;*/
	background:url(/static/tabs_sprite.png) -152px -369px no-repeat;
}

.small-tab-right-generic.ui-state-active {
    /*background:url(/static/tabs.png) right -46px no-repeat;*/
	background:url(/static/tabs_sprite.png) -152px -415px no-repeat;
}

.small-tab-left-generic.ui-state-default a {
    width:140px;
}

.small-tab-right-generic.ui-state-default a {
    width:140px;
}

.small-tab-left-generic.ui-state-active a {
    width:140px;
}

.small-tab-right-generic.ui-state-active a {
    width:140px;
}


.big-tab-left-generic {
	width:50%;
	margin:0;
}

.big-tab-trio-left-generic {
	width:323px;
	margin:0;
}

.big-tab-middle-generic {
	width:34%;
	margin:0;
}

.big-tab-trio-middle-generic {
	width:324px;
	margin:0;
}

.big-tab-right-generic {
	width:50%;
	margin:0;
}

.big-tab-trio-right-generic {
	width:323px;
	margin:0;
}

.big-tab-left-generic.ui-state-default {
    /*background:url(/static/tabs.png) left -92px no-repeat;*/
	background:url(/static/tabs_sprite.png) -1px -185px no-repeat;
}

.big-tab-left-generic.ui-state-active {
    /*background:url(/static/tabs.png) left 0 no-repeat;*/
	background:url(/static/tabs_sprite.png) -1px -231px no-repeat;
}

.big-tab-trio-left-generic.ui-state-default {
    /*background:url(/static/tabs.png) left -92px no-repeat;*/
	background:url(/static/tabs_sprite.png) -1px -277px no-repeat;
}

.big-tab-trio-left-generic.ui-state-active {
    /*background:url(/static/tabs.png) left 0 no-repeat;*/
	background:url(/static/tabs_sprite.png) -1px -323px no-repeat;
}

.big-tab-middle-generic.ui-state-default {
    /*background:url(/static/tabs.png) -10px -92px no-repeat;*/
	background:url(/static/tabs_sprite.png) -322px -277px no-repeat;
}

.big-tab-middle-generic.ui-state-active {
    /*background:url(/static/tabs.png) -10px 0 no-repeat;*/
	background:url(/static/tabs_sprite.png) -322px -323px no-repeat;
}

.big-tab-trio-middle-generic.ui-state-default {
    /*background:url(/static/tabs.png) -10px -92px no-repeat;*/
	background:url(/static/tabs_sprite.png) -327px -277px no-repeat;
}

.big-tab-trio-middle-generic.ui-state-active {
    /*background:url(/static/tabs.png) -10px 0 no-repeat;*/
	background:url(/static/tabs_sprite.png) -325px -323px no-repeat;
}

.big-tab-right-generic.ui-state-default {
    /*background:url(/static/tabs.png) right -138px no-repeat;*/
	background:url(/static/tabs_sprite.png) -487px -185px no-repeat;
}

.big-tab-right-generic.ui-state-active {
    /*background:url(/static/tabs.png) right -46px no-repeat;*/
	background:url(/static/tabs_sprite.png) -487px -231px no-repeat;
}

.big-tab-trio-right-generic.ui-state-default {
    /*background:url(/static/tabs.png) right -138px no-repeat;*/
	background:url(/static/tabs_sprite.png) -654px -277px no-repeat;
}

.big-tab-trio-right-generic.ui-state-active {
    /*background:url(/static/tabs.png) right -46px no-repeat;*/
	background:url(/static/tabs_sprite.png) -649px -231px no-repeat;
}

.big-tab-left-generic.ui-state-default a {
    width:100%;
}

.big-tab-trio-left-generic.ui-state-default a {
    width:100%;
}

.big-tab-middle-generic.ui-state-default a {
    width:100%;
}

.big-tab-trio-middle-generic.ui-state-default a {
    width:100%;
}

.big-tab-right-generic.ui-state-default a {
    width:100%;
}

.big-tab-trio-right-generic.ui-state-default a {
    width:100%;
}

.small-tab-left-generic.ui-state-active a, .big-tab-left-generic.ui-state-active a {
    width:100%;
}

.small-tab-middle-generic.ui-state-active a, .big-tab-middle-generic.ui-state-active a {
    width:100%;
}

.small-tab-right-generic.ui-state-active a, .big-tab-right-generic.ui-state-active a {
    width:100%;
}

.viewEditProfile{
	padding:0;
	border-radius:none;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border:0;
	overflow:inherit !important;
	padding:0px;
}

.viewEditProfile.ui-dialog{
	background:#000;
	margin-left:-5px;
	padding:5px 5px 0 5px;
}

.ui-widget-overlay
{
	background: #000000;
	opacity: 0.6;
	-moz-opacity:0.60;
	filter: alpha(opacity=60);
	width:100%;
	height:100%;
	position:absolute;
	z-index:500;
}

.viewEditProfile .ui-dialog-titlebar{
	padding:0;
	background:transparent;
	border:0;
	margin:0;
}

.viewEditProfile .ui-dialog-titlebar .ui-dialog-titlebar-close{
	height:34px;
	width:34px;
	margin-right:-5px;
	margin-top:7px;
	border:none;
	padding:0;
}

.viewEditProfile .ui-dialog-titlebar .ui-dialog-titlebar-close .ui-icon{
	/*background:url(/static/close_dialog.png) top left no-repeat;*/
	background:url(/static/general_sprite.png) no-repeat -606px -300px;
	width:34px;
	height:34px;
	margin:0;
	padding:0;
	border:0;
}

.viewEditProfile .ui-dialog-titlebar .ui-dialog-titlebar-close.ui-state-hover .ui-icon{
	/*background:url(/static/close_dialog.png) top left no-repeat;*/
	background:url(/static/general_sprite.png) no-repeat -606px -300px;
	border:none;
}

.viewEditProfile .ui-corner-all{
	-moz-border-radius:0;
	border-radius:0;
	-webkit-border-radius:0;
}

.viewEditProfile .ui-dialog-content{
	padding:0;
}

.viewEditProfile .ui-dialog-content .ajax-loading{
	width:100px;
	height:100px;
	text-align:center;
	margin:auto;
	margin-top:30px;
}

.viewEditProfile .top{
	padding:5px;
	background: #fff;
	background:url("/static/box_generic_bg.png") repeat-x scroll center bottom #FFFFFF;
	-webkit-border-radus: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
}

.viewEditProfile .top .short-info{
	margin-left:5px;
	margin-bottom:5px;
	height:33px;
}

.viewEditProfile .top .short-info .name{
	font-size:24px;
	/*color:#bea200;*/
	font-weight:700;
}

.viewEditProfile .top .short-info span{
	color:#000;
	font-size:18px;
	font-weight:700;
}

.viewEditProfile .top .short-info span.premium-member{
	background:url(/static/gold_member.png) center left no-repeat;
	padding-left:20px;
}

.viewEditProfile .top .short-info span.online{
	/*background:url(/static/online.png) left 3px no-repeat;*/
	background:url(/static/general_sprite.png) no-repeat -606px -1575px;
	padding-left:9px;
	margin-left:5px;
	vertical-align:-5px;
}

.viewEditProfile .top .short-info span.offline{
	background:url(/static/offline.png) left 3px no-repeat;
	padding-left:9px;
	margin-left:5px;
}

.viewEditProfile .top .general-info{
	overflow:hidden;
	min-height:370px;
}

.viewEditProfile .top .general-info .images{
	float:left;
	width:315px;
	height:315px;
	overflow:hidden;
	margin:0;
}

.viewEditProfile .top .general-info .images .list{
	overflow:hidden;
}

.viewEditProfile .top .general-info .images .list ul{
	margin:0;
	padding:0;
	list-style-type:none;
}

.viewEditProfile .top .general-info .images .list ul li{
	float:left;
	margin:0 5px 5px 0;
	width:100px;
	height:100px;
}

.viewEditProfile .top .general-info .images .list ul li a.active{
	display:block;
	width:99px;
	height:99px;
}

.viewEditProfile .top .general-info .images .list ul li .delete{
	height:22px;
	margin-left:75px;
	margin-top:-98px;
	position:absolute;
	width:22px;
	display:none;
}

.viewEditProfile .top .general-info .images .pagination{
	margin-top:15px;
}

.viewEditProfile .top .general-info .primary{
	float:left;
	width:325px;
	margin:0 5px;
	overflow: hidden;
}

.viewEditProfile .top .general-info .primary .image{
	background:#000;
	height:310px;
	width:320px;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	overflow:hidden;
	margin-bottom:5px;
}

.viewEditProfile .top .general-info .primary .image.edit-profile-Man{
	background:url(/static/no-photo-profile-man.png);
}
.viewEditProfile .top .general-info .primary .image.edit-profile-Woman{
	background:url(/static/no-photo-profile-woman.png);
}

/* Profile Photo Request */
#requestPhotoLink {
	padding:150px;
}

#requestPhotoLink span {
	display:none;
}

.viewEditProfile .top .general-info .primary .image.view-profile-photorequest-Man{
	background:url(/static/photo_request_man.png);
}
.viewEditProfile .top .general-info .primary .image.view-profile-photorequest-Woman{
	background:url(/static/photo_request_woman.png);
}
.viewEditProfile .top .general-info .primary .image.view-profile-photorequest-sent-Man{
	background:url(/static/photo_request_man_sent.png);
}
.viewEditProfile .top .general-info .primary .image.view-profile-photorequest-sent-Woman{
	background:url(/static/photo_request_woman_sent.png);
}
.viewEditProfile .top .general-info .primary .image.view-profile-photorequest-pending-Man{
	background:url(/static/photo_request_man_pending.png);
}
.viewEditProfile .top .general-info .primary .image.view-profile-photorequest-pending-Woman{
	background:url(/static/photo_request_woman_pending.png);
}


.viewEditProfile .top .general-info .primary .image a{
	display:block;
}

.viewEditProfile .top .general-info .primary .image img{
	vertical-align:middle;
	max-width:320px;
	border: none;
}

.viewEditProfile .top .general-info .primary .prev-next-links{
	position:absolute;
	width:320px;
	background:url(/static/pixel.gif);
	cursor:pointer;
}

.viewEditProfile .top .general-info .primary .prev-next-links .area{
	height:310px;
	width:80px;
}

.viewEditProfile .top .general-info .primary .prev-next-links .area a{
	display:none;
	text-indent:-9999px;
	height:310px;
	width:80px;
}

.viewEditProfile .top .general-info .primary .prev-next-links .left-area{
	float:left;
}

.viewEditProfile .top .general-info .primary .prev-next-links .right-area{
	float:right;
}

.viewEditProfile .top .general-info .primary .prev-next-links .left-area a.prev-image{
	background:url(/static/fancy_nav_left.png) center left no-repeat;
	float:left;
	opacity:0.6;
}

.viewEditProfile .top .general-info .primary .prev-next-links .right-area a.next-image {
	float:right;
	background:url(/static/fancy_nav_right.png) center right no-repeat;
	opacity:0.6;
}

.viewEditProfile .top .general-info .primary .actions {
	text-align:center;
	margin-top:5px;
}

.viewEditProfile .top .general-info .primary .actions {
	text-align:center;
	margin-top:5px;
}

.viewEditProfile .top .general-info .primary .actions .action-buttons {

}

.viewEditProfile .top .general-info .primary .actions input.upload {
	font-size:11px;
	margin:2px;
	min-height:20px;
	padding:2px 8px;	
}

.viewEditProfile .top .general-info .primary .actions form {
	margin-top:18px;
}

.viewEditProfile .top .general-info .primary .actions button {
	font-size: 16px;
	min-width: 120px;
	min-height:32px;
}

.viewEditProfile .top .general-info .primary .actions button span.middle-button {
	background:url("/static/btn_bg_match.png") repeat-x scroll left top transparent;
	color:#FFFFFF;
	font-size:17px;
	font-weight:700;
	height:24px;
	margin:0;
	padding:8px 8px 8px;
	text-shadow:0 -1px #A2004C;
	display:inline-block;
	float:left;
	min-width:80px;
}

.viewEditProfile .top .general-info .primary .actions button span.start-button {
	/*background:url("/static/btn_corner_left_match.png") no-repeat scroll left top transparent;*/
	background:url("/static/general_sprite.png") no-repeat 0 -109px;
	width:14px;
	height:40px;
	display:inline-block;
	float:left;
}

.viewEditProfile .top .general-info .primary .actions button span.end-button {
	/*background:url("/static/btn_corner_right_match.png") no-repeat scroll left top transparent;*/
	background:url("/static/general_sprite.png") no-repeat 0 -199px;
	width:14px;
	height:40px;
	display:inline-block;
	float:left;
}

.viewEditProfile .top .general-info .primary .actions span.success {
	color:#F80072;
	font-size:18px;
	position: relative;
	margin:15px 0 9px 0;
	display: block;
}

.viewEditProfile .top .general-info .location{
	float:left;
	width:300px;
	height:315px;
	margin-left:0 0 0 5px;
}

.viewEditProfile .top .general-info .location .map{
	width:300px;
	height:310px;
	margin-bottom:5px;
}

.viewEditProfile .top .general-info .location .edit{
	text-align:center;
	font-size: 12px;
	margin-top: 20px;
}

.viewEditProfile .top .general-info .location .edit #locationInfo {
	line-height: 1.2;
	font-size:13px;
}

.viewEditProfile .top .general-info .location .edit #NewCityBox {
	margin-top:-10px;
}

.viewEditProfile .top .general-info .location .edit input {
	min-height:20px;
	font-size: 11px;
	padding: 2px 8px;
	margin:2px;
}

.viewEditProfile .top .general-info .location .edit input.ac_input {
	width:150px;
	min-height:15px;
	font-size: 13px;
}

.viewEditProfile .top .general-info .location .edit .details{
	
}

.viewEditProfile .top .general-info .location .edit .details span {
	font-weight:700;
	font-size:11px;
}

.viewEditProfile .top .general-info .emailUpload {
	clear:both;
	text-align:center;
}

.viewEditProfile .middle{
	padding:10px 0 0 0;
}

.viewEditProfile .middle .left{
	float:left;
	width:648px;
}

.viewEditProfile .ui-tabs-panel{
	overflow:hidden;
}

#profileUpdates{
	padding:15px;
	background:url("/static/box_generic_bg.png") repeat-x scroll center bottom #FFFFFF;
	min-height:415px;
}

#editMySettings{
	padding:15px;
	min-height:415px;
}

.viewEditProfile .messages-list .message{
	/*width:534px;*/
}

.viewEditProfile .middle .personal-info{
	width:312px;
	float:right;
	overflow:hidden;
	text-shadow:none;
}

/*
.viewEditProfile.ui-dialog .middle .personal-info{
    width:312px;
}
*/

.viewEditProfile .middle .personal-info #personalInfo{
	text-shadow:none;
	background:url("/static/box_generic_bg.png") repeat-x scroll center bottom #FFFFFF;
	min-height:444px;
}

.viewEditProfile .middle .personal-info .description{
	padding:10px;
	font-size:12px;
	border-bottom:1px solid #d8d8d8;
}

.viewEditProfile .middle .personal-info .description p{
	margin:0;
	padding:0;
	text-align:justify;
}

.viewEditProfile .middle .personal-info .description a{
	font-weight:700;
}

.viewEditProfile .middle .personal-info .description .clearboth{
	display:inline;
}

.viewEditProfile .middle .personal-info .list{
	border-bottom:1px solid #d8d8d8;
	padding:10px;
	font-size:12px;
	overflow:hidden;
}

.viewEditProfile .middle .personal-info .list dl{
	width:100%;
	margin:0;
	padding:0;
	clear:both;
}

.viewEditProfile .middle .personal-info .list dl dt{
	font-weight:700;
	float:left;
	width:40%;
	font-weight:700;
	margin:0;
	padding:0;
	margin-bottom:10px;
	clear:both;
}

.viewEditProfile .middle .personal-info .list dl dd{
	float:right;
	text-align:right;
	margin:0;
	padding:0;
	margin-bottom:10px;
}

.viewEditProfile .middle .personal-info .list dl dd.highlight{
	color:#55bb22;
	font-weight:700;
}

.viewEditProfile .middle .personal-info .list.last{
	border:none;
}

span.ui-dialog-title {
	display:none;
}

#safe-mode-chk {
	float: right;
	font-size: 14px;
	cursor: pointer;
	margin: 8px 10px 0 0;
}

#safe-mode-chk label {
	cursor: pointer;
}

#safe-mode-chk label span.hidden {
	display: none;
}

#safe-mode-chk label span.on {
	background:url("/static/checkbox_on.png") no-repeat right center;
	padding: 0 15px 0 0;
	text-transform: uppercase;
	color: #ec228d;
}

#safe-mode-chk label span.off {
	background:url("/static/checkbox_off.png") no-repeat right center;
	padding: 0 15px 0 0;
	text-transform: uppercase;
	color: #c4c4c4;
}

#safe-mode-chk input {
	margin: 0 0 0 5px;
	padding: 3px 0 0 0;
	cursor: pointer;
	display: none;
}
.ui-tabs .ui-tabs-nav li {
    border-bottom: 0 none !important;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    top: 1px;
    white-space: nowrap;
}
