.ui-widget{
}

.ui-tabs{
    padding:0;
    margin:0;
    background:transparent;
    border:none;
    color:#000;
    text-shadow:0 1px 0 #fff;
}

.ui-tabs .ui-tabs-nav{
    padding:0;
    margin:0;
    background:none;
    border:none;
    color:#000;
    font-size: 18px;
}

.ui-tabs .ui-tabs-nav li.ui-corner-top{

}

.ui-tabs .ui-tabs-nav li {
    margin:0;
    padding:0;
    color:#000;
    border:none;
}

.ui-tabs .ui-tabs-nav li a{
    padding:0;
    text-shadow:none;
    color:#000;
    display:block;
}

.ui-tabs .ui-tabs-nav li a .new{
    position:absolute;
    background:#ff009c;
    color:#fff;
    font-size:11px;
    line-height:8px;
    padding:3px 4px;
    margin:16px 0 0 5px;
    text-shadow:none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.ui-tabs .ui-tabs-nav .ui-state-default {
    padding:0;
    height:44px;
    line-height:44px;
}

/*
.ui-tabs .ui-tabs-nav .ui-state-default:active {
    position: relative;
    top:2px;
}
*/

.ui-tabs .ui-tabs-nav .ui-state-default a {
    text-shadow:#fff 0 1px;
    padding: 0 0 0 12px;
}

/*
.ui-tabs .ui-tabs-nav .ui-state-default a:active {
    position: relative;
    top:2px;
}
*/

.ui-tabs .ui-tabs-nav .ui-state-default a .new{
    font-size: 11px;
    text-align: center;
}

.ui-tabs .ui-tabs-nav .ui-state-active {
    height:44px;
    line-height:44px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected{

}

.ui-tabs .ui-widget-content{
    background:#fff;
    padding:0;
    margin:0;
    overflow:hidden;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* Tabs */
#big-tab-dashboard-messages {
    width:177px;
    margin:0;
    /*background:url(../images/tab_inactive_right.gif) top left no-repeat;*/
    background:#D0D0D0 url(../images/tabs_sprite.png) -361px -1px no-repeat;
}

/*
#big-tab-dashboard-messages:active {
    position: relative;
    top:2px;
}
*/

#big-tab-dashboard-messages.ui-state-active {
    /*background:url(../images/tab_active_right.gif) top left no-repeat;*/
    background:url(../images/tabs_sprite.png) -361px -47px no-repeat;
}

#big-tab-dashboard-messages.ui-state-active:active {
    top:1px;
}

#big-tab-dashboard-updates {
    width:177px;
    margin:0;
    /*background:url(../images/tab_inactive_left.gif) top left no-repeat;*/
    background:url(../images/tabs_sprite.png) -1px -1px no-repeat;
}

/*
#big-tab-dashboard-updates:active {
    position: relative;
    top:2px;
}
*/

#big-tab-dashboard-updates.ui-state-active {
    /*background:url(../images/tab_active_left.gif) top left no-repeat;*/
    background:#fff url(../images/tabs_sprite.png) -1px -47px no-repeat;
}

/*
#big-tab-dashboard-updates.ui-state-active:active {
    top:1px;
}
*/

#mutual-likes-tab {
    width:178px;
    margin:0;
    /*background:url(../images/tab_inactive_right.gif) top right no-repeat;*/
    background:#D0D0D0 url(../images/tabs_sprite.png) -181px -1px no-repeat;
}

#mutual-likes-tab.ui-state-active {
    /*background:url(../images/tab_active_right.gif) top right no-repeat;*/
    background:url(../images/tabs_sprite.png) -181px -47px no-repeat;
}

#big-tab-dashboard-messages a {
    width:100%;
}

#big-tab-dashboard-updates a {
    width:100%;
}

#mutual-likes-tab a {
    width:100%;
}

#profileViewPanel .small-tab-left, #matchesPanel .small-tab-left {
    width:214px;
    margin:0;
}

#profileViewPanel .small-tab-right, #matchesPanel .small-tab-right {
    width:214px;
    margin:0;
}

.small-tab-left.ui-state-default {
    /*background:url(../images/tab_inactive_left_short.gif) top left no-repeat;*/
    background:url(../images/tabs_sprite.png) -1px -93px no-repeat;
}

.small-tab-left.ui-state-active {
    /*background:url(../images/tab_active_left_short.gif) top left no-repeat;*/
    background:url(../images/tabs_sprite.png) -1px -139px no-repeat;
}
.small-tab-right.ui-state-default {
    /*background:url(../images/tab_inactive_right_short.gif) top left no-repeat;*/
    background:url(../images/tabs_sprite.png) -216px -93px no-repeat;
}

.small-tab-right.ui-state-active {
    /*background:url(../images/tab_active_right_short.gif) top left no-repeat;*/
    background:url(../images/tabs_sprite.png) -216px -139px no-repeat;
}

.small-tab-left.ui-state-default a {
    width:202px;
}

.small-tab-right.ui-state-default a {
    width:202px;
}

.small-tab-left.ui-state-active a {
    width:202px;
}

.small-tab-right.ui-state-active a {
    width:202px;
}

#big-tab-profile-messages {
    width:324px;
    margin:0;
    /*background:url(../images/tabs_inactive_left_profile.png) top left no-repeat;*/
    background:url(../images/tabs_sprite.png) -1px -461px no-repeat;
}

/*
#big-tab-profile-messages:active {
    position: relative;
    top:2px;
}
*/

#big-tab-profile-messages.ui-state-active {
    /*background:url(../images/tabs_active_left_profile.png) top left no-repeat;*/
    background:url(../images/tabs_sprite.png) -1px -507px no-repeat;
}

/*
#big-tab-profile-messages.ui-state-active:active {
    top:1px;
}
*/

#big-tab-profile-updates {
    width:324px;
    margin:0;
    /*background:url(../images/tabs_inactive_right_profile.png) top left no-repeat;*/
    background:url(../images/tabs_sprite.png) -326px -461px no-repeat;
}

#big-tab-profile-updates-large {
    width:648px;
    background: white;
    -moz-border-radius:6px 6px 0 0;
    -webkit-border-radius:6px 6px 0 0;
    border-radius:6px 6px 0 0;
    width: 100%;
}

/*
#big-tab-profile-updates:active {
    position: relative;
    top:2px;
}
*/

#big-tab-profile-updates.ui-state-active {
    /*background:url(../images/tabs_active_right_profile.png) top left no-repeat;*/
    background:url(../images/tabs_sprite.png) -326px -507px no-repeat;
}

/*
#big-tab-profile-updates.ui-state-active:active {
    top:1px;
}*/

#big-tab-profile-messages a {
    width:310px;
}

#big-tab-profile-updates a {
    width:310px;
}

#big-tab-profile-updates-large a{
    width:620px;
}

.ui-tabs .ui-tabs-nav li.one-small-tab {
    background:#fff;
    width:100%;
    -moz-border-radius:6px 6px 0 0;
    -webkit-border-radius:6px 6px 0 0;
    border-radius:6px 6px 0 0;
}

.one-small-tab a {
    -moz-border-radius:6px 6px 0 0;
    -webkit-border-radius:6px 6px 0 0;
    border-radius:6px 6px 0 0;
}

.one-small-tab.ui-state-default a {
    width:300px;
    background:#fff;
}

.one-small-tab.ui-state-active a {
    width:300px;
}

.popup-register-login {
    border:none;
    padding:0;
    width:300px;
    overflow:hidden;
    /*background:url(../images/box_generic_bg.png) repeat-x scroll center bottom;*/
    background:transparent;
}

.popup-register-login .ui-dialog-titlebar {
    display:none;
}

.popup-register-login .tabs {
    overflow:hidden;
    padding-bottom:5px;
}

#dialog-sign-up-button {
    padding:0;
    font-size:11px;
    overflow: visible;
}

.popup-register-login .ui-tabs .ui-tabs-nav li {
    margin:0;
}

.popup-register-login .ui-widget-content {
    background:transparent;
}

.popup-register-login .ui-tabs-panel {
    padding:10px 10px 15px 10px;
    background:url(../images/box_generic_bg.png) repeat-x scroll center bottom transparent;
}

.small-tab-left-generic {
    width:50%;
    margin:0;
}

.small-tab-right-generic {
    width:50%;
    margin:0;
}

.small-tab-left-generic.ui-state-default {
    /*background:url(../images/tabs.png) left -92px no-repeat;*/
    background:url(../images/tabs_sprite.png) -1px -369px no-repeat;
}

.small-tab-left-generic.ui-state-active {
    /*background:url(../images/tabs.png) left 0 no-repeat;*/
    background:url(../images/tabs_sprite.png) -1px -415px no-repeat;
}
.small-tab-right-generic.ui-state-default {
    /*background:url(../images/tabs.png) right -138px no-repeat;*/
    background:url(../images/tabs_sprite.png) -152px -369px no-repeat;
}

.small-tab-right-generic.ui-state-active {
    /*background:url(../images/tabs.png) right -46px no-repeat;*/
    background:url(../images/tabs_sprite.png) -152px -415px no-repeat;
}

.small-tab-left-generic.ui-state-default a {
    width:140px;
}

.small-tab-right-generic.ui-state-default a {
    width:140px;
}

.small-tab-left-generic.ui-state-active a {
    width:140px;
}

.small-tab-right-generic.ui-state-active a {
    width:140px;
}


.big-tab-left-generic {
    width:50%;
    margin:0;
}

.big-tab-trio-left-generic {
    width:323px;
    margin:0;
}

.big-tab-middle-generic {
    width:34%;
    margin:0;
}

.big-tab-trio-middle-generic {
    width:324px;
    margin:0;
}

.big-tab-right-generic {
    width:50%;
    margin:0;
}

.big-tab-trio-right-generic {
    width:323px;
    margin:0;
}

.big-tab-left-generic.ui-state-default {
    /*background:url(../images/tabs.png) left -92px no-repeat;*/
    background:url(../images/tabs_sprite.png) -1px -185px no-repeat;
}

.big-tab-left-generic.ui-state-active {
    /*background:url(../images/tabs.png) left 0 no-repeat;*/
    background:url(../images/tabs_sprite.png) -1px -231px no-repeat;
}

.big-tab-trio-left-generic.ui-state-default {
    /*background:url(../images/tabs.png) left -92px no-repeat;*/
    background:url(../images/tabs_sprite.png) -1px -277px no-repeat;
}

.big-tab-trio-left-generic.ui-state-active {
    /*background:url(../images/tabs.png) left 0 no-repeat;*/
    background:url(../images/tabs_sprite.png) -1px -323px no-repeat;
}

.big-tab-middle-generic.ui-state-default {
    /*background:url(../images/tabs.png) -10px -92px no-repeat;*/
    background:url(../images/tabs_sprite.png) -322px -277px no-repeat;
}

.big-tab-middle-generic.ui-state-active {
    /*background:url(../images/tabs.png) -10px 0 no-repeat;*/
    background:url(../images/tabs_sprite.png) -322px -323px no-repeat;
}

.big-tab-trio-middle-generic.ui-state-default {
    /*background:url(../images/tabs.png) -10px -92px no-repeat;*/
    background:url(../images/tabs_sprite.png) -327px -277px no-repeat;
}

.big-tab-trio-middle-generic.ui-state-active {
    /*background:url(../images/tabs.png) -10px 0 no-repeat;*/
    background:url(../images/tabs_sprite.png) -325px -323px no-repeat;
}

.big-tab-right-generic.ui-state-default {
    /*background:url(../images/tabs.png) right -138px no-repeat;*/
    background:url(../images/tabs_sprite.png) -487px -185px no-repeat;
}

.big-tab-right-generic.ui-state-active {
    /*background:url(../images/tabs.png) right -46px no-repeat;*/
    background:url(../images/tabs_sprite.png) -487px -231px no-repeat;
}

.big-tab-trio-right-generic.ui-state-default {
    /*background:url(../images/tabs.png) right -138px no-repeat;*/
    background:url(../images/tabs_sprite.png) -654px -277px no-repeat;
}

.big-tab-trio-right-generic.ui-state-active {
    /*background:url(../images/tabs.png) right -46px no-repeat;*/
    background:url(../images/tabs_sprite.png) -649px -231px no-repeat;
}

.big-tab-left-generic.ui-state-default a {
    width:100%;
}

.big-tab-trio-left-generic.ui-state-default a {
    width:100%;
}

.big-tab-middle-generic.ui-state-default a {
    width:100%;
}

.big-tab-trio-middle-generic.ui-state-default a {
    width:100%;
}

.big-tab-right-generic.ui-state-default a {
    width:100%;
}

.big-tab-trio-right-generic.ui-state-default a {
    width:100%;
}

.small-tab-left-generic.ui-state-active a, .big-tab-left-generic.ui-state-active a {
    width:100%;
}

.small-tab-middle-generic.ui-state-active a, .big-tab-middle-generic.ui-state-active a {
    width:100%;
}

.small-tab-right-generic.ui-state-active a, .big-tab-right-generic.ui-state-active a {
    width:100%;
}
