{% load thumbnail %}
<div id="header">
    <div class="logo">
        <a href="{% url index %}">XDating</a>
    </div>
    {% if request.user.is_authenticated %}
    <div class="user-info">
        <div class="image">
            <a href="{% url edit_profile %}" class="editProfile">
                {% thumbnail request.user.get_avatar.src  "40x40" crop="center" as ava %}
                <img class="avatar" src="{{ ava.url }}" width="{{ ava.width }}" height="{{ ava.height }}">
                {% empty %}
                <img class="avatar" src="http://images.xdating.com/internal/no_photo_man_40.png" width="40" height="40">
                {% endthumbnail %}
            </a>
        </div>
        <div class="edit">
            <!--<span>Welcome</span>-->
            <span class="info-username">{{ request.user.username }}</span>
            <a href="{% url ajax_logout %}" id="sign-out-link">Sign Out</a>
            <p>
            <a href="{% url edit_profile %}" class="editProfile" id="editProfile">Edit Profile</a>
            &nbsp;<a href="/subscribe" id="profile-upgrade-link"><span>Upgrade →</span></a>
            </p>
        </div>
    </div>
    {% else %}

    <div class="sign-up-header">
        <a href="http://www.xdating.com/registration/index/signupOnly/1/t/1346454410" id="sign-up-button" class="button" title="Let&#39;s get started, it&#39;s free!" onclick="return false;">
            Let's get started — IT'S FREE!                  </a>
        <span id="already-a-member-text">Already a member?</span>
        <a href="{% url index %}" id="sign-in-button" class="" title="Sign in!">
            Sign in here!
        </a>
    </div>
    {% endif %}
    <div class="menu">
        <ul>
            <li>
            <a href="/datingCenter" class="{% if tab == "messages" %}current{% endif %}">Dating Center</a>
            </li>
            <li>
            <a href="/datingCenter/index#" class="{% if tab == "cams" %}current{% endif %}" id="cams-link" onclick="$('.geoip').toggle(!$('.geoip').is(':visible'));return false;">Cams</a>
            </li>
            <li>
            <a href="{% url search %}" class="sub {% if tab == "search" %}current{% endif %}" id="menu-search-button">Search</a>
            </li>
            <li>
            <a href="/help" class="last sub {% if tab == "help" %}current {% endif %}">Help</a>
            </li>
        </ul>
    </div>
    {% if request.user.is_authenticated %}
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
                $("#header-safe-mode-switch-cnt").click(function() {
                    window.location.href = "{% url change_safe_mode %}";
                    });
                });
    </script>
    <div id="header-safe-mode-switch-cnt" class="mode-{% if request.user.safe_mode %}on{% else %}off{% endif %}">
        <label>Safe mode</label><br>
        <span class="text-off">off</span>
        <span id="safe-mode-switch"><!-- IE --></span>
        <span class="text-on">on</span>
    </div>
    {% endif %}
</div>

