<!DOCTYPE HTML>
{% load static %}
{% load thumbnail %}

{% get_static_prefix as STATIC_PREFIX %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        {% block css %}
        <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}jquery.fancybox-1.3.1.css" media="screen, projection">
        {% endblock css %}

        {% block js %}
        <script type="text/javascript" async="" src="{{ STATIC_PREFIX }}ga.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}endless.js"></script>
        <!-- <script type="text/javascript" src="{{ STATIC_PREFIX }}xd.js_1346385827.m.js"></script> -->
        {% endblock %}
        <title>{% block title %} XDating.com - Free online Dating Sites &amp; Service
            for casual dates {% endblock %}</title>

        {% block meta %}
        <meta http-equiv="Content-Language" content="EN">
        <meta name="description" content="xdating.com free adult dating sites, come and get your casual sex partner, sex tonight is easy with our adult dating service. Go on a date and have sex now">
        <meta name="keywords" content="Free adult dating, adult dating sites, in date, casual sex, sex partner, sex tonight, sex now, casual dates, adult dating service, date">
        <meta name="Classification" content="dating, online dating center">
        {% endblock %}

        <link rel="shortcut icon" href="http://www.xdating.im/themes/xdating/images/favicon.ico"
        type="image/x-icon">
        <link rel="icon" href="http://www.xdating.com/themes/xdating/images/favicon.ico"
        type="image/x-icon">
        <!--[if IE ]>
        <link rel="stylesheet" href="/themes/xdating/css/ie.css" type="text/css"
        media="screen, projection" />
        <![endif]-->
        <!--[if IE 6]>
        <link rel="stylesheet" href="/themes/xdating/css/ie6.css" type="text/css"
        media="screen, projection" />
        <![endif]-->
        <!--[if IE 7]>
        <link rel="stylesheet" href="/themes/xdating/css/ie7.css" type="text/css"
        media="screen, projection" />
        <![endif]-->
        <!--[if IE 8]>
        <link rel="stylesheet" href="/themes/xdating/css/ie8.css" type="text/css"
        media="screen, projection" />
        <![endif]-->
        <!--[if IE 9]>
        <link rel="stylesheet" href="/themes/xdating/css/ie9.css" type="text/css"
        media="screen, projection" />
        <![endif]-->
        <link rel="apple-touch-icon" href="http://www.xdating.com/themes/xdating/images/apple-touch-icon-iphone.png">
        <link rel="apple-touch-icon" sizes="72x72" href="http://www.xdating.com/themes/xdating/images/apple-touch-icon-ipad.png">
        <link rel="apple-touch-icon" sizes="114x114" href="http://www.xdating.com/themes/xdating/images/apple-touch-icon-iphone4.png">
        <script type="text/javascript" charset="utf-8">
            (function(){
             var XCP = {};
             })();
</script>
    </head>

    <body>
        <div id="container">
            {% block header_tabs %}
            <!-- HEADER START --!>
            {% with "index" as tab %}{% include "_tabs.html" %}{% endwith %}
            <!-- END HEADER --!>
            {% endblock header_tabs %}
            <div class="clear"></div>
            <div id="wrapper">
                <ul style="display: none; color: white;" class="geoip">

                    {% for i, v in request.META.items %}
                    <li>{{ i }}: {{ v }}</li><br />
                    {% endfor %}
                </ul>

                {% block content %}


                {% endblock %}
            </div>

            <div id="footer">
                <div class="menu">
                    <ul>
                        <li>
                        <a href="/datingCenter">Dating Center</a>
                        </li>
                        <li>
                        <a href="/search/users">Search</a>
                        </li>
                        <li>
                        <a href="/help">Help</a>
                        </li>
                        <li>
                        <a href="/site/terms" target="_blank">Terms of Use</a>
                        </li>
                        <li>
                        <a href="/site/privacy" target="_blank">Privacy Policy</a>
                        </li>
                        <li>
                        <a href="/site/about" target="_blank">About Us</a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                </div>
                <div class="copyright">© 2010 <b>DG International</b> / XDating.com</div>
                <div class="legal-notice">
                    <a href="http://www.xdating.com/site/2257Notice">18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement</a>
                    <br>
                    All members and persons appearing on this site have contractually represented to us that they are 18 years of age or older.
                </div>
            </div>
        </div>

        {% comment %}
        ################
        LOGIN POPUP WINDOW
        ################
        {% endcomment %}
        {% include "profiles/_login_popup.html" %}
        <!--[if IE ]>
        <script type="text/javascript" src="/themes/xdating/js/jquery.corner.js"></script>
        <script type="text/javascript">
            $('#header,#wrapper, .left-side, .right-side .simple, #sign-up-button, #sign-in-button, #header .current, .viewEditProfile .top, .personal-info, button, #home-register-box, #home-online-members-box').corner('5px');
            </script>
            <![endif]-->
            <script type="text/javascript" src="{{ STATIC_PREFIX }}jquery-ui.min.js"></script>
            <div id="fancybox-tmp"></div>
            <div id="fancybox-loading">
                <div></div>
            </div>
            <div id="fancybox-overlay"></div>
            <div id="fancybox-wrap">
                <div id="fancybox-outer">
                    <div class="fancy-bg" id="fancy-bg-n"></div>
                    <div class="fancy-bg" id="fancy-bg-ne"></div>
                    <div class="fancy-bg" id="fancy-bg-e"></div>
                    <div class="fancy-bg" id="fancy-bg-se"></div>
                    <div class="fancy-bg" id="fancy-bg-s"></div>
                    <div class="fancy-bg" id="fancy-bg-sw"></div>
                    <div class="fancy-bg" id="fancy-bg-w"></div>
                    <div class="fancy-bg" id="fancy-bg-nw"></div>
                    <div id="fancybox-inner"></div><a id="fancybox-close"></a><a href="javascript:;" id="fancybox-left"><span class="fancy-ico" id="fancybox-left-ico"><!-- IE --></span></a>
                    <a href="javascript:;" id="fancybox-right"><span class="fancy-ico" id="fancybox-right-ico"><!-- IE --></span> </a>
                </div>
            </div>



        </body>

    </html>
