{% load thumbnail %}
{% for item in res_list %}
<li class="message_li">
    <div class="image">
        <a href= {% url view_profile item.link %} class="popup viewProfile">

            {% thumbnail image.src "100x100" crop="center" as im %}
            <img src="{{ item.img.url }}" width="{{ item.img.width }}" height="{{ item.img.height }}">
            {% empty %}
            <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_gender_display|lower }}_100.png" width="100" height="100">
            {% endthumbnail %}
            <span class="premium"><!-- IE --></span>		
        </a>
    </div>

    <div class="message dashboard">
        <div class="header">
            <a href= {% url view_profile item.link %} class="popup viewProfile">
                <span class="name">
                    {{ item.sender }}	
                </span>
            </a>
            <span class="info">
                {{ item.user_info }}			
            </span>
            <a class="delete" href="{% url delete_message s_id=item.message_id %}">Delete</a>
            <span class="when">
                {{ item.time }}		
            </span>
        </div>
        <div class="content  "> 
            {{ item.body }}
            <a href= {{ item.link}} class="popup viewProfile message-read-more">Read message »</a>
            <span class="message-new-flag">New</span>
        </div>
    </div>
    <div class="message-footer new">
    </div>
</li>
{% endfor %}
