{% if pages.previous %}
    <li class="previous">{{ pages.previous }}</li>
{% endif %}
{% for p in pg %}
    {% if p.is_current %}
        <li class="page selected"><a href="javascript:void(0);">{{ p.label }}</a></li>
    {% else %}
        <li class="page">{{ p }}</li>
    {% endif %}
{% endfor %}
{% if pages.next %}
    <li class="next">{{ pages.next }}</li>
{% endif %}
