    <div class="redir"> 
        <a href="{% url index %}" id="link">You will be redirected to the mail page
            after   <span></span>  seconds</a>
    </div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
            var i=3;
            window.setInterval(function(){
                i--;
                if (i > 0)
                $(".redir a span").text(i)
                }, 1000);
            setTimeout(function() {window.location.href="/"}, 1000);
            })
</script>

