<style>
    .landing-search-login .registration-special-title {
        display: block;
    }
    .landing-search-login #sign-up-special-title {
        display: block;
        padding-top: 5px;
    }
    .landing-search-login #sign-up-special-title b {
        color: #EC2282;
    }
    .landing-search-login .registration-special-title {
        display: block;
    }
    .landing-search-login #registerForm dl, .landing-search-login #signinForm dl, .landing-search-login #registerForm div.submit, .landing-search-login #signinForm div.submit, .landing-search-login #requestPasswordResetForm div.submit, .landing-search-login #registerForm p{
        text-align: center;
    }
    .landing-search-login .register-box-footer-link {
        display: block;
        margin-top: 15px;
        color: #999;
    }

    .popup-register-login .ui-tabs-panel {
        padding: 10px 10px 15px 10px;
        background: url(/static/box_generic_bg.png) repeat-x scroll center bottom transparent;
    }
    .landing-search-login #requestPasswordResetForm dl, .landing-search-login #registerForm dl, .landing-search-login #signinForm dl, .landing-search-login #registerForm div.submit, .landing-search-login #signinForm div.submit, .landing-search-login #requestPasswordResetForm div.submit {
        text-align: center;
    }


</style>

<div class="tabs" id="registration-tabs">
    <ul>
        <li class="small-tab-left-generic">
            <a href="#User_Register">Sign Up</a>
        </li>
        <li class="small-tab-right-generic">
            <a href="#User_Sign_In" title="User Sign In">Sign In</a>
        </li>
    </ul>
    <div class="one-column" id="User_Register">
        <h2 class="registration-special-title">
            <span id="sign-up-special-title">Sign Up, <b>It's Free</b>!</span>
            <span id="sign-up-special-teaser">Meet sexy people in your area tonight!</span>
        </h2>
        <form action="{% url registration %}" method="post" id="registerForm">
            {% csrf_token %}
            <dl>
                {% for f in registration_form_step_1 %}
                {% if not forloop.last %}
                <dt>{{ f.label_tag }}:</dt>
                <dd>{{ f }}
                {% else %}
                <dt class="agree">{{ f }}   {{ f.label_tag }}</dt>
                {% endif %}
                {% endfor %}
            <dl>
            <div class="submit">
                <button type="submit">
                    <span>Register</span>
                    <span id="registration-special-submit-text">Join For FREE Now &rarr;</span>
                </button>
                <a href="#" class="register-box-footer-link" id="already_member">Already a member?</a>
            </div>
        </form>
    </div>



            <div id="User_Sign_In" class="one-column">
                <h2 class="registration-special-title">
                    <span id="sign-up-special-title">Sign In</span>
                </h2>

                <form id="signinForm" action="{% url auth_login %}" method="post">  
                    <dt id="error-msg-logform">
                    </dt>

                    {% csrf_token %}
                    <dl>
                        {% for f in authentication_form %}
                        <dt>{{ f.label_tag }}:</dt>
                        <dd>{{ f }}
                        {% endfor %}
                        <dl>
                            <div class="submit">
                                <button type="submit">Sign In</button>
                                <a href="#" class="register-box-footer-link" draggable="false" id="to_sign_in">← Back to register</a>
                            </div>
                        </dl>
                    </dl>
                </form>
            </div>
        </div>

        <script type="text/javascript" charset="utf-8">
            $(document).ready(function(){
                    $('#already_member').bind('click', function() {
                        $("#registration-tabs").tabs( "select" , 1);
                        });
                    $('#to_sign_in').bind('click', function() {
                        $("#registration-tabs").tabs( "select" , 0);
                        });
                    })
        </script>

