{% load thumbnail %}
{% for item in res_list %}

<li class="update-type-1">
	<div class="image">
		<a href= {% url view_profile item.link %} class="popup viewProfile">
                {% thumbnail image.src "100x100" crop="center" as im %}
                <img src="{{ item.img.url }}" width="{{ item.img.width }}" height="{{ item.img.height }}">
                {% empty %}
                <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_gender_display|lower }}_100.png" width="100" height="100">
                {% endthumbnail %}
					</a>
	</div>
	<div class="message">
	<div class="header">
		<a href=  {% url view_profile item.link %} class="popup viewProfile">
			<span class="name">
			{{ item.user }}  </span>
		</a>
		<span class="when">
			0 seconds ago  </span>
		</div>
		<div class="content">
		{{ item.text }}</div>
	</div>
	<div class="message-footer">
	</div>
</li>

{% endfor %}
