    <script src="{{ STATIC_PREFIX }}autocomplete_light/autocomplete.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/widget.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/addanother.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/text_widget.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/remote.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}autocomplete_light/style.css" />

{% if owner  %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    var html = '';
    $("label[for='id_location']").remove();
    $("#locationAction").click(function(){
        $(".toggleCityBox").hide();
        $("#locationInfo").hide();
        $("div#NewCityBox, .toggleCityBox.button").show();
        return false;
        });
    
    $("#ChangeCity").click(function(){
        html = $("#id_location-deck").html();
        $.post(
            "{% url change_location %}",
            { location: $("#id_location option:selected").attr("value") },
            function(data){$("#NewCityBox input").hide(); $("a#locationAction.toggleCityBox").show() },
            "json"
        );
        });
    $("#cancel").click(function(){
        $("#id_location-deck").html(html);
        })
})
</script>        
{% endif %}
<style type="text/css" media="screen">
span.location {
    width: auto !important;
}
    
</style>
            <div class="location">
                <img id="googleMap" src="http://maps.google.com/maps/api/staticmap?center={{ profile.location.latitude }},{{ profile.location.longitude }}&amp;zoom=6&amp;size=300x310&amp;maptype=roadmap&amp;sensor=false&amp;markers=color:blue|{{ profile.location.lng }},{{ profile.location.lat }}" width="300" height="310">
                <div class="edit">
                    <span id="locationInfo">{{ profile.location }}</span>

                    {% if owner %}                    
                    <a href="#" id="locationAction" class="toggleCityBox">(Change)</a>
                    <div style="display:none" id="NewCityBox" class="change-area">
                        <input type="button" id="ChangeCity" value="Ok" class="button">
                        <input type="button" value="Cancel" id="cancel" class="toggleCityBox button ">
                        {{ location_form }}
                    </div>
                    {% endif %}
                </div>
            </div>

