<style type="text/css" media="screen">
    .ui-tabs .ui-tabs-nav {
        padding: 0;
        margin: 0;
        background: white;
        border: none;
        color: black;
        font-size: 18px;
        margin-bottom: -5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;

    }
    .popup-register-login {
        border: none;
        padding: 0;
        width: 300px;
        overflow: hidden;
        background: transparent;
    }
    #dialog-sign-up-button {
        padding: 0;
        font-size: 11px;
        overflow: visible;
    }
    #registerForm dt, #signinForm dt {
        font-size: 12px;
    }
    #registerForm input, #signinForm input {
        font-size: 16px;
        font-weight: 700;
    }
    #signinForm input.username, input.password {
        width: 271px;
        padding: 6px 2px;
    }
    .popup-register-login .ui-widget-content {
        background: transparent;
    }
    .popup-register-login .ui-tabs-panel {
        padding: 10px 10px 15px 10px;
        background: url(/static/box_generic_bg.png) repeat-x scroll center bottom transparent;
    }
    .registration-special-title {
        text-align: center;
        display: block;
    }
    ul.hidden_tabs {
        display: none;
    }
    .popup-register-login .ui-dialog-titlebar {
        display: block;
        margin-bottom: -4px;
    }
    #dialog-sign-up-button input {
        width: 271px;
        padding: 6px 2px;
    }
</style>
<div id="dialog-sign-up-button" class="popup-register-login">
    <div class="tabs" id="registration-tabs">
        <ul class="hidden_tabs">
            <li class=""><a href="#User_Sign_In">Sign in</a></li>
            <li class=""><a href="#ResetPwd">Password reset</a></li>
        </ul>

        <div class=""  id="User_Sign_In">
            <h2 class="registration-special-title">
                <span id="sign-up-special-title">Sign In</span>
            </h2>

            <form id="signinForm" method="post"> {% csrf_token  %}
                <dl>
                    <dt id="error-msg-logform">
                    </dt>
                    <dt>
                    <label for="SigninForm_username" class="required">Username <span class="required">*</span></label>
                    </dt>
                    <dd><input class="username" name="username" id="id_username" type="text"></dd>
                    <dd id="id_username_err"></dd>
                    <dt><label for="SigninForm_password" class="required">Password <span class="required">*</span></label></dt>
                    <dd><input class="password" name="password" id="id_password" type="password"></dd>
                    <dd id="id_password_err"></dd>
                    {% comment %}
                    <dt><input id="ytSigninForm_rememberMe" type="hidden" value="0" name="SigninForm[rememberMe]">
                    <input class="remember-me" name="SigninForm[rememberMe]" id="SigninForm_rememberMe" value="1" type="checkbox">
                    <label for="SigninForm_rememberMe">Remember me next time</label></dt>
                    {% endcomment %}
                    <dl>
                        <span>
                            <a href="#ResetPwd" title="Forgot your password ?" id="request-password-lnk" draggable="false">Forgot your password ?</a>
                        </span>
                        <div class="submit">
                            <a href="javascript:void(0)" class="cancel-window simple" draggable="false">Cancel</a>
                            <button type="submit">Sign In</button>
                            <!--<a href="#" class="register-box-footer-link" data-tabindex="0" draggable="false">← Back to register</a>-->
                        </div>
                    </dl>
                </dl>
            </form>
        </div>
        <div class=""  id="ResetPwd">
            <h2 class="registration-special-title">
                <span id="sign-up-special-title">Sign In</span>
            </h2>

            <form id="reset" action="{% url password_reset %}" method="POST">
                {% csrf_token %}
               <dt id="error-msg-logform">
                </dt>
                <dl>
                    {% for f in password_reset_form %}
                    <dt>
                    {{ f.label_tag }}{% if f.field.required %}*{% endif %}:
                    </dt>
                    <dd>
                    {{ f }}
                    </dd>
                    <dt id="id_{{ f.name }}_err"></dt>
                    {% endfor %}
                </dl>
                {% csrf_token %}
                <div class="submit">
                    <a href="/" class="cancel-window simple">Cancel</a>
                    <button type="submit" id="resetPasswordSubmit">Reset Password</button>
                    <button type="button" id="resetPasswordClose" style="display:none">Close</button>
                </div>
            </form>
        </div> 
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
            var dialog = $("#dialog-sign-up-button").dialog({
                autoOpen: false,
                buttons: [],
                dialogClass: "popup-register-login",
                closeOnEscape: true,
                draggable: false,
                width: 300,
                height: 'auto',
                title: 'Sign in',
                resizable: false,
                position: 'center', 
                modal: true
                });

            $(".tabs").tabs({heightStyleType: "fill", active: 0});
            
            $(".ui-dialog-titlebar-close").hide();

            $("#request-password-lnk").click(function() {
                $("#registration-tabs").tabs("select", 1);
                return false;
                });


            $("#sign-in-button").click(function(){
                    $(".tabs").tabs("select", 0);
                    dialog.dialog("open");
                    return false;
                    });

            $(".cancel-window").click(function(){
                    dialog.dialog("close");
                    return false;
                    });
            $('#signinForm input').keypress(function() {
                    $('#signinForm #'+this.id+'_err').empty();
                    });
            $('#reset').submit(function() {
                    str = $(this).serialize()
                    $.post('{% url password_reset %}', str, function(data) {
                        if (data['saved'] == false){
                            for ( keyVar in data['errors'] ) {
                                if (keyVar == '__all__'){
                                    $('#reset #error-msg-logform').html(
                                        '<p class="error-msg">'+data['errors'][keyVar]+'</p>'
                                        );
                                    }
                                else {
                                     $('#reset #'+keyVar+'_err').html(
                                         '<p class="error-msg">'+data['errors'][keyVar]+'</p>'
                                         );
                                    }
                                }
                            } else
                                if (data['saved'] == true)
                                location.href = "{% url django.contrib.auth.views.password_reset_done %}";
                        }, "json");
                    return false;
                    });

            $('#signinForm').submit(function() {
                    str = $(this).serialize()
                    $.post('{% url auth_login %}', str, function(data) {
                        if (data['saved'] == false){
                            for ( keyVar in data['errors'] ) {
                                if (keyVar == '__all__'){
                                    $('#signinForm #error-msg-logform').html(
                                        '<p class="error-msg">'+data['errors'][keyVar]+'</p>'
                                        );
                                    }
                                else {
                                     $('#signinForm #'+keyVar+'_err').html(
                                         '<p class="error-msg">'+data['errors'][keyVar]+'</p>'
                                         );
                                    }
                                }
                            } else
                                if (data['saved'] == true)
                                    location.reload();
                        }, "json");
                    return false;
                    });
            });

</script>
