{% load static %}
{% get_static_prefix as STATIC_PREFIX %}
<div class="popup-just-registered-box">
<style type="text/css">
#id_location-wrapper div div div{
    border: 1px solid #D8D8D8;

}
#id_location-wrapper input:focus{
    border: 1px solid #F70073;
}
</style>
<div id="just-registered-profile-box" style="width: auto; min-height: 0px; height: 260px; " class="ui-dialog-content ui-widget-content">
<h4>Just a few more details about you!</h4>
<form id="justRegisteredForm" action="{% url registration_step2 %}" method="post">
    <div id="step2form">
    <table>
        {{ reg_form2.as_table }}
    </table>
    {% comment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    {% endcomment %}
    <script src="{{ STATIC_PREFIX }}autocomplete_light/autocomplete.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/widget.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/addanother.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/text_widget.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/remote.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}autocomplete_light/style.css" />
    {% comment %}
    {% include 'autocomplete_light/static.html' %}
    {% endcomment %}
    </div>
    {% csrf_token %}
	<div class="submit-with-captcha">
		<button type="submit" id="just-registered-save-bt inactive" style="margin-top:-50px">Save Settings</button>
	</div>
</form></div></div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var getFormOnLoad = false;
        var d = $(".popup-just-registered-box").dialog({
            autoOpen: true,
            buttons: [],
            closeOnEscape: false,
            draggable: false,
            height: 'auto',
            width: '580px',
            title: "Just a few more details about you!",
            resizable: false,
            modal: true,
            position: 'center',
            open: function(event, ui) {
                $(".ui-dialog-titlebar-close").hide();
                if (getFormOnLoad ) {
                    $.ajax({
                        url: '{% url registration_step2 %}',
                        success: function(data) {
                            $("#step2form").html(data);
                            },
                        error: function() {alert("Something went wrong. Please reload the page.")}
                    })
                }
            }
        });
        d.dialog('open');
    });
</script>
