<div id="upload-photo-profile-box" class="landing-from-users">
    <h4>Upload a photo! <span class="optional">(optional)</span></h4>
	<h5>Having a profile picture gets you 10x more action!</h5>

	<form enctype="multipart/form-data" id="uploadImageForm" action="{% url registration_step3 %}" method="post">
        {{ photo_form.as_p }}
        
        {% comment %}
        <input id="ytUserImageUploaded_file" type="hidden" value="" name="UserImageUploaded[file]" x-webkit-speech="">
        <input size="15" name="UserImageUploaded[file]" id="UserImageUploaded_file" type="file" x-webkit-speech="">
    </form>
        {% endcomment %}
	<h4>...write a short description about you</h4>

	<h5>
		Writing something about yourself increases your chances to match up quickly!<br>
		(minimum 5 words)
	</h5>

    {% comment %}
	<form id="editProfileForm" class="mandatory" action="/registration/uploadStep" method="post">				
        <input name="RegistrationUploadStepForm[time]" id="RegistrationUploadStepForm_time" type="hidden" x-webkit-speech="">	
        <input value="1348085888" name="RegistrationUploadStepForm[displayTimestamp]" id="RegistrationUploadStepForm_displayTimestamp" type="hidden" x-webkit-speech="">		
        <textarea name="RegistrationUploadStepForm[selfDescription]" id="RegistrationUploadStepForm_selfDescription"></textarea>	
    {% endcomment %}
    {{ reg_form3.as_p }}
    {% csrf_token %}
	<div class="submit">
		<button type="submit" id="upload-photo-description-save-bt">Save Changes</button>
	</div>
    </form>
</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var getFormOnLoad = false;
        var d = $("#upload-photo-profile-box").dialog({
            autoOpen: true,
            buttons: [],
            closeOnEscape: false,
            draggable: false,
            height: 'auto',
            width: '580px',
            title: "Just a few more details about you!",
            resizable: false,
            modal: true,
            position: 'center',  
            open: function(event, ui) {
                $(".ui-dialog-titlebar-close").hide(); 
            }
        });
        d.dialog('open');
    });
</script>

