{% extends "base.html" %}
{% load thumbnail %}
{% load user_safe_mode %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" href="/static/index_page.css" type="text/css" media="screen" charset="utf-8">
{% endblock %}

{% block content %}

<style type="text/css" media="screen">
    .user-data {
        min-height: 3em;
    }
    #guest-left-side .profiles li a {
        font-weight: bold;
        font-size: 16px;
    }
</style>
<div class="left-side" id="guest-left-side">
    <h2 >Meet members near <span>
            {% if request.META.GEOIP_CITY %} 
            {{ request.META.GEOIP_CITY }}, 
            {% endif %}
            {% if request.META.GEOIP_REGION_NAME %}, {{ request.META.GEOIP_REGION_NAME }}
                {% else %}{{ request.META.GEOIP_COUNTRY_NAME }}
            {% endif %}
    </span></h2>
    <h3>Contact any member, view their updates and watch videos!</h3>
    <ul class="profiles">

    {% for u in users %}
        <li class="profile-search-info {% if forloop.counter.last %}last{% endif %}">
            <div>
                <a href="{% if u %}{% url view_profile u.slug %}{% endif %}">
                    {% thumbnail u.get_avatar.src "150x150" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% empty %}
                        <img src="http://images.xdating.com/internal/no_photo_man_150.png" width="150" height="150">
                    {% endthumbnail %}
                    {% comment %}<img src="{% thumbnail u.get_avatar 100x100 %}" width="150" height="150" />
                    {% endcomment %}
                </a>
            </div>
            <div class="user-data">
                <a href="{% if u %}{% url view_profile u.slug %}{% endif %}">
                    <span class="name">{{ u.username }}</span>
                </a>
                <br />{% if u %}
                <span>{{u.my_age}}, {{ u.get_gender_display|slice:"0:1" }}</span>,
                {{ u.location.name }}, {{ u.location.country.code3 }}
                {% else %}
                <span></span>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    {% comment %}
    {% for i in "nineChars" %}
        <li class="profile-search-info {% if forloop.counter.last %}last{% endif %}">
            <div>
                <a href="/profile/view/id/9a04d2ecd56ef1c840e16077a20c8d32">
                    <img src="http://images.xdating.com/ffe0ceefedf5a8ecc2659282466bf5dd.jpg" width="150" height="150" />
                </a>
            </div>
            <div>
                <a href="/profile/view/id/9a04d2ecd56ef1c840e16077a20c8d32">
                    <span class="name">msrightrider</span>
                </a>
                <br />
                <span>23, W</span>,
                Kharkiv, UA
            </div>
        </li>
        {% endfor %}
    {% endcomment %}
    </ul>
    {% comment %} search form is here, but it should be very simple, just redirect ro the search page {% endcomment %}
    <form action="/search/users" method="get">
        <button type="submit" id="view-more-profiles-guest" class="white">View More</button>
    </form>
</div>

<div class="right-side" id="guest-right-side">
    <div class="free-badge"></div>
        <div id="home-register-box">
        <form action="{% url registration %}" method="post" id="registerFormHome">
        {% csrf_token %}
        {{ reg_form.as_p }}
        <div class="captcha-spacer"></div>
        <div class="submit">
            <button type="submit">
                <span></span>
            </button>
        </div>
        <div class="captcha-spacer"></div>
    </form>
</div>
{% comment %}

{% if request.user.is_authenticated %}
<div class="tabs container ui-tabs ui-widget ui-widget-content ui-corner-all" id="profileViewPanel">
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $.get("visits/viewed/widget", function(data){
                 $('#profileViewPanel').html(data);
            });
        });
    </script>
</div>
<div class="tabs container ui-tabs ui-widget ui-widget-content ui-corner-all" id="matchesPanel">
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $.get("visits/likes/widget", function(data){
                 $('#matchesPanel').html(data);
            });
        });
    </script>
</div>
{% endif %}
{% endcomment %}
<div id="home-online-members-box">
    <h2>Online members</h2>
    <div id="onlineNowWidgetCnt">
             <style type="text/css">
	      li.online_li {
              float: left;
              min-height:12em;
              text-align: center;
              width: 33.3%;
              margin-bottom: 10px;
                    }
	     </style>
        <div id="onlineNowWidget" class="list-view">
            <ul class="profiles">
            {% for profile in online_users %}
                <li class="online_li" >
                                <a href="/profile/view/{{ profile.slug }}" class="viewProfile">
                        {% thumbnail profile.get_avatar.src "100x100" crop="center" as small_ava %}
                         <img src="{{ small_ava.url }}" width="100" height="100">
                        {% empty %}
                         <img src="http://images.xdating.com/internal/no_photo_man_100.png" width="100" height="100">
            {% endthumbnail %}

            {% if profile.is_paid %}           
            <span class="premium">
                <!-- IE --> </span>
            {% endif %}
                       
                    </a>
                    <div class="info name">
                       <a href="/profile/view/{{ profile.slug }}" class="name">
                          <span class="name">{{ profile.username }}</span>
                          {% if profile.is_paid %}
                         <span class="online">
                           <!-- IE --> </span>
                          {% endif %}
                            </a>
                    </div>
                </li>
            {% endfor %}
            </ul>
            <div class="clear"></div>

            
        </div>
    </div>
</div>
</div>
{#% if not request.user.is_anonymous %#}
    {% if request.session.registration_step == 1 %}
        {% include "profiles/first_login.html" %}
    {% else %}
        {% if request.session.registration_step == 2 %}
            {% include "profiles/first_login_step2.html" %}
        {% endif %}
    {% endif %}
{#% endif %#}

{% endblock %}
