{% extends "base.html" %}

{% load thumbnail %}

{% block content %}
<style>
.viewEditProfile .top .short-info .name {
    font-size: 24px;
    font-weight: 700;
}
</style>
<div class="viewEditProfile">
    <!-- Start TOP --!>
    <div class="top">
        <div class="short-info">
            <span class="name " id="">{{ profile }}  </span> 
            <span>{{ profile.my_age }}, {{ profile.get_gender_display }}</span>
            {% comment %}
            <span id="safe-mode-chk">
                <label>Safe mode is 
                <span class="on ">on </span>
                <span class="off hidden">off</span>
                </label>
                <input checked="checked" type="checkbox" value="1" name="safeMode" id="safeMode">
            </span>
            {% endcomment %}
        </div>
        <div class="general-info">
        <!-- Images list start --!>
            <div class="images">
                <div class="list">
                    <ul>
                    {% if  profile.get_images %}
                        {% for image in profile.get_images %}
                            <li class="ava {% if forllop.0 %}primary-img{% endif %}">
                                <a href="#{{ forloop.counter }}">
                                    {% thumbnail image.src "100x100" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    {% empty %}
                                        <img src="http://images.xdating.com/internal/no_photo_{{ profile.get_gender_display|lower }}_100.png" width="100" height="100">
                                    {% endthumbnail %}
                                </a>
                                <div class="img-tools" style="display: none; ">
                                    <a href="/image/setPrimary/id/2735287" title="" class="set-primary-img">
                                    <span>Primary</span>
                                    </a>
                                    <a href="/image/delete/id/2735287" title="" class="delete-img">
                                    <span>Delete</span>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for i in 'emptyImgs' %} {% comment %}  emptyImgs is just a work which contains 9 chars to iterate over them {% endcomment %}
                        <li class="{% if forllop.0 %}primary-img{% endif %}">
                            <a href="#">
                                <img src="http://images.xdating.com/internal/no_photo_{{ profile.gender }}_100.png" width="100" height="100">
                            </a>
                        </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                </div>    
            </div>
            <!-- Images list end --!>

            <div class="primary">
                <div class="prev-next-links">
                    <div class="area left-area">
                        <a href="#" class="prev-image">Prev</a>
                    </div>
                    <div class="area right-area">
                        <a href="#" class="next-image">Next</a>
                    </div>
                </div>
                <div class="image edit-profile-{{ profile.get_gender_display|capfirst}}">
                    <a href="#" data-index="0">
                    {% if profile.get_avatar %}
                    {% thumbnail profile.get_avatar.src "320x310" crop="center" as big_ava %}
                    <img src="{{ big_ava.url }}" id="gallery-big-image">
                    {% endthumbnail %}
                    {% endif %}
                    </a>
                </div>
                <div class="actions" id="match-actions">
                    {% if request.user.is_authenticated %}
                    {% if not liked_or_not %}
                    <button id="matchRequestSend" class="matchRequest" data-value="send">
                        Like {% if profile.get_gender_display|lower == "man" %}him{% else %}her {% endif %} ?	
                    </button>
                    
                    {% else %}
                    <span class="match-message-text mutual-like">You like {% if profile.get_gender_display|lower == "man" %}him{% else %}her {% endif %} !</span>

                    {% endif %}
                    {% endif %}

                </div>
            </div>
            <!-- Location Start --!>
            {% with not_owner as True %}
            {% include "profiles/_location.html" %}
            {% endwith %}
            <!-- Location End --!>
        </div>
    </div>    
    <!-- end TOP --!> 

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.tabs').tabs();
        });
</script>

<div class="middle">
	<div class="left">
		<div class="tabs tabs-blackBg ui-tabs ui-widget ui-widget-content ui-corner-all">
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <li id="big-tab-profile-messages" class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
						<a href="#privateMessage">Private Message</a>
				</li>
				<li id="big-tab-profile-updates" class="ui-state-default ui-corner-top">
					<a href="#profileUpdates">Updates</a>
				</li>
			</ul>
            {% include "profiles/send_private_message.html" %}

            {#% with user as profile %#}
            {% include "profiles/profile_updates.html" %}
            {#% endwith %#}
		</div>
	</div>
    <div class="personal-info">
        <div class="tabs ui-tabs ui-widget ui-widget-content ui-corner-all">
		    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			    <li class="one-small-tab ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
				    <a href="#personalInfo">Personal Information</a>
    			</li>
	    	</ul>
            <div id="personalInfo" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
                <div class="description" id="infoSelfDescription">
                    <p>{{ profile.about_me }}&nbsp;</p>
                </div>
                <div class="list">
                    <dl>
                        <dt>I am seeking:</dt>
                        <dd id="infoLookingFor">{{ profile.get_looking_for_display }}</dd>
                    </dl>
                </div>
                <div class="list">
                    <dl>
                        <dt>Height:</dt>
                            <dd id="infoHeight">{{ profile.get_height_display }}</dd>
                        <dt>Race:</dt>
                            <dd id="infoRace">{{ profile.get_race_display }}</dd>
                    </dl>
                </div>
                <div class="list last">
                    <dl>
                        <dt>Hair Color:</dt>
                            <dd id="infoHairColor">{{ profile.get_hair_color_display }}</dd>
                        <dt>Eye Color:</dt>
                            <dd id="infoEyeColor">{{ profile.get_eye_color_display }}</dd>
                        <dt>Body Type:</dt>
                            <dd id="infoBodyType">{{ profile.get_body_type_display }}</dd>
                        <dt>Profession:</dt>
                            <dd id="infoProfession">{{ profile.get_profession_display }}</dd>
                    </dl>
                </div>
            </div>
		</div>
        <div class="clear"></div>
    </div>
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.tabs').tabs();
        $('.delete').hide();
        
        $("#matchRequestSend").click(function(){
            var username = $(".short-info .name").text();
            $.get('/matchProcess/',{liked:username},onMatchSuccess, 'json')
            });
        function onMatchSuccess(json){
            if (json.gender == 'him'){
                $('#match-actions').html(
                    '<span class="match-message-text mutual-like"> You like him!</span>');
            } else {
                $('#match-actions').html(
                    '<span class="match-message-text mutual-like"> You like her!</span>');
            }
        }; 
    });
    </script>

{% if not request.user.is_authenticated %}
{% include "sign_up.html" %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var d = $("#registration-tabs").dialog({
            autoOpen: true,
            dialogClass: "landing-search-login",
            buttons: [],
            //dialogClass: "popup-register-login",
            closeOnEscape: true,
            draggable: false,
            width: '450px',
            height: 'auto',
            title: 'Help',
            resizable: false,
            position: 'center',
            modal: true,
        });
        $(".tabs").tabs();
        
        $('#signinForm').submit(function() {
                str = $(this).serialize()
                $.post('{% url auth_login %}', str, function(data) {
                    if (data['saved'] == false){
                        for ( keyVar in data['errors'] ) {
                            if (keyVar == '__all__'){
                                $('#signinForm #error-msg-logform').html('<p class="error-msg">'+data['errors'][keyVar]+'</p>');
                            }
                            else {
                            $('#signinForm #'+keyVar+'_err').html(
                                '<p class="error-msg">'+data['errors'][keyVar]+'</p>'
                                );
                            }
                        }
                    }
                    else
                        if (data['saved'] == true)
                            location.reload();
                }, "json");
                return false;
                });
});
</script>
{% endif %} 

</div> 
{% endblock %}
