{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
<style type="text/css" media="screen">
#editProfileForm label {
    float: left;
    min-width: 120px;
    padding: 0 0 0 3px;
    font-size: 11px;
    font-weight: 700;
}
#editProfileForm input, select  {
    float: left;
    min-width: 159px;
    margin: 0 10px 0 0;
}  
#editProfileForm #id_birth_date_month {
    width: 60px !important;
    min-width:40px !important;
    float: left;
}
#id_birth_date_day {
    width: 33px !important;
    min-width:40px !important;
 
}
#id_birth_date_year {
    width: 60px !important;
    min-width: 50px !important;
 
}
</style>

<div class="viewEditProfile">
    <!-- Start TOP --!>
    <div class="top">
        <div class="short-info">
            <span class="name info-username" id="user-username" title="Click to edit">{{ request.user }} {{ request.user.my_age }}
            </span> 
            <span id="user-age">
                {{ request.id }}
            </span>, <span>{{ request.user.get_gender_display }}</span>
            <span id="safe-mode-chk">
                <label>Safe mode is 
                <span class="on ">on </span>
                <span class="off hidden">off</span>
                </label>
                <input checked="checked" type="checkbox" value="1" name="safeMode" id="safeMode">
            </span>
        </div>
        <div class="general-info">
        <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $(".ava").hover(
                function() {
                    ///$(this).fadeIn(100);
                    $(this).children(".img-tools").show();
                    },
                function() {
                    //$(this).fadeOut(100);
                    })
        });
        </script>
        <!-- Images list start --!>
            <div class="images">
                <div class="list">
                    <ul>
                    {% if  request.user.get_images %}
                        {% for image in request.user.get_images %}
                            <li class="ava {% if forllop.0 %}primary-img{% endif %}">
                                <a href="#{{ forloop.counter }}">
                                    {% thumbnail image.src "100x100" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                                    {% empty %}
                                        <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_gender_display|lower }}_100.png" width="100" height="100">
                                    {% endthumbnail %}
                                </a>
                                <div class="img-tools" style="display: none; ">
                                    <a href={{image.slug}} title="" class="set-primary-img">
                                    <span>Primary</span>
                                    </a>
                                    <a href={{image.slug}} title="" class="delete-img">
                                    <span>Delete</span>
                                    </a>
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for i in 'emptyImgs' %} {% comment %}  emptyImgs is just a work which contains 9 chars to iterate over them {% endcomment %}
                        <li class="{% if forllop.0 %}primary-img{% endif %}">
                            <a href="#">
                                <img src="http://images.xdating.com/internal/no_photo_{{ request.user.gender }}_100.png" width="100" height="100">
                            </a>
                        </li>
                        {% endfor %}
                    {% endif %}
                    </ul>
                </div>    
            </div>
            <!-- Images list end --!>

            <div class="primary">
                <div class="prev-next-links">
                    <div class="area left-area">
                        <a href="#" class="prev-image">Prev</a>
                    </div>
                    <div class="area right-area">
                        <a href="#" class="next-image">Next</a>
                    </div>
                </div>
                <div class="image edit-profile-{{request.user.get_gender_display|capfirst}}">
                    <a href="#" data-index="0">
                    {% if request.user.is_authenticated and request.user.get_avatar %}
                    {% thumbnail request.user.get_avatar.src "320x310" crop="center" as big_ava %}
                    <img src="{{ big_ava.url }}" id="gallery-big-image">
                    {% endthumbnail %}
                    {% endif %}
                    </a>
                </div>
                <div class="actions">
                    <form enctype="multipart/form-data" id="uploadImageForm" action="{% url upload_photo %}" method="post">       
                        {{ image_form }} {% csrf_token %}
                        <button type="submit">Upload</button>
                    </form>     
                </div>
            </div>
            <!-- Location Start --!>
            {% include "profiles/_location.html" %}
            <!-- Location End --!>
            <!-- 
            <div class="emailUpload">Or upload your photo(s) by email 
                <a href="mailto:bratcras1-4ad8@upload.xdating.com">bratcras1-4ad8@upload.xdating.com</a>
            </div>
            --!>
        </div>
    </div>    
    <!-- end TOP --!> 

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
    $('.tabs').tabs();
    $(".ava").mouseover(
      function(){
        $(this).find("div").css('visibility', 'visible');
      }
    );
    $(".ava").mouseout(
      function(){
        $(this).find("div").css('visibility', 'hidden');
      }
    );
       
    $(".set-primary-img").click(function() {
    var hash = $(this).attr('href');
    var element = $(this);
    $.get('/set_img/',{hash:hash},function (json){
        console.log(json.src);
        var bigSrc = json.src
        var thisImage = element.parents('.ava').find("a img");
        var thisSrc = thisImage.attr("src");
        var firstImage = $(".list ul li:first").find("a img");  
        var firstSrc = firstImage.attr("src");
        thisImage.attr("src", firstSrc);
        firstImage.attr("src", thisSrc);
        var thisDiv = element.parents(".img-tools");
        var firstDiv = $(".list ul li:first").find(".img-tools");


        jQuery.fn.swapWith = function(to) {
    return this.each(function() {
        var copy_to = $(to).clone(true);
        var copy_from = $(this).clone(true);
        $(to).replaceWith(copy_from);
        $(this).replaceWith(copy_to);
    });
};
        thisDiv.swapWith(firstDiv);
        
        $("#gallery-big-image").attr("src", bigSrc);
        
}, 'json');
    return false;
});
    

    $(".delete-img").click(function() {
    var hash = $(this).attr('href');
    var element = $(this);
    $.get('/del_img/',{hash:hash},function (data){
        var thisImage = element.parents('.ava').find("a img");
        var thisSrc = thisImage.attr("src","http://images.xdating.com/internal/no_photo_man_100.png");
        


});
    return false;
});
    
    
   

 });
    
</script>

<div class="middle">
	<div class="left">
		<div class="tabs tabs-blackBg ui-tabs ui-widget ui-widget-content ui-corner-all">
			<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                {% if view_profile %}
                <li id="big-tab-profile-messages" class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
						<a href="#privateMessage">Private Message</a>
				</li>
                {% else %}
				<li id="big-tab-profile-messages" class="ui-state-default ui-corner-top ui-tabs-selected ui-state-active">
					<a href="#editMySettings">Settings</a>
				</li>
                {% endif %}
				<li id="big-tab-profile-updates" class="ui-state-default ui-corner-top">
					<a href="#profileUpdates">Updates</a>
				</li>
			</ul>
            {% include "profiles/settings_edit.html" %}

            {% with request.user as user %}
            {% include "profiles/profile_updates.html" %}
            {% endwith %}
		</div>
	</div>
	<div id="editMyProfile" class="personal-info">
	<h2 id="editPersonalInfoTitle">Personal Information</h2>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            $("#saveProfileButton").click(function() {
                var dial = $(".status").dialog({
                    autoOpen: false, 
                    draggable: true, 
                    modal: true,
                    resizeable: false,
                    show: 'slide',
                    title: 'Alert',
                    buttons: [{
                        text: "Ok",
                        click: function() { $(this).dialog("close"); }
                        }]
                    });
                var res = $("#editProfileForm").submit_form("{% url save_profile %}", {type: 'p'});
                if (res) {
                    dial.dialog('open');
                }
            });
        });
    </script>

	<form id="editProfileForm" action="{% url save_profile %}" method="post">		
        {{ profile_form.as_p }}

		<div class="submit">
			<button type="submit" class="button" id="saveProfileButton" onclick="javascript: return false">Save Changes</button>
		</div>
		<div class="status" style="display: none; ">Changes Saved</div>
	</form>
    </div>
	<div class="clear"></div>
</div>

</div>
{% endblock %}
