{% load thumbnail %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
    $(".delete").click(function(){
        var url = $(this).attr('href');
        var element = $(this);
        $.ajax({
            method: 'GET',
            url: url,
            dataType: 'json',
            success: function(data) {
                if (data.response){
                    element.parents(".update-type-2").remove();
                } else {
                    alert(data.error);
                }
            },
        });
        return false;
    })
})
</script>
<div id="profileUpdates" class="ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
    <div class="messages-list wide-messages">
        <ul id="profile-updates-list">

        {% for up in profile.update_set.all %}
            <li class="update-type-2">
                <div class="image">
                    <a href="/profile/view/id/3615c33f1de6524d1facb864ff95b640" class="popup viewProfile">
                        {% thumbnail up.profile.get_avatar.src "40x40" crop="center" as ava %}
                            <img src="{{ ava.url }}" width="48" height="48">
                        {% empty %}
                                <img class="avatar" src="http://images.xdating.com/internal/no_photo_man_48.png" width="48" height="48">
                        {% endthumbnail %}
                    </a>
                </div>
                <div class="message">
                    <div class="header">
                        <a href="{% comment %}{% url view_profile %}{% endcomment %}" class="popup viewProfile">
                            <span class="name">
                                {{ profile.name }}
                            </span>
                        </a>
                        <a href="{% url delete_update slug=up.slug  %}" class="delete" title="Delete update">Delete</a>
                        <span class="when">
                         {% with up.when as d %}
                         {% if d.month %}
                             About {{ d.month }} month{{ d.month|pluralize:"es"}} ago.
                         {% else %}
                             {% if d.week %}
                                 About {{ d.week }} week{{ d.week|pluralize:"s"}} ago.
                             {% else %}
                                 {% if d.day %}
                                     About {{ d.day }} day{{ d.day|pluralize }} ago.
                                 {% else %}
                                     {% if d.hour %}
                                         About {{ d.hour }} hour{{ d.hour|pluralize }} ago.
                                     {% else %}
                                         Less than 1 hour ago.
                                     {% endif %}
                                 {% endif %}
                             {% endif %}
                         {% endif %}

                         {% endwith %}
                        </span>
                    </div>
                    <div class="content">
                        {{ up.message }}
                    </div>
                </div>
                <div class="message-footer"></div>
            </li>
        {% endfor %}
        </ul>
    </div>
    <div class="clear"></div>
</div>

