{% extends "base.html" %}
{% block header_tabs %}
  {% with "search" as tab %}{% include "_tabs.html" %}{% endwith %}
{% endblock header_tabs %}
{% block js %}
    {{ block.super }}
<script src="{{ STATIC_PREFIX }}autocomplete_light/autocomplete.js" type="text/javascript"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/widget.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/addanother.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/text_widget.js"></script>
<script type="text/javascript" src="{{ STATIC_PREFIX }}autocomplete_light/remote.js"></script>
{% endblock %}
{% block css %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}autocomplete_light/style.css" />
<style>
    .autocomplete-light-widget .deck [data-value] .remove {
        background-image: url('../admin/img/inline-delete.png');
        color: black;
        cursor: pointer;
        border: 1px solid black;
        float: left;
        height: 15px;
        margin-right: 10px;
        width: 15px;
        padding-left: 6px;
        padding-bottom: 2px;
    }
</style>
{% endblock %}

{% block tabs %}

{% with "search" as tab %}{% include "_tabs.html" %}{% endwith %}
{% endblock %}

{% block content %}
<div class="indexPageForm">
    <form id="profile-search-form" action="{% url search %}" method="POST">
        {% csrf_token %}
        <ul id="searchContainer">
            <li class="search-i-am">
                <span class="bold">I am a</span>
                {% if request.user.is_authenticated %}
                <span>{{ request.user.get_gender_display }}</span>
                <div style="display: none;">{{ form.gender }}</div>
                {% else %}
                <span>{{ form.gender }}</span>
                {% endif %}
            </li>
            <li class="search-looking-for">
                <span class="bold">Looking for</span>
                {% if request.user.is_authenticated %}
                <span>{{ request.user.get_looking_for_display }}</span>
                <div style="display: none;">{{ form.looking_for }}</div>
                {% else %}
                <span>{{ form.looking_for }}</span>
                {% endif %}
            </li>
            <li class="search-in">
                <label class="title">Near</label>
                {{ form.city }}
            </li>
            <li class="search-ages">
                <label class="title">Ages</label>
                {{ form.age_min }}
                <br />
                <label>to</label>
                {{ form.age_max }}
            </li>
            <li class="search-who-are">
                <span>
                    {{ form.is_online }}
                    <label for="onlineNow">Online now</label>
                    <br>
                    {{ form.with_photos }}
                    <label for="with_photos">With photos</label>
                </span>
                <label class="title">Who are</label>
            </li>
            <li class="search-button">
                <button type="submit">Search</button>
            </li>
        </ul>
    </form>

</div>

<div class="one-column indexPage">
    <div class="profilesList">
        <div id="profileSearchList" class="list-view endless_page_template">
            {% include "profiles/search_pages.html" %}

            <div class="keys" style="display:none" title="/search"></div>
        </div>
    </div>
</div>
{% endblock %}
