{% load thumbnail %}

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
        
        $('textarea').keyup(function() {
          var letters = 1000 - $(this).val().length;
          $("div .left-chars-counter").html(letters);
          });
    })
</script>
<div id="privateMessage"> 
    
	<div class="messages-list wide-messages">
		<ul id="profile-private-messages-list">
			<li class="write">
				<div class="image">
          {% if request.user.is_authenticated %}
                    {% thumbnail request.user.get_avatar.src "40x40" crop="center" as small_ava %}
                        <img src="{{ small_ava.url }}" width="40" height="40">
                          {% empty %}
                       <img src="http://images.xdating.com/internal/no_photo_{{ request.user.get_gender_display|lower }}_100.png" width="40" height="40">
                       {% endthumbnail %}
          {% else %}
                       <img src="http://images.xdating.com/internal/no_photo_man_100.png" width="40" height="40">
          {% endif %}



	
                            </div>     
				<div class="message message-input">
                             <form action="/profile/send_message/" method="post">{% csrf_token %}
                                  {{ form.as_ul }} 
                                </div>
				<div class="message-footer message-input-footer">
				</div>
				<div class="other">
                                  
					<button <input type="submit" class="btn disabled" > Send</button>
				</div>
                           </form>
				<div class="left-chars-counter">
					1000				
                </div>
				<div class="clear"></div>
			</li>												
        </ul>
    </div>
 
	<div class="clear"></div>
</div>
