<style type="text/css" media="screen">
    .passwordChangeForm th, .changeEmail th, .profileSettings th{
        /*width : 230px;*/
    }
</style>
<script src="{{ STATIC_PREFIX }}ajax_submit.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var dialog = $(".messageBox").dialog(
            {
                autoOpen: false, 
                draggable: true, 
                modal: true,
                resizeable: false,
                show: 'slide',
                title: 'Alert',
                buttons: [{
                    text: "Ok",
                    click: function() { $(this).dialog("close"); }
                }]
            });
        function submit_item(form, url) {
            var result = $(form).submit_form(url, {type: 'table'})
            if (result) {
                dialog.dialog("open");
            }
        }
        $("#editSettingsSubmitButton").click(function() {
                //submit_item('.profileSettings','{% url save_settings %}');
                submit_item('#editSettingsForm','{% url save_settings %}');
            })
    });



</script>
<div id="editMySettings" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
    <form autocomplete="off" id="editSettingsForm" action="{% url save_settings %}" method="post"> 
        <table class="passwordChangeForm">
            {{ password_change_form.as_table }}
        </table>
        <table class="changeEmail">
            {{ change_email_form.as_table }}
        </table>
        <table class="profileSettings">
            {{ settings_form.as_table }}
        </table>
        {% csrf_token %}
        <div class="submit">
            <button type="submit" id="editSettingsSubmitButton" onclick="javascript:return false;">
                Save
            </button>
        </div>
    </form>   
</div>

<div class="messageBox" id="popup_container" title="Alert">
    <div id="popup_container" class="ui-dialog-content ui-widget-content alert">
        Settings updated.
    </div>
</div>
<!--
<div style="outline-width: 0px; outline-style: initial; outline-color: initial; top: 608px; left: 478px; display: block; z-index: 1002; height: auto; width: 300px; " class="ui-dialog ui-widget ui-widget-content ui-corner-all  ui-draggable messageBox" tabindex="-1" role="dialog" aria-labelledby="ui-dialog-title-popup_container">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
        <span class="ui-dialog-title" id="ui-dialog-title-popup_container">Alert</span>
        <a href="#" class="ui-dialog-titlebar-close ui-corner-all" role="button">
            <span class="ui-icon ui-icon-closethick">close</span>
        </a>
    </div>
    <div id="popup_container" class="ui-dialog-content ui-widget-content alert" style="width: auto; min-height: 27px; height: auto; top: 2.5px; left: 482.5px; ">
        Settings updated.
    </div>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix messageBoxButtons">
        <div class="ui-dialog-buttonset">
            <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only okButton" role="button">
                <span class="ui-button-text">
                    Ok
                </span>
            </button>
        </div>
    </div>
</div>
--!>
