body {
	font-family:'Helvetica Neue',Helvetica, Arial, sans-serif;
	background:#ECECEC;
	padding:0;
	margin:auto;
	font-size:62.5%;
	text-rendering: optimizeLegibility;
	text-align:center;
}

.hidden {
    display: none;
}

.ajax-loading {
    background: transparent url('../images/ajax_pink.gif') no-repeat center center;
    height: 18px;
    width: 162px;
}

#pay-form-submit-bt {
    height: 35px;
}

#upgrade_wrap {
	background:#fff;
	font-size:12px;
	margin:12px auto;
	padding:20px 10px;
	overflow:hidden;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	text-align:center;
	width: 950px;
	min-height: 430px;
	border:5px solid #333;
}

#upgrade_header {
	display: inline-block;
	text-align: center;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	background:url("{{ STATIC_PREFIX }}general_sprite.png") no-repeat scroll -606px -1292px #000000;
	border:1px solid #000000;
	height:60px;
	width:978px;
	margin: 10px 0 0 0;
}

#upgrade_header .logo {
	font-size: 18px;
	display: inline-block;
	float: left;
	margin:0 0 0 18px;
}

#upgrade_header .logo a {
	background:url("{{ STATIC_PREFIX }}general_sprite.png") no-repeat scroll -606px -1468px transparent;
	display:block;
	height:60px;
	text-indent:-9999px;
	width:133px;
}

#upgrade_header .logo a:hover {
	color:#ec2282;
	font-weight: 700;
	text-decoration: none;
}

#upgrade_header .top_warn, #upgrade_wrap .header .top_success {
	display: inline-block;
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	padding: 17px 0 0 10px;
	width: 600px;
	float: left;
	text-align: center;
}

#upgrade_header .top_success {
	background: #b0ed84;
	color:#275c01;
}

#upgrade_header .back_to {
	display: inline-block;
	float: right;
	margin:8px 0 0 0;
}

#upgrade_header .back_to a {
	color:#FFFFFF;
	display:block;
	font-size:16px;
	padding:10px 20px 0 0;
	text-decoration:none;
}

#upgrade_header .back_to a:hover {
	text-decoration: none;
}

#upgrade_wrap .fail-reason {
	font-weight: 700;
	font-size: 18px;
	color: #000;
	text-align: center;
}

#upgrade_wrap .descr h1.upgrade_today {
	font-size:36px;
	margin:0px 0 5px 0;
	padding:0;
	clear: both;
	color: #EC2282;
}

#upgrade_wrap .descr h2.seconds {
	font-size:18px;
	margin:5px 0 19px 0;
	padding:0;
	font-weight: normal;
}

#upgrade_wrap p.price {
	font-size:24px;
	margin:15px 0 10px 0;
	padding:0;
	font-weight: 700;
	color: #ec2282;
}

div.price_box {
	display: inline-block;
	width:300px;
	height:110px;
	text-align:center;
	padding:10px;
	margin:20px 10px 0 0;
	border:1px solid #d8d8d8;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	background: #fff;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(.3, #ffffff),
		color-stop(1, #f1f1f1)
	);
	background: -moz-linear-gradient(
		center top,
		#ffffff 70%,
		#f1f1f1 100%
	);
	background: gradient(
		center top,
		#ffffff 30%,
		#f1f1f1 100%
	);
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition-property: all 0.3s ease-in-out;
}

div.price_box:hover {
	-webkit-box-shadow: 0 0 10px #ccc;
	-moz-box-shadow:0 0 10px #ccc;
	box-shadow:0 0 10px #ccc;
	border:1px solid #fff;
	background: #fff;
	cursor: pointer;
}

div.price_box.last {
	padding:10px;
	margin:20px 0 0 0;
}

div.selected_value_box {
	border:1px solid #EC2282;
}

div.price_box.last:hover button {
	font-family:'Helvetica Neue',Helvetica, Arial, sans-serif;
	display: inline-block;
	min-height: 35px;
	margin: 5px;
	padding: 7px 12px;
	border: 1px solid #b60056;
	border-bottom-color: #940046;
	color: white;
	font-size: 12px;
	text-align: center;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
	text-decoration: none;

	/*Border radius*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	/*Background*/
	background: url('../images/btn_generic_bg.png') repeat-x #c1005b; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #ff81bd),
					color-stop(1, #c1005b)
				);
	background: -moz-linear-gradient(
					center top,
					#ff81bd 20%,
					#c1005b 100%
				);
	background: gradient(
					center top,
					#ff81bd 20%,
					#c1005b 100%
				);

	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/,
						inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/,
						0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/,
					inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/,
					0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/,
				inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/,
				0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
			}

			div.price_box label {
				font-weight:bold;
			}

			div.price_box h3.three_month {
				font-size:24px;
				margin:10px 0;
				padding:0;
				color:#EC2282;
			}

			div.price_box h3.one_month {
				font-size:24px;
				margin:10px 0;
				padding:0;
				font-weight:normal;
			}

			div.price_box .sub_text {
				color: #999;
				margin:10px 0;
			}

			div.price_box .sub_text p {
				color:#9;
				margin:2px 0;
				padding:0;
				text-shadow:0 1px 0 #fff;
			}

			#footer {
				font-size: 14px;
				margin:10px 0 0 0;
				color:#ccc;
				text-shadow:0 1px 0 #fff;
				margin:auto;
				text-align: center;
			}

			div.error-msg {
				background:none repeat scroll 0 0 #FBE3E4;
				border:2px solid #ec2222;
				color:#8A1F11;
				margin-bottom:11px;
				padding:8px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				max-width:640px;
				margin: auto;
				margin-bottom: 10px;
			}

			div.error-msg p {
				font-size: 14px;
				margin:0 0 5px 0;
			}

			div.error-msg span.transaction {
				font-size: 14px;
				font-weight: 700;
				margin:10px 0 0 0;
			}

			div.success-msg {
				background:none repeat scroll 0 0 #b0ed84;
				border:2px solid #51bf00;
				color:#275c01;
				margin-bottom:10px;
				padding:8px;
				-webkit-border-radius: 5px;
				-moz-border-radius: 5px;
				border-radius: 5px;
				max-width:640px;
				margin: auto;
				margin-bottom: 10px;
			}

			div.success-msg p {
				font-size: 14px;
				margin:0 0 5px 0;
			}

			div.success-msg span.transaction {
				font-size: 14px;
				font-weight: 700;
				margin:10px 0 0 0;
			}

			div.benefits {
				width: 350px;
				border-radius: 5px;
				float: right;
				text-align: left;
				padding: 20px 35px 0 0;
			}

			div.benefits h4 {
				font-size:16px;
				margin:0;
				text-align: left;
			}

			div.benefits ul {
				list-style-type: none;
				padding:0;
				margin: 15px 0 0 15px;
			}

			div.benefits ul li {
				font-size: 12px;
				margin:0 0 8px 0;
			}

			div.benefits ul li .bullet {
				background: url('../images/general_sprite.png') -1682px -370px no-repeat;
				padding: 0 14px 0 0;
				margin: 0px 5px 0 0;
			}

			div.best_value {
				position: relative;
				/*background: url('../images/best_value.png') no-repeat;*/
				background: url('../images/general_sprite.png') 0 0 no-repeat;
				width:59px;
				height:59px;
				top:158px;
				left:400px;
				z-index: 100;
				margin-top:-80px;
			}

			div.arrow {
				/*background: url('../images/upgrade_arrow.png') no-repeat;*/
				background:url("../images/general_sprite.png") no-repeat scroll -1636px -247px transparent;
				height:100px;
				left:160px;
				margin-top:-80px;
				position:relative;
				top:145px;
				width:73px;
				z-index:101;
			}


button,a.button,input.button {
	font-family:'Helvetica Neue',Helvetica, Arial, sans-serif;
	display: inline-block;
	min-height: 35px;
	margin: 5px;
	padding: 7px 12px;
	border: 1px solid #b60056;
	border-bottom-color: #940046;
	color: white;
	font-size: 12px;
	text-align: center;
	text-shadow: 0 -1px 0 hsla(0,0%,0%,.3);
	text-decoration: none;

	/*Border radius*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

	/*Background*/
	background: url('../images/btn_generic_bg.png') repeat-x #c1005b; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #ff81bd),
					color-stop(1, #c1005b)
				);
	background: -moz-linear-gradient(
					center top,
					#ff81bd 20%,
					#c1005b 100%
				);
	background: gradient(
					center top,
					#ff81bd 20%,
					#c1005b 100%
				);

	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/,
						inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/,
						0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/,
					inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/,
					0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.3) /*Top*/,
				inset 0 0 2px hsla(0,100%,100%,.3) /*Shine*/,
				0 1px 2px hsla(0, 0%, 0%, .29) /*Shadow*/;
}

button:hover,
button.hover,
button.active,
a.button:hover,
input.button:hover {
	/*Background*/
	background: #d91471; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #ee569e),
					color-stop(1, #a5004e)
				);
	background: -moz-linear-gradient(
					center top,
					#ee569e 20%,
					#a5004e 100%
				);
	cursor: pointer;
}

button:active,
button.active
a.button:active,
input.button:active {
	border-color: #940046;

	/*Box shadow*/
	-webkit-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
						0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	-moz-box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
					0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
	box-shadow: inset 0 0 7px hsla(0,0%,0%,.3) /*Shine*/,
				0 1px 0 hsla(0, 100%, 100%, 1) /*Shadow*/;
}

button.inactive,
a.button.inactive,
input.button.inactive {
	border: 1px solid #d5d5d5;
	border-bottom-color: #e6e2e2;
	color: #aeaeae;
	text-shadow: 0 1px 0 white;

	/*Background*/
	background: #98044a; /*Fallback*/
	background: -webkit-gradient(
					linear,
					left top,
					left bottom,
					color-stop(.2, #f3f3f3),
					color-stop(1, #e6e6e6)
				);
	background: -moz-linear-gradient(
					center top,
					#f3f3f3 20%,
					#e6e6e6 100%
				);

	/*Box shadow*/
	-webkit-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/,
						inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/,
						0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
	-moz-box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/,
					inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/,
					0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
	box-shadow: inset 0 1px 0 hsla(0,100%,100%,.5) /*Top*/,
					inset 0 0 2px hsla(0,100%,100%,.1) /*Shine*/,
					0 1px 0 hsla(0, 100%, 100%, .7) /*Shadow*/;
}

a#back-to-site, a#back-to-billing {
	height: 35px;
	padding: 0 12px;
	min-height: 0;
	line-height: 35px;
}

#pay-plan-iframe {margin-bottom:20px;}


/* Pay Form */

input {
	-moz-box-shadow:1px 2px 1px #ECECEC inset;
	border:1px solid #D8D8D8;
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size:12px;
}

#cnt-gradient {
	overflow: hidden;
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius:5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
	background: #fff;
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #ffffff),
		color-stop(1, #f1f1f1)
	);
	background: -moz-linear-gradient(
		center top,
		#ffffff 0%,
		#f1f1f1 100%
	);
	background: gradient(
		center top,
		#ffffff 0%,
		#f1f1f1 100%
	);
	border:1px solid #D8D8D8;
	width: 880px;
	margin: auto;
	text-align: center;
	margin-top: 20px;
}

#pay-container {
	text-align : left;
	float      : right;
	width      : 430px;
	min-height : 240px;
	overflow   : hidden;
	padding    : 5px 0 0 10px;
	border-left: 1px solid #D8D8D8;
}

#payment-form {
	/*margin-top: -10px; */
	margin-bottom: 10px;
}

form dt {
	float:left;
	clear: left;
	width: 100px;
	padding: 5px;
	padding-top: 10px;
	font-weight: 700;
}

form dd {
	float:left;
	padding: 5px;
	margin: 0;
}

#payment-form dd input {
	font-family:'Helvetica Neue',Helvetica, Arial, sans-serif;
	font-size:12px;
	-moz-box-shadow:1px 2px 1px #ECECEC inset;
	border:1px solid #D8D8D8;
	padding:6px 2px;
	width:271px;
	}

#payment-form dd input:focus {
	border-color:#F70073;
	}

#payment-form label {
	padding-top: 3px;
}

div.submit {
	clear:left;
	margin-left:110px;
}

.errorMessage {
	background:none repeat scroll 0 0 #FBE3E4;
	border:2px solid #FBC2C4;
	color:#8A1F11;
	margin-bottom:10px;
	margin-top: 5px;
	padding:4px;
}

#payment-form .errorMessage {
	width:264px;
}

#payment-form dt.amount-title label {
	font-size:18px;
}

.amount-price {
	margin-top: 5px;
	font-weight: normal;
	font-size: 18px;
}

#payment-form dt.line {
	height: 1px;
	background: #ccc;
	width: 425px;
	padding: 0;
	margin:10px 0;
}

#payment-form dt.title {
	width: 425px;
	text-align: center;
	margin:0 0 10px 0;
	padding: 0;
}

#payment-form dt.title h3 {
	margin:0;
	padding: 0;
	font-size: 24px;
}

#payment-form dt.title span {
	font-size: 10px;
	font-weight: normal;
}

#payment-form dd.zip input {
	width: 100px;
}

#payment-form dd.cvv input {
	width: 60px;
}

#payment-form dd.cvv a {
	color:#ec2182;
}

#payment-form #billingData .billingDataEntry .container {
	display: none;
}

#payment-form #billingData .active .container {
	display: block;
}

#cvv-card-preview {
	color:#ec2182;
	width: 266px;
	height: 179px;
	background: url('../images/cvv_visa.gif') no-repeat;
}

#pay-form-title {
	font-size: 24px;
	text-align: center;
	margin: 10px 0 0 0;
}

#pay-secure-text {
	text-align: center;
	margin: 0;
}

#what-is-cvv-text {
	width: 268px;
}

#upgrade-seal-cnt {
    margin: 32px 0 10px 0;
}

.split {
	border-top: 1px solid #d8d8d8;
	height: 1px;
}

.split, .clear { clear: both; margin: 10px 0; }

.billingDataEntry {overflow: hidden}

#billingData .submit{
	margin-top: 10px;
}

.oneClick dt { padding-top: 5px; }

